
doctype html
html(lang="zh-Hant-TW")
  head 
    meta(charset='utf8')
    include _head.jade
  body
    

    div
      h3 嗯<rt>ㄫ</rt>/<rt>ㆭ</rt>
      dl
        dd [情]
        dd
          u 國語
        dd  ＝<rt>ㄟˇ</rt>，表：同意、應諾。 例：～好吧(陸彙)。嗯<rt>ㄏㆭㆷ</rt>，抑<rt>ㄚㆷ</rt>無<rt>ㆠㄜˊ</rt>好<rt>ㄏㄜˋ</rt>喇(/啦)<rt>ㄌㄚ˪</rt>。.章首<img src="img/m3/fa4e.png">ˊ/<img src="img/m3/fa76.png">ˊ [ngˊ＝ŋ̣ˊ]

    div
      h3 嗯<rt>ㄫˊ</rt>ũ
      dl
        dd [情]
        dd
          u 國語
        dd  例：～，你說什麼？(廈)嗯<rt>ㆭˊ</rt>？汝<rt>ㄌㄧˋ</rt>講<rt>ㄍㆲˋ</rt>→<rt>ㄍㆲ</rt>甚<rt>ㄒㄧㆩˋ</rt>/<rt>ㄒㄧㆬ˫</rt>乜<rt>ㄇㄧㆷ</rt>。
        dd
          u 台
        dd 嗯<rt>ㄏㆭˊ</rt>/<rt>ㄏㆩˊ</rt>汝<rt>ㄌㄧˋ</rt>講<rt>ㄍㆲˋ</rt>→<rt>ㄍㆲ</rt>甚<rt>ㄙㆩˋ</rt>/<rt>ㄒㄧㆩˋ</rt>貨<rt>ㄏㆤ˪</rt>/<rt>ㄏㄨㆤ˪</rt>。
        dd
          u 國語
        dd .章首<img src="img/m3/fa4e.png">ˇ/<img src="img/m3/fa76.png">ˇ [ngˇ＝ŋ̣ˇ]

    div
      h3 嗯<rt>ㄫˇ</rt>/<rt>ㆭˇ</rt>
      dl
        dd [情]
        dd
          u 國語
        dd  歎詞。表示出乎意外或不以為然。 例：～，人到哪裏？(廈)嗯<rt>ㆭˋ</rt>/<rt>ㆭˊ</rt>，人<rt>ㄌㄤˊ</rt>哪<rt>ㄉㄜˋ</rt>落<rt>ㄌㄜㆷ ͘</rt>去<rt>ㄎㄧ˪</rt>？ 例：～，怎麼回事？(陸彙)。嗯<rt>ㄏㆭˊ</rt>，是<rt>ㄒㄧ˫</rt>按<rt>ㄢ˪</rt>怎<rt>ㄗㄨㆩˋ</rt>，甚(/啥：俗字)<rt>ㄒㄧㆩˋ</rt>/<rt>ㄙㆩˋ</rt>/<rt>ㄒㄧㄚˋ</rt>乜<rt>ㄇㄧㆷ</rt>(/甚<rt>ㄒㄧㆩˋ</rt>麼<rt>ㄇㄧㆷ</rt>)載<rt>ㄉㄞ˫</rt>(/戴<rt>ㄉㄞ˪</rt>)事<rt>ㄐㄧ˪</rt>(/事<rt>ㄉㄞ˫</rt>情<rt>ㄐㄧ˪</rt>)？.章首<img src="img/m3/fa4e.png">ˋ/<img src="img/m3/fa76.png">ˋ [ngˋ＝ŋ̣ˋ]

    div
      h3 嗯<rt>ㄫˋ </rt>/<rt>ㆭˋ</rt>
      dl
        dd [情]
        dd
          u 國語
        dd  表：答應。 例：～，我知道。(廈)嗯<rt>ㆭ˪</rt>，我<rt>ㆣㄨㄚˋ</rt>知<rt>ㄗㄞ</rt>影<rt>ㄧㆩˋ</rt>喇(/啦)<rt>ㄌㄚ˪</rt>。 又例：嗯，好吧(陸彙)。嗯<rt>ㄏㆭㆷ</rt>呣·<rt>ㆭ</rt>，好<rt>ㄏㄜˋ</rt>嗎<rt>ㄇㄚ˪</rt>(聲音放低說)。.章首<img src="img/m3/fa4e.png">ㄜˊ [nge/ŋeˊ]
