
doctype html
html(lang="zh-Hant-TW")
  head 
    meta(charset='utf8')
    include _head.jade
  body
    

    div
      h2 ㄫ/ㆭ  [ng＝ŋ̩]

    div
      h3 <ruby>嗯<rt>&thinsp;ㄫ/ㆭ&thinsp;</rt></ruby>
      dl
        dd [情]
        dd
          u 國語
        dd  ＝<rt>ㄟˇ</rt>，表：同意、應諾。 例：～好吧(陸彙)。<ruby>嗯<rt>&thinsp;ㄏㆭㆷ&thinsp;</rt></ruby>，<ruby>抑<rt>&thinsp;ㄚㆷ&thinsp;</rt></ruby><ruby>無<rt>&thinsp;ㆠㄜˊ&thinsp;</rt></ruby><ruby>好<rt>&thinsp;ㄏㄜˋ&thinsp;</rt></ruby><ruby>喇<rt>&thinsp;ㄌㄚ˪&thinsp;</rt></ruby>(/啦)。

    div
      h2 ㄫˊ/ㆭˊ  [ngˊ＝ŋ̩ˊ]

    div
      h3 <ruby>嗯<rt>&thinsp;ㄫˊ&thinsp;</rt></ruby>ũ
      dl
        dd [情]
        dd
          u 國語
        dd  例：～，你說什麼？(廈)<ruby>嗯<rt>&thinsp;ㆭˊ&thinsp;</rt></ruby>？<ruby>汝<rt>&thinsp;ㄌ丨ˋ&thinsp;</rt></ruby><ruby>講<rt>&thinsp;ㄍㆲˋ→ㄍㆲ&thinsp;</rt></ruby><ruby>甚<rt>&thinsp;ㄒ丨ㆩˋ/ㄒ丨ㆬ˫&thinsp;</rt></ruby><ruby>乜<rt>&thinsp;ㄇ丨ㆷ&thinsp;</rt></ruby>。
        dd
          u 台
        dd <ruby>嗯<rt>&thinsp;ㄏㆭˊ/ㄏㆩˊ&thinsp;</rt></ruby><ruby>汝<rt>&thinsp;ㄌ丨ˋ&thinsp;</rt></ruby><ruby>講<rt>&thinsp;ㄍㆲˋ→ㄍㆲ&thinsp;</rt></ruby><ruby>甚<rt>&thinsp;ㄙㆩˋ/ㄒ丨ㆩˋ&thinsp;</rt></ruby><ruby>貨<rt>&thinsp;ㄏㆤ˪/ㄏㄨㆤ˪&thinsp;</rt></ruby>。

    div
      h2 ㄫˇ/ㆭˇ  [ngˇ＝ŋ̩ˇ]

    div
      h3 <ruby>嗯<rt>&thinsp;ㄫˇ/ㆭˇ&thinsp;</rt></ruby>
      dl
        dd [情]
        dd
          u 國語
        dd  歎詞。表示出乎意外或不以為然。 例：～，人到哪裏？(廈)<ruby>嗯<rt>&thinsp;ㆭˋ/ㆭˊ&thinsp;</rt></ruby>，<ruby>人<rt>&thinsp;ㄌㄤˊ&thinsp;</rt></ruby><ruby>哪<rt>&thinsp;ㄉㄜˋ&thinsp;</rt></ruby><ruby>落<rt>&thinsp;ㄌㄜㆷ̇&thinsp;</rt></ruby><ruby>去<rt>&thinsp;ㄎ丨˪&thinsp;</rt></ruby>？ 例：～，怎麼回事？(陸彙)。<ruby>嗯<rt>&thinsp;ㄏㆭˊ&thinsp;</rt></ruby>，<ruby>是<rt>&thinsp;ㄒ丨˫&thinsp;</rt></ruby><ruby>按<rt>&thinsp;ㄢ˪&thinsp;</rt></ruby><ruby>怎<rt>&thinsp;ㄗㄨㆩˋ&thinsp;</rt></ruby>，<ruby>甚<rt>&thinsp;ㄒ丨ㆩˋ/ㄙㆩˋ/ㄒ丨ㄚˋ&thinsp;</rt></ruby>(/啥：俗字)<ruby>乜<rt>&thinsp;ㄇ丨ㆷ&thinsp;</rt></ruby>(/<ruby>甚<rt>&thinsp;ㄒ丨ㆩˋ&thinsp;</rt></ruby><ruby>麼<rt>&thinsp;ㄇ丨ㆷ&thinsp;</rt></ruby>)<ruby>載<rt>&thinsp;ㄉㄞ˫&thinsp;</rt></ruby>(/<ruby>戴<rt>&thinsp;ㄉㄞ˪&thinsp;</rt></ruby>)<ruby>事<rt>&thinsp;ㄐ丨˪&thinsp;</rt></ruby>(/<ruby>事<rt>&thinsp;ㄉㄞ˫&thinsp;</rt></ruby><ruby>情<rt>&thinsp;ㄐ丨˪&thinsp;</rt></ruby>)？

    div
      h2 ㄫˋ/ㆭˋ  [ngˋ＝ŋ̩ˋ]

    div
      h3 <ruby>嗯<rt>&thinsp;ㄫˋ/ㆭˋ&thinsp;</rt></ruby>
      dl
        dd [情]
        dd
          u 國語
        dd  表：答應。 例：～，我知道。(廈)<ruby>嗯<rt>&thinsp;ㆭ˪&thinsp;</rt></ruby>，<ruby>我<rt>&thinsp;ㆣㄨㄚˋ&thinsp;</rt></ruby><ruby>知<rt>&thinsp;ㄗㄞ&thinsp;</rt></ruby><ruby>影<rt>&thinsp;丨ㆩˋ&thinsp;</rt></ruby><ruby>喇<rt>&thinsp;ㄌㄚ˪&thinsp;</rt></ruby>(/啦)。 又例：嗯，好吧(陸彙)。<ruby>嗯<rt>&thinsp;ㄏㆭㆷ&thinsp;</rt></ruby><ruby>呣<rt>&thinsp;˙ㆭ&thinsp;</rt></ruby>，<ruby>好<rt>&thinsp;ㄏㄜˋ&thinsp;</rt></ruby><ruby>嗎<rt>&thinsp;ㄇㄚ˪&thinsp;</rt></ruby>(聲音放低說)。

    div
      h2 ㄫㄜˊ  [nge/ŋeˊ]
