
doctype html
html(lang="zh-Hant-TW")
  head
    meta(charset='utf8')
    include _head.jade
  body

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      .UC
      .PO 2.942
      .LL 17
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      目錄
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      ─────────────────────────
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      上冊
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      編輯緣起──代序                              1
      凡例                                          7
      辭典正文
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      ㄅ     1    ㄉ   365    ㄍ   800    ㄐ  1140
      ㄆ   113    ㄊ   483    ㄎ   930    ㄑ  1328
      ㄇ   190    ㄋ   586    ㄫ  1012
      ㄈ   294    ㄌ   647    ㄏ  1013
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      下冊
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      ㄒ  1450    ㄚ  2310    ㄢ  2342    ㄧ  2357
      ㄓ  1619    ㄛ  2312    ㄣ  2347    ㄨ  2531
      ㄔ  1800    ㄜ  2313    ㄤ  2348    ㄩ  2616
      ㄕ  1904    ㄝ  2321    ㄥ  2349
      ㄖ  2061    ㄞ  2322    <img src="img/m3/fa70.png">  2350
      ㄗ  2112    ㄟ  2329    <mark>&#xf815e;</mark>  2350
      ㄘ  2192    ㄠ  2330    ㄦ  2350
      ㄙ  2244    ㄡ  2336
      ㆬ  2341
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      附錄
      華語、臺語注音符號溯源                      2681
      綜合閩南方言拼音總表                        2693
      各種方音音標對照                            2721
      注音查字表                                  2727
      部首查字表                                  2771
      總筆劃查字表                                2809
