
doctype html
html(lang="zh-Hant-TW")
  head
    meta(charset='utf8')
    include _head.jade
  body

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      .UC
      .PO 2.07
      .LL 17.54
      .HE
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      .EH
      .FO
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      .TL,еҗ„зЁ®ж–№йҹійҹіжЁҷе°Қз…§ - #p2721, 2000.06.11
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      .EF
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      .TL,еҗ„зЁ®ж–№йҹійҹіжЁҷе°Қз…§

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      иӘӘжҳҺпјҡ
      пјҲдёҖпјүжјўжіЁпјҡжјўеӯ—жіЁйҹіз¬ҰиҷҹпјҢеҚіж•ҷиӮІйғЁй ’йғЁеңӢиӘһжіЁйҹіз¬Ұиҷҹз¬¬дёҖејҸеҸҠж–№йҹій–ҸиҷҹпјҢ
      з”ұжјўеӯ—з°ЎеҢ–иҖҢжҲҗзҡ„йҹіжЁҷгҖӮ
      пјҲдәҢпјүжјўеӯ—пјҡжјўеӯ—жіЁйҹідҫӢпјҲиҮәпјҡиҮәйҹі)(иҸҜпјҡиҸҜйҹіпјүгҖӮ
      пјҲдёүпјүиҸҜиҮәпјҡиҸҜиҮәйҹіжЁҷ (Mandarin & Taiwanese Phonetic Alphabet, MTPA)пјҢ
      жҠҠеҗ„зЁ®зҫ…йҰ¬йҹіжЁҷдёӯпјҢеҸ–е…¶жҳ“иЁҳгҖҒжҳ“ијёе…Ҙзҡ„йҹіжЁҷдҪҝз”ЁгҖӮ
      пјҲеӣӣпјүTLPAпјҡиҮәзҒЈиӘһиЁҖйҹіжЁҷ (Taiwan Language Phonetic Alphabet)гҖӮ
      пјҲдә”пјүеңӢйҡӣпјҡеңӢйҡӣйҹіжЁҷ (International Phonetic Alphabet, IPA)пјҢеңӢйҡӣеӯёиЎ“
      дёҠжүҖдҪҝз”Ёзҡ„жӢјйҹігҖӮ
      пјҲе…ӯпјүз”ҳе…ёпјҡз”ҳзӮәйң–и‘—е»Ҳй–Җйҹіж–°еӯ—е…ёпјҲж•ҷжңғдҪҝз”Ёзҡ„зҫ…йҰ¬еӯ—жҜҚпјүгҖӮ
      пјҲдёғпјүжјўй–©пјҡдёӯеңӢжјўиӘһиҲҮй–©еҚ—ж–№иЁҖжӢјйҹіж–№жЎҲгҖӮ
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      иЁ»и§Јпјҡ
      пјҲдёҖпјүгҖҢ'гҖҚжӯӨз¬ҰеңЁ p, t, k иҒІжҜҚзҡ„еҸідёҠи§’иЎЁзӨәйҖҒж°ЈгҖӮ
      пјҲдәҢпјүгҖҢ'гҖҚжӯӨз¬ҰеңЁе…ҘиҒІ h, p, t, k зҡ„е·ҰдёҠи§’пјҢеҰӮпјҡпҪһ'h, пҪһ'p, пҪһ't, пҪһ'kпјҢ
      иЎЁзӨәйҷҪе…ҘпјҲдёӢе…ҘпјүиҒІгҖӮ
      пјҲдёүпјүжӢ¬иҷҹ( )е…§д№ӢйҹіпјҢиЎЁеӯ—жҜҚе–®зҚЁзҷјйҹіжҷӮдҪҝз”ЁеҲ°пјҢиҲҮе…¶д»–йҹізӣёжӢјжҷӮеүҮзңҒз•ҘгҖӮ
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      дёҖгҖҒиҒІжҜҚ
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      (дёҖ)    (дәҢ)           (дёү)    (еӣӣ)    (дә”)    (е…ӯ)    (дёғ)
      жјўжіЁ    жјўеӯ—           иҸҜиҮә    TLPA    еңӢйҡӣ    з”ҳе…ё    жјўй–©
      (иҮә)    (иҸҜ)
      г„…    <ruby>йӮҠ<rt>&thinsp;г„…дёЁг„ў&thinsp;</rt></ruby><ruby>еёғ<rt>&thinsp;г„…гҶҰЛӘ&thinsp;</rt></ruby>  <ruby>йӮҠ<rt>&thinsp;г„…дёЁг„ў&thinsp;</rt></ruby>    b       p       p       p       b
      гҶ     <ruby>ж–Ү<rt>&thinsp;гҶ г„Ёг„ЈЛҠ&thinsp;</rt></ruby><ruby>жңЁ<rt>&thinsp;гҶ гҶҰгҶ¶МҮ&thinsp;</rt></ruby>  в–Ў      bb      b       b       bпјҸm    bb
      г„Ҷ    <ruby>жіў<rt>&thinsp;г„Ҷг„ң&thinsp;</rt></ruby><ruby>й…Қ<rt>&thinsp;г„Ҷг„ЁгҶӨЛӘ&thinsp;</rt></ruby>  <ruby>жіў<rt>&thinsp;г„Ҷг„ӣ&thinsp;</rt></ruby>    p       ph      p'      ph      p
      г„Ү    <ruby>й–Җ<rt>&thinsp;г„ҮгҶӯЛҠ&thinsp;</rt></ruby><ruby>жЈү<rt>&thinsp;г„ҮдёЁЛҠ&thinsp;</rt></ruby>  <ruby>й–Җ<rt>&thinsp;г„Үг„ЈЛҠ&thinsp;</rt></ruby>    m       m       m       m       m
      г„Ҳ    в–Ў  в–Ў    <ruby>йўЁ<rt>&thinsp;г„Ҳг„Ҙ&thinsp;</rt></ruby>    f       f       f       в–Ў      f
      г„Ә    (иҳҮгҖҒе®ўйҹі)        v       v       v       в–Ў      в–Ў
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      г„ү    <ruby>иӮҡ<rt>&thinsp;г„үгҶҰЛ«&thinsp;</rt></ruby><ruby>ең°<rt>&thinsp;г„үгҶӨ&thinsp;</rt></ruby>  <ruby>ең°<rt>&thinsp;г„үдёЁЛӢ&thinsp;</rt></ruby>    d       t       t       t       d
      <img src="img/m3/fa47.png">    еҸЁ<rt><img src="img/m3/fa47.png">г„ң</rt>еҖӢ<rt><img src="img/m3/fa47.png">гҶӨЛҠ</rt>(зҪ•з”Ё)    dd      в–Ў      d       в–Ў      в–Ў
      г„Ҡ    <ruby>еӨ©<rt>&thinsp;г„ҠгҶі&thinsp;</rt></ruby><ruby>д»–<rt>&thinsp;г„Ҡг„ҡ&thinsp;</rt></ruby>  <ruby>д»–<rt>&thinsp;г„Ҡг„ҡ&thinsp;</rt></ruby>    t       th      t'      th      t
      г„Ӣ    <ruby>еЁҳ<rt>&thinsp;г„ӢдёЁг„ҡЛҠ&thinsp;</rt></ruby><ruby>иҖҗ<rt>&thinsp;г„Ӣг„һЛ«&thinsp;</rt></ruby>  <ruby>иҖҗ<rt>&thinsp;г„Ӣг„һЛӢ&thinsp;</rt></ruby>    n       n       n       n       n
      г„Ң    <ruby>зҰ®<rt>&thinsp;г„ҢгҶӨЛӢ&thinsp;</rt></ruby><ruby>жҹі<rt>&thinsp;г„ҢдёЁг„ЁЛӢ&thinsp;</rt></ruby>  <ruby>жәң<rt>&thinsp;г„ҢдёЁг„Ў&thinsp;</rt></ruby>    l       l       l       l(n)    l
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      г„Қ    <ruby>е…ү<rt>&thinsp;г„ҚгҶІ&thinsp;</rt></ruby><ruby>жұӮ<rt>&thinsp;г„ҚдёЁг„ЁЛҠ&thinsp;</rt></ruby>  <ruby>жұӮ<rt>&thinsp;г„‘дёЁг„ЎЛҠ&thinsp;</rt></ruby>    g       k       k       k       g
      гҶЈ    <ruby>йөқ<rt>&thinsp;гҶЈг„ңЛҠ&thinsp;</rt></ruby><ruby>иӘһ<rt>&thinsp;гҶЈдёЁЛӢ&thinsp;</rt></ruby>  в–Ў      gg      g       g       g       gg
      г„Һ    <ruby>иҖғ<rt>&thinsp;г„Һг„ңЛӢ&thinsp;</rt></ruby><ruby>еҺ»<rt>&thinsp;г„ҺдёЁЛӘ&thinsp;</rt></ruby>  <ruby>з§‘<rt>&thinsp;г„Һг„ң&thinsp;</rt></ruby>    k       kh      k'      kh      k
      г„«    <ruby>еҗі<rt>&thinsp;г„«гҶҰЛҠ&thinsp;</rt></ruby><ruby>йӣ…<rt>&thinsp;г„«г„ҡЛӢ&thinsp;</rt></ruby>  в–Ў      ng      ng      ЕӢМ©      ng      ng
      г„Ҹ    <ruby>иҠұ<rt>&thinsp;г„Ҹг„Ёг„ҡ&thinsp;</rt></ruby><ruby>е–ң<rt>&thinsp;г„ҸдёЁЛӢ&thinsp;</rt></ruby>  <ruby>е‘ј<rt>&thinsp;г„Ҹг„Ё&thinsp;</rt></ruby>    h       h       h       h       h
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      г„җ    <ruby>йҢў<rt>&thinsp;г„җгҶіЛҠ&thinsp;</rt></ruby><ruby>иІһ<rt>&thinsp;г„җдёЁг„Ҙ&thinsp;</rt></ruby>  <ruby>ж©ҹ<rt>&thinsp;г„җдёЁ&thinsp;</rt></ruby>    j(i)    c       tЙ•     ch      j
      гҶў    <ruby>дәҢ<rt>&thinsp;гҶўдёЁЛ«&thinsp;</rt></ruby><ruby>е…Ҙ<rt>&thinsp;гҶўдёЁгҶҙМҮ&thinsp;</rt></ruby>  в–Ў      jj      j       dК‘     ji      jj
      г„‘    <ruby>еҚғ<rt>&thinsp;г„‘дёЁг„ў&thinsp;</rt></ruby><ruby>дёғ<rt>&thinsp;г„‘дёЁгҶө&thinsp;</rt></ruby>  <ruby>дёғ<rt>&thinsp;г„‘дёЁ&thinsp;</rt></ruby>    ch(i)   ch      tЙ•'    chh     q
      е№ҝ    <ruby>иҖі<rt>&thinsp;г„¬дёЁЛӢ&thinsp;</rt></ruby>в–Ў    в–Ў      ng(i)   ng(i)   nК‘     в–Ў      в–Ў
      г„’    <ruby>е…Ҳ<rt>&thinsp;г„’дёЁг„ў&thinsp;</rt></ruby><ruby>жҷӮ<rt>&thinsp;г„’дёЁЛҠ&thinsp;</rt></ruby>  <ruby>иҘҝ<rt>&thinsp;г„’дёЁ&thinsp;</rt></ruby>    si      s       Й•      si      s(i)
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      г„—    <ruby>иҲ№<rt>&thinsp;г„—г„Ёг„ЈЛҠ&thinsp;</rt></ruby><ruby>жӣҫ<rt>&thinsp;г„—г„ў&thinsp;</rt></ruby>  <ruby>иіҮ<rt>&thinsp;г„—&thinsp;</rt></ruby>    tz      c       ts      ts      z
      гҶЎ    <ruby>зҶұ<rt>&thinsp;гҶЎг„Ёг„ҡгҶ·МҮ&thinsp;</rt></ruby><ruby>еҰӮ<rt>&thinsp;гҶЎг„ЁЛҠ&thinsp;</rt></ruby>  в–Ў      zz      j       dz      ju      zz
      г„ҳ    <ruby>йҶӢ<rt>&thinsp;г„ҳгҶҰЛӘ&thinsp;</rt></ruby><ruby>еҮә<rt>&thinsp;г„ҳг„ЁгҶө&thinsp;</rt></ruby>  <ruby>йӣҢ<rt>&thinsp;г„ҳЛҠ&thinsp;</rt></ruby>    ts      ch      ts'     chh     c
      г„ҷ    <ruby>иҳҮ<rt>&thinsp;г„ҷгҶҰ&thinsp;</rt></ruby><ruby>еҸё<rt>&thinsp;г„ҷг„Ё&thinsp;</rt></ruby>  <ruby>еҸё<rt>&thinsp;г„ҷ&thinsp;</rt></ruby>    s       s       s       s       s
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      г„“    в–Ў  в–Ў    <ruby>зҹҘ<rt>&thinsp;г„“&thinsp;</rt></ruby>    z       z       tКӮ     в–Ў      zh
      г„”    в–Ў  в–Ў    <ruby>еҗғ<rt>&thinsp;г„”&thinsp;</rt></ruby>    zh      zh      tКӮ'    в–Ў      ch
      г„•    в–Ў  в–Ў    <ruby>еӨұ<rt>&thinsp;г„•&thinsp;</rt></ruby>    sh      sh      КӮ      в–Ў      sh
      г„–    в–Ў  в–Ў    <ruby>ж—Ҙ<rt>&thinsp;г„–ЛӢ&thinsp;</rt></ruby>    r       r       Кҗ      в–Ў      r
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      дәҢгҖҒйҹ»жҜҚ
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      (дёҖ)    (дәҢ)           (дёү)    (еӣӣ)    (дә”)    (е…ӯ)    (дёғ)
      жјўжіЁ    жјўеӯ—           иҸҜиҮә    TLPA    еңӢйҡӣ    з”ҳе…ё    жјўй–©
      (иҮә)    (иҸҜ)
      г„ҡ    <ruby>дәһ<rt>&thinsp;г„ҡ&thinsp;</rt></ruby><ruby>йҳҝ<rt>&thinsp;г„ҡ&thinsp;</rt></ruby>  <ruby>йҳҝ<rt>&thinsp;г„ҡ&thinsp;</rt></ruby>    a       a       a       a       a
      г„ҡгҶ·  <ruby>жҢ–<rt>&thinsp;дёЁг„ҡгҶ·&thinsp;</rt></ruby><ruby>йҙЁ<rt>&thinsp;г„ҡгҶ·&thinsp;</rt></ruby>  в–Ў      ah      ah      aЛҖ     ah      ah
      гҶ©    <ruby>йӨЎ<rt>&thinsp;гҶ©Л«&thinsp;</rt></ruby><ruby>иЎ«<rt>&thinsp;г„ҷгҶ©&thinsp;</rt></ruby>  в–Ў      ann     ann     aМғ      aвҒҝ     na
      гҶ©гҶ·  <ruby>зҶҮ<rt>&thinsp;г„ҸгҶ©гҶ·&thinsp;</rt></ruby>в–Ў    в–Ў      ahnn    ah     aМғЛҖ     ahвҒҝ    nah
      гҶҰ    <ruby>иӢҰ<rt>&thinsp;г„ҺгҶҰЛӢ&thinsp;</rt></ruby><ruby>зғҸ<rt>&thinsp;гҶҰ&thinsp;</rt></ruby>  в–Ў      oo      oo      Й”      oНҳ      oo
      гҶ§    <ruby>еҘҪ<rt>&thinsp;г„ҸгҶ§ЛӢ&thinsp;</rt></ruby><ruby>еҚҲ<rt>&thinsp;г„«гҶҰЛӢ&thinsp;</rt></ruby>  в–Ў      oonn    oonn/   Й”Мғ      oНҳвҒҝ    noo
      onn
      гҶ§гҶ·  <ruby>иҶң<rt>&thinsp;г„ҮгҶҰгҶ·&thinsp;</rt></ruby>в–Ў    в–Ў      oohnn   oonnh/ Й”МғЛҖ     в–Ў      nooh
      onnh
      г„ӣ    <ruby>еҘҪ<rt>&thinsp;г„Ҹг„ӣЛӢ&thinsp;</rt></ruby><ruby>и ”<rt>&thinsp;г„ӣЛҠ&thinsp;</rt></ruby>  <ruby>е–”<rt>&thinsp;г„ӣ&thinsp;</rt></ruby>    o       o       o       o       o
      г„ӣгҶ·  <ruby>еӯё<rt>&thinsp;г„ӣгҶ·&thinsp;</rt></ruby>в–Ў    в–Ў      oh      oh      oЛҖ     oh      oh
      г„ң/   <ruby>зҒ«<rt>&thinsp;г„Ҹг„ңЛӢ&thinsp;</rt></ruby><ruby>и ”<rt>&thinsp;г„ңЛҠ&thinsp;</rt></ruby>  <ruby>е©Җ<rt>&thinsp;г„ң&thinsp;</rt></ruby>    er      er      Йҷ/Йҳ   o       o
      <img src="img/m3/fa62.png">    з§‘<rt>г„Һ<img src="img/m3/fa62.png"></rt>в–Ў    в–Ў      eer     в–Ў      ЙӨ      в–Ў      в–Ў
      г„ңгҶ·/ <ruby>еӯё<rt>&thinsp;г„ңгҶ·МҮ&thinsp;</rt></ruby><ruby>йғӯ<rt>&thinsp;г„Қг„ңгҶ·&thinsp;</rt></ruby>  в–Ў      erh     erh    ЙҷЛҖ/ЙҳЛҖoh      oh
      <img src="img/m3/fa62.png">гҶ·  йғӯ<rt>г„Қ<img src="img/m3/fa62.png">гҶ·</rt>(жіү)  в–Ў      eerh    в–Ў      ЙӨЛҖ    в–Ў      в–Ў
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      гҶӨ    <ruby>е•һ<rt>&thinsp;гҶӨ&thinsp;</rt></ruby><ruby>зҹ®<rt>&thinsp;гҶӨЛӢ&thinsp;</rt></ruby>  в–Ў      e       e       e       e       e
      гҶӨгҶ·  <ruby>йӣӘ<rt>&thinsp;г„ҷгҶӨгҶ·&thinsp;</rt></ruby><ruby>еҺ„<rt>&thinsp;гҶӨгҶ·&thinsp;</rt></ruby>  в–Ў      eh      eh      eЛҖ     eh      eh
      гҶҘ    <ruby>з”ҹ<rt>&thinsp;г„ҷгҶҘ&thinsp;</rt></ruby><ruby>е¬°<rt>&thinsp;гҶҘ&thinsp;</rt></ruby>  в–Ў      enn     enn     eМғ      e       ne
      гҶҘгҶ·  <ruby>иҺў<rt>&thinsp;г„«гҶӨгҶ·&thinsp;</rt></ruby>в–Ў    в–Ў      ehnn    ehnn   eМғЛҖ     ehвҒҝ    neh
      г„қ    <ruby>е®¶<rt>&thinsp;г„Қг„қ&thinsp;</rt></ruby>(жјі)  <ruby>еҷҺ<rt>&thinsp;дёЁг„қ&thinsp;</rt></ruby>    ee      ee      Йӣ      в–Ў      в–Ў
      г„қгҶ·  <ruby>ж ј<rt>&thinsp;г„Қг„қгҶ·&thinsp;</rt></ruby>(жјі)  в–Ў      eeh     eeh    ЙӣЛҖ     в–Ў      в–Ў
      <mark>&#xf93c4;</mark>    е¬°<mark>&#xf93c2;</mark>(жјі)  в–Ў      eenn    eenn    ЙӣМғ      в–Ў      в–Ў
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      г„һ    <ruby>ж„ӣ<rt>&thinsp;г„һЛӘ&thinsp;</rt></ruby><ruby>е“Җ<rt>&thinsp;г„һ&thinsp;</rt></ruby>  <ruby>е“Җ<rt>&thinsp;г„һ&thinsp;</rt></ruby>    ai      ai      ai      ai      ai
      г„һгҶ·  в–Ў  в–Ў    в–Ў      aih     aih     aiЛҖ    aih     aih
      гҶ®    <ruby>жҸ№<rt>&thinsp;гҶ®&thinsp;</rt></ruby><ruby>й–‘<rt>&thinsp;гҶ®ЛҠ&thinsp;</rt></ruby>(еҗҢе®ү)    ainn    ainn    aiМғ      aiвҒҝ    nai
      гҶ®гҶ·  <ruby>е”·<rt>&thinsp;гҶ®гҶ·&thinsp;</rt></ruby>в–Ў    в–Ў      aihnn   ainnh   aiМғЛҖ    aihвҒҝ   naih
      г„     <ruby>з”Ң<rt>&thinsp;г„ &thinsp;</rt></ruby><ruby>еҮ№<rt>&thinsp;г„ &thinsp;</rt></ruby>  <ruby>еҮ№<rt>&thinsp;г„ &thinsp;</rt></ruby>    au      au      au      au      au
      г„ гҶ·  в–Ў  в–Ў    в–Ў      auh     auh     auЛҖ    в–Ў      auh
      гҶҜ    <ruby>и—•<rt>&thinsp;г„«г„ Л«&thinsp;</rt></ruby>в–Ў    в–Ў      aunn    aunn    auМғ      auвҒҝ    nau
      гҶҜгҶ·  в–Ў  в–Ў    в–Ў      auhnn   aunnh   auМғЛҖ    в–Ў      nauh
      г„Ў    в–Ў  в–Ў    <ruby>жӯҗ<rt>&thinsp;г„Ў&thinsp;</rt></ruby>    ou      ou      ou      в–Ў      ou
      г„ңгҶӨ  жҢЁ  йһӢ(жіү)в–Ў      ere     ere    Йҳe/Йҷe  oe      oe
      г„ңгҶӨгҶ·зӢ№(жіү)    в–Ў      ereh    ereh   ЙҳeЛҖ/   oeh     oeh
      ЙҷeЛҖ
      гҶ°    <ruby>жҡ—<rt>&thinsp;гҶ°ЛӘ&thinsp;</rt></ruby><ruby>з”ҳ<rt>&thinsp;г„ҚгҶ°&thinsp;</rt></ruby>  в–Ў      am      am      amМ©     am      am
      г„ҡгҶҙ  <ruby>еЈ“<rt>&thinsp;г„ҡгҶҙ&thinsp;</rt></ruby><ruby>еҗҲ<rt>&thinsp;г„Қг„ҡгҶҙ&thinsp;</rt></ruby>  в–Ў      ap      ap      ap      ap      ap
      гҶұ    <ruby>жҺ©<rt>&thinsp;гҶұ&thinsp;</rt></ruby><ruby>еҸғ<rt>&thinsp;г„ҷгҶұ&thinsp;</rt></ruby>(жјі)      oom     oom    Й”mМ©     om      oom
      гҶҰгҶҙ  в–Ў  в–Ў    в–Ў      oop     oop     Й”p     op      oop
      гҶ¬    <ruby>е§Ҷ<rt>&thinsp;гҶ¬ЛӢ&thinsp;</rt></ruby>в–Ў    в–Ў      m       m       mМ©      m       m
      гҶ¬гҶ·  <ruby>й»ҳ<rt>&thinsp;гҶ¬гҶ·&thinsp;</rt></ruby>в–Ў    в–Ў      mh      mh      mМ©ЛҖ    в–Ў      mh
      <img src="img/m3/fa70.png">    (зҪ•з”Ё)    е§Ҷ<rt><img src="img/m3/fa70.png"></rt>    m       m       mМ©      в–Ў      в–Ў
      г„ў    <ruby>йҷҗ<rt>&thinsp;г„Ҹг„ўЛ«&thinsp;</rt></ruby><ruby>е®ү<rt>&thinsp;г„ў&thinsp;</rt></ruby>  <ruby>е®ү<rt>&thinsp;г„ў&thinsp;</rt></ruby>    an      an      an      an      an
      г„ҡгҶө  <ruby>йҒҸ<rt>&thinsp;г„ҡгҶө&thinsp;</rt></ruby><ruby>жјҶ<rt>&thinsp;г„ҳг„ҡгҶө&thinsp;</rt></ruby>  в–Ў      at      at      at      at      at
      г„Ј    <ruby>жҒ©<rt>&thinsp;г„Ёг„Ј&thinsp;</rt></ruby>в–Ў    <ruby>жҒ©<rt>&thinsp;г„Ј&thinsp;</rt></ruby>   (e)n    (e)n     en      en      en
      г„Ө    <ruby>е°Ә<rt>&thinsp;г„Ө&thinsp;</rt></ruby><ruby>зҝҒ<rt>&thinsp;г„Ө&thinsp;</rt></ruby>  <ruby>йӘҜ<rt>&thinsp;г„Ө&thinsp;</rt></ruby>    ang     ang     aЕӢМ©     ang     ang
      г„ҡгҶ¶  <ruby>жҸЎ<rt>&thinsp;г„ҡгҶ¶&thinsp;</rt></ruby><ruby>и§’<rt>&thinsp;г„Қг„ҡгҶ¶&thinsp;</rt></ruby>  в–Ў      ak      ak      ak      ak      ak
      гҶІ    <ruby>зҝҒ<rt>&thinsp;гҶІ&thinsp;</rt></ruby><ruby>зҺӢ<rt>&thinsp;гҶІЛҠ&thinsp;</rt></ruby>  в–Ў      ong     ong    Й”ЕӢМ©     ong     ong
      гҶҰгҶ¶  <ruby>жғЎ<rt>&thinsp;гҶҰгҶ¶&thinsp;</rt></ruby><ruby>зҰҸ<rt>&thinsp;г„ҸгҶҰгҶ¶&thinsp;</rt></ruby>  в–Ў      ook     ook/ok Й”k      ok      ok
      г„Ҙ   (дёҚе–®з”Ё)   <ruby>йһҘ<rt>&thinsp;г„Ҙ&thinsp;</rt></ruby>    eng     eng/ng ЙҷЕӢМ©     eng     eng
      гҶӯ    <ruby>з§§<rt>&thinsp;гҶӯ&thinsp;</rt></ruby>в–Ў    в–Ў      ng      ng       ЕӢМ©     ng      ng
      гҶӯгҶ·  <ruby>зү©<rt>&thinsp;г„ҮгҶӯгҶ·МҮ&thinsp;</rt></ruby>в–Ў    в–Ў      ngh     ngh    ЕӢЛҖ     в–Ў      ngh
      г„Ұ    в–Ў  в–Ў    <ruby>е…’<rt>&thinsp;г„Ұ&thinsp;</rt></ruby>    er      er      Йҡ      в–Ў      er,r
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      дёЁ    <ruby>жӨ…<rt>&thinsp;дёЁЛӢ&thinsp;</rt></ruby><ruby>иЎЈ<rt>&thinsp;дёЁ&thinsp;</rt></ruby>  <ruby>иЎЈ<rt>&thinsp;дёЁ&thinsp;</rt></ruby>    i       i       i       i       i
      дёЁгҶ·  <ruby>иҲҢ<rt>&thinsp;г„җдёЁгҶ·МҮ&thinsp;</rt></ruby><ruby>йҗө<rt>&thinsp;г„ҠдёЁгҶ·&thinsp;</rt></ruby>  в–Ў      ih      ih      iЛҖ     ih      ih
      гҶі    <ruby>зҮ•<rt>&thinsp;гҶіЛӘ&thinsp;</rt></ruby><ruby>еӨ©<rt>&thinsp;г„ҠгҶі&thinsp;</rt></ruby>  в–Ў      inn     enn    eМғ       iвҒҝ     ni
      гҶігҶ·  <ruby>зү©<rt>&thinsp;г„ҮдёЁгҶ·МҮ&thinsp;</rt></ruby>в–Ў    в–Ў      ihnn    innh   eМғЛҖ     ihвҒҝ    nih
      г„Ё    <ruby>жұЎ<rt>&thinsp;г„Ё&thinsp;</rt></ruby><ruby>жӯҰ<rt>&thinsp;гҶ г„ЁЛӢ&thinsp;</rt></ruby>  <ruby>еұӢ<rt>&thinsp;г„Ё&thinsp;</rt></ruby>    u/wu    u       u       u       u
      г„ЁгҶ·  <ruby>зҰҝ<rt>&thinsp;г„Ҡг„ЁгҶ·&thinsp;</rt></ruby><ruby>е—Ҫ<rt>&thinsp;г„ҷг„ЁгҶ·&thinsp;</rt></ruby>  в–Ў      uh      uh      uЛҖ     uh      uh
      гҶЁ    <ruby>иұ¬<rt>&thinsp;г„үгҶЁ&thinsp;</rt></ruby>в–Ў    в–Ў      ir      ir     ЙЁ       в–Ў      в–Ў
      гҶЁгҶҙ  жҫҖ  (жіү)  в–Ў      irp     irp    ЙЁp      в–Ў      в–Ў
      гҶЁгҶө  <ruby>ж ё<rt>&thinsp;г„ҸгҶЁгҶө&thinsp;</rt></ruby>(жіү)  в–Ў      irt     irt    ЙЁt      в–Ў      в–Ў
      гҶЁгҶ¶  й»‘  (жіү)  в–Ў      irk     irk    ЙЁk      в–Ў      в–Ў
      гҶ«    <ruby>зҫҠ<rt>&thinsp;дёЁгҶ«ЛҠ&thinsp;</rt></ruby>(е»Ҳ)  в–Ў      unn     unn     Е©      в–Ў      nu
      г„©    в–Ў  в–Ў    <ruby>ж·Ө<rt>&thinsp;г„©&thinsp;</rt></ruby>    y       y/iu/yu u       в–Ў      y
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      г„ӯ    в–Ў  в–Ў    в–Ў      ii      ii      /       r/z     r/z

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      иЁ»и§Јпјҡ
      пјҲдёҖпјүжң¬е…ёжҺЎз”ЁгҖҗг„ӣгҖ‘иҲҮгҖҗг„ңгҖ‘дә’иЈңгҖӮеҸҰйҖ гҖҗ<img src="img/m3/fa62.png">/eerгҖ‘з¬ҰиЎЁжіүе·һ
      гҖҗз§‘<rt>г„Һ<img src="img/m3/fa62.png"></rt>гҖ‘еӯ—зҡ„гҖҗ<img src="img/m3/fa62.png">гҖ‘йҹ»гҖӮеӣ еҺҹжЎҲгҖҗгҶҰпјҸooгҖ‘гҖҗг„ӣпјҸoгҖ‘гҖҗг„ң
      пјҸerгҖ‘дёүз¬ҰдёӯпјҢгҖҗгҶҰгҖ‘гҖҗг„ӣгҖ‘дәҢз¬Ұйҹізҙ жҺҘиҝ‘пјҢж”№з”ЁгҖҗгҶҰгҖ‘
      гҖҗг„ңгҖ‘гҖҗ<img src="img/m3/fa62.png">гҖ‘ијғзӮәжё…жҘҡпјҢз…§еҺҹжЎҲдәҰеҸҜпјҢеҸӘйҖ гҖҗгҶҰгҖ‘з¬ҰгҖӮеҰӮ
      жһңиҰҒжұӮзҷјйҹіжӯЈзўәе°ұиҰҒйҖ гҖҗгҶҰгҖ‘гҖҗ<img src="img/m3/fa62.png">гҖ‘дәҢз¬ҰпјҢжҠҠгҖҗг„ӣгҖ‘еӯ—дёҖ
      ж©«зҡ„дёӢйқўж”№жҲҗжӯЈиҸұеҪўзјәеҸідёҠи§’зҡ„гҖҗгҶҰгҖ‘з¬ҰпјҢеңЁгҖҗгҶҰгҖ‘з¬Ұзҡ„
      дёҖж©«дёҠеҶҚеҠ дёҖзҹӯиұҺе°ұжҲҗгҖҗ<img src="img/m3/fa62.png">гҖ‘з¬ҰгҖӮ
      пјҲдәҢпјүгҖҗгҶҘпјҸeМғгҖ‘йҹ»з¬ҰдёҠзҡ„жҜҚйҹіжҳҜеҰӮгҖҗг„«гҖ‘гҖҗг„ӢгҖ‘гҖҗг„ҮгҖ‘
      зӯүвҖҰвҖҰеҚҠйј»йҹіжҷӮйҹ»жҜҚзҡ„зҡ„йј»йҹіе°ұеҸҜзңҒз•ҘгҖӮ
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      дёүгҖҒзөҗеҗҲйҹ»жҜҚ
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      (дёҖ)    (дәҢ)           (дёү)    (еӣӣ)    (дә”)    (е…ӯ)    (дёғ)
      жјўжіЁ    жјўеӯ—           иҸҜиҮә    TLPA    еңӢйҡӣ    з”ҳе…ё    жјўй–©
      (иҮә)    (иҸҜ)
      <rt>дёЁг„ҡ</rt>    <ruby>иҖ¶<rt>&thinsp;дёЁг„ҡ&thinsp;</rt></ruby><ruby>йҮҺ<rt>&thinsp;дёЁг„ҡЛӢ&thinsp;</rt></ruby>  <ruby>йҙЁ<rt>&thinsp;дёЁг„ҡ&thinsp;</rt></ruby>    ia      ia      ia      ia      ia
      <rt>дёЁгҶ©</rt>    <ruby>зә“<rt>&thinsp;дёЁгҶ©&thinsp;</rt></ruby><ruby>иҙҸ<rt>&thinsp;дёЁгҶ©ЛҠ&thinsp;</rt></ruby>  в–Ў      iann    iann    iaМғ      iaвҒҝ    nia
      <rt>дёЁг„ҡгҶ·</rt>    <ruby>дәҰ<rt>&thinsp;дёЁг„ҡгҶ·&thinsp;</rt></ruby><ruby>еЈҒ<rt>&thinsp;г„…дёЁг„ҡгҶ·&thinsp;</rt></ruby>  в–Ў      iah     iah     iaЛҖ    iah     iah
      <rt>дёЁгҶ©гҶ·</rt>    в–Ў  в–Ў    в–Ў      iann    iann    iaМғЛҖ    iahвҒҝ   niah
      <rt>дёЁгҶҰгҶ¶</rt>    <ruby>зҙ„<rt>&thinsp;дёЁгҶҰгҶ¶&thinsp;</rt></ruby><ruby>и—Ҙ<rt>&thinsp;дёЁгҶҰгҶ¶МҮ&thinsp;</rt></ruby>(и®Җйҹі)    iook    iook    iЙ”k     ioНҳk    iook
      <rt>дёЁгҶ§</rt>    <ruby>йҙҰ<rt>&thinsp;дёЁгҶ§&thinsp;</rt></ruby><ruby>жҙӢ<rt>&thinsp;дёЁгҶ§ЛҠ&thinsp;</rt></ruby>  в–Ў      ioonn   ioonn   iЙ”Мғ      в–Ў      nioo
      <rt>дёЁгҶ§гҶ·</rt>    в–Ў  в–Ў    в–Ў      ioonnh  ioonnh  iЙ”МғЛҖ    в–Ў      niooh
      <rt>дёЁг„ӣ</rt>    <ruby>и…°<rt>&thinsp;дёЁг„ӣ&thinsp;</rt></ruby><ruby>еҸ«<rt>&thinsp;г„ҚдёЁг„ӣЛӘ&thinsp;</rt></ruby>  <ruby>е”·<rt>&thinsp;дёЁг„ӣ&thinsp;</rt></ruby>    io      io      io      io      io
      <rt>дёЁг„ӣгҶ·</rt>    <ruby>жҶ¶<rt>&thinsp;дёЁг„ӣгҶ·&thinsp;</rt></ruby><ruby>е°ә<rt>&thinsp;г„‘дёЁг„ӣгҶ·&thinsp;</rt></ruby>  в–Ў      ioh     ioh     ioЛҖ    ioh     ioh
      <rt>дёЁг„ң</rt>    <ruby>и…°<rt>&thinsp;дёЁг„ң&thinsp;</rt></ruby><ruby>еҸ«<rt>&thinsp;г„ҚдёЁг„ңЛӘ&thinsp;</rt></ruby>  в–Ў      er      er      iЙҷ      io      io
      <rt>дёЁг„ңгҶ·</rt>    <ruby>зҙ„<rt>&thinsp;дёЁг„ңгҶ·&thinsp;</rt></ruby><ruby>и—Ҙ<rt>&thinsp;дёЁг„ңгҶ·МҮ&thinsp;</rt></ruby>  в–Ў      erh     erh     iЙҳЛҖ/  ioh     ioh
      iЙ”ЛҖ
      <rt>дёЁг„Ё</rt>    <ruby>жҶӮ<rt>&thinsp;дёЁг„Ё&thinsp;</rt></ruby><ruby>жІ№<rt>&thinsp;дёЁг„ЁЛҠ&thinsp;</rt></ruby>  в–Ў      iu      iu      iu      iu      iu
      <rt>дёЁг„ЁгҶ·</rt>    в–Ў  в–Ў    в–Ў      iuh     iuh     iuЛҖ    iuh     iuh
      <rt>дёЁгҶ«</rt>    <ruby>ејө<rt>&thinsp;г„үдёЁгҶ«&thinsp;</rt></ruby><ruby>йҙҰ<rt>&thinsp;дёЁгҶ«&thinsp;</rt></ruby>  в–Ў      iunn    iunn    iЕ©     iuвҒҝ    niu
      <rt>дёЁгҶ«гҶ·</rt>    в–Ў  в–Ў    в–Ў      iuhnn   iunnh   iЕ©ЛҖ   в–Ў      niuh
      <rt>дёЁг„ </rt>    <ruby>еӨӯ<rt>&thinsp;дёЁг„ &thinsp;</rt></ruby><ruby>еҰ–<rt>&thinsp;дёЁг„ &thinsp;</rt></ruby>  <ruby>еҰ–<rt>&thinsp;дёЁг„ &thinsp;</rt></ruby>    iau     iau     iau     iau     iau
      <rt>дёЁгҶҜ</rt>    <ruby>иІ“<rt>&thinsp;дёЁгҶҜ&thinsp;</rt></ruby>в–Ў    в–Ў      iaunn   iaunn   iauМғ     iauвҒҝ   niau
      <rt>дёЁг„ гҶ·</rt>    в–Ў  в–Ў    в–Ў      iauh    iauh    iauЛҖ   iauh    iauh
      <rt>дёЁгҶҜгҶ·</rt>    в–Ў  в–Ў    в–Ў      iauhnn  iaunnh  iauЛҖ   iauh    iauh
      <rt>дёЁгҶ°</rt>    <ruby>й–№<rt>&thinsp;дёЁгҶ°&thinsp;</rt></ruby><ruby>й№Ҫ<rt>&thinsp;дёЁгҶ°ЛҠ&thinsp;</rt></ruby>  в–Ў      iam     iam     iam     iam     iam
      <rt>дёЁг„ҡгҶҙ</rt>    <ruby>и‘ү<rt>&thinsp;дёЁг„ҡгҶҙМҮ&thinsp;</rt></ruby>в–Ў    в–Ў      iap     iap     iap     iap     iap
      <rt>дёЁгҶ¬</rt>    <ruby>ж·№<rt>&thinsp;дёЁгҶ¬&thinsp;</rt></ruby><ruby>йҹі<rt>&thinsp;дёЁгҶ¬&thinsp;</rt></ruby>  в–Ў      im      im      im      im      im
      <rt>дёЁгҶҙ</rt>    <ruby>жҖҘ<rt>&thinsp;г„ҚдёЁгҶҙ&thinsp;</rt></ruby><ruby>жҸ–<rt>&thinsp;дёЁгҶҙ&thinsp;</rt></ruby>  в–Ў      ip      ip      ip      ip      ip
      <rt>дёЁг„ў</rt>    <ruby>жј”<rt>&thinsp;дёЁг„ўЛӢ&thinsp;</rt></ruby><ruby>з…ҷ<rt>&thinsp;дёЁг„ў&thinsp;</rt></ruby>  <ruby>з…ҷ<rt>&thinsp;дёЁг„ў&thinsp;</rt></ruby>    ian     ian/    ian     ian     ian
      ien(иҖҒжҙҫ)/
      en(ж–°жҙҫ)
      <rt>дёЁг„ҡгҶө</rt>    <ruby>иЁӯ<rt>&thinsp;г„’дёЁг„ҡгҶө&thinsp;</rt></ruby><ruby>й–ұ<rt>&thinsp;дёЁг„ҡгҶөМҮ&thinsp;</rt></ruby>  в–Ў      iat     iat/    iat     iat     iat
      iEt(иҖҒжҙҫ)/
      Et(ж–°жҙҫ)
      <rt>дёЁг„Ј</rt>    <ruby>еҚ°<rt>&thinsp;дёЁг„ЈЛӘ&thinsp;</rt></ruby><ruby>еӣ <rt>&thinsp;дёЁг„Ј&thinsp;</rt></ruby>  <ruby>еӣ <rt>&thinsp;дёЁг„Ј&thinsp;</rt></ruby>    in      in      in      in      in
      <rt>дёЁгҶө</rt>    <ruby>зӯҶ<rt>&thinsp;г„…дёЁгҶө&thinsp;</rt></ruby><ruby>дёҖ<rt>&thinsp;дёЁгҶө&thinsp;</rt></ruby>  в–Ў      it      it      it      it      it
      <rt>дёЁг„Ө</rt>    <ruby>ж¶ј<rt>&thinsp;г„ҢдёЁг„ӨЛҠ&thinsp;</rt></ruby><ruby>еӨ®<rt>&thinsp;дёЁг„Ө&thinsp;</rt></ruby>  <ruby>еӨ®<rt>&thinsp;дёЁг„Ө&thinsp;</rt></ruby>    iang    iang    iaЕӢМ©    iang    iang
      <rt>дёЁг„ҡгҶ¶</rt>    <ruby>зҙ„<rt>&thinsp;дёЁг„ҡгҶ¶&thinsp;</rt></ruby>(жјі)  в–Ў      iak     iak     iak     iak     iak
      <rt>дёЁгҶІ</rt>    <ruby>еӢҮ<rt>&thinsp;дёЁгҶІЛӢ&thinsp;</rt></ruby><ruby>йӣҚ<rt>&thinsp;дёЁгҶІ&thinsp;</rt></ruby>  в–Ў      iong    iong    iЙ”ЕӢМ©     iong    iong
      <rt>дёЁг„Ҙ</rt>    <ruby>ж°ё<rt>&thinsp;дёЁг„ҘЛӢ&thinsp;</rt></ruby><ruby>иӢұ<rt>&thinsp;дёЁг„Ҙ&thinsp;</rt></ruby>  <ruby>иӢұ<rt>&thinsp;дёЁг„Ҙ&thinsp;</rt></ruby>    ing     ing     iЕӢМ©     eng     ing/ying
      <rt>дёЁгҶ¶/дёЁгҶӨгҶ¶</rt> <ruby>зӣҠ<rt>&thinsp;дёЁгҶӨгҶ¶&thinsp;</rt></ruby><ruby>з«№<rt>&thinsp;г„үдёЁгҶӨгҶ¶&thinsp;</rt></ruby>  в–Ў      iek     ik      iek     ek      yik
      <rt>г„Ёг„ҡ</rt>    <ruby>жӢ–<rt>&thinsp;г„Ҡг„Ёг„ҡ&thinsp;</rt></ruby><ruby>и”Ў<rt>&thinsp;г„ҳг„Ёг„ҡЛӘ&thinsp;</rt></ruby>  <ruby>иӣҷ<rt>&thinsp;г„Ёг„ҡ&thinsp;</rt></ruby>    ua      ua      ua      oah     ua
      <rt>г„Ёг„ҡгҶ·</rt>    <ruby>й—Ҡ<rt>&thinsp;г„Һг„Ёг„ҡгҶ·&thinsp;</rt></ruby><ruby>еүІ<rt>&thinsp;г„Қг„Ёг„ҡгҶ·&thinsp;</rt></ruby>  в–Ў      uah     uah     uaЛҖ    oah     uah
      <rt>г„ЁгҶӨгҶ·</rt>    <ruby>еҠғ<rt>&thinsp;г„ЁгҶӨгҶ·&thinsp;</rt></ruby>(жјі)  в–Ў      ueh     ueh     ueЛҖ    oeh     ueh
      <rt>г„ЁдёЁгҶ·</rt>    <ruby>еҠғ<rt>&thinsp;г„ЁдёЁгҶ·&thinsp;</rt></ruby>(жіү)  в–Ў      uih     uih     uiЛҖ    uih     uih
      <rt>г„Ёг„һгҶ·</rt>    в–Ў  в–Ў    в–Ў      uaih    uaih    uaiЛҖ   oaih    uaih
      <rt>г„ЁгҶ©</rt>    <ruby>жҸӣ<rt>&thinsp;г„ЁгҶ©&thinsp;</rt></ruby><ruby>зў—<rt>&thinsp;г„ЁгҶ©ЛӢ&thinsp;</rt></ruby>  в–Ў      uann    uann    uaМғ      oaвҒҝ    nua
      <rt>г„ЁгҶӨ</rt>    <ruby>и©ұ<rt>&thinsp;г„ЁгҶӨ&thinsp;</rt></ruby><ruby>иІқ<rt>&thinsp;г„…г„ЁгҶӨ&thinsp;</rt></ruby>  в–Ў      ue      ue      ue      oe      ue
      <rt>г„ЁгҶҘ</rt>    <ruby>еҰ№<rt>&thinsp;г„Үг„ЁгҶӨЛ«&thinsp;</rt></ruby><ruby>еӘ’<rt>&thinsp;г„Үг„ЁгҶӨЛҠ&thinsp;</rt></ruby>  в–Ў      ue      ue      ueМғ     в–Ў      ue
      <rt>г„ЁгҶ®</rt>    <ruby>й—ң<rt>&thinsp;г„Қг„ЁгҶ®&thinsp;</rt></ruby>в–Ў    в–Ў      uainn   uainn   uaiМғ    oaiвҒҝ   nuai
      <rt>г„ЁгҶі</rt>    <ruby>й»ғ<rt>&thinsp;г„ЁгҶіЛҠ&thinsp;</rt></ruby>(жјі)  в–Ў      uinn    uinn    uiМғ      uiвҒҝ    nui
      <rt>г„ЁгҶігҶ·</rt>    в–Ў  в–Ў    в–Ў      uinnh   uinnh   uiМғЛҖ    oihвҒҝ   nuih
      <rt>гҶЁгҶ¬</rt>    <ruby>и”ҳ<rt>&thinsp;г„ҷгҶЁгҶ¬&thinsp;</rt></ruby>(жіү)  в–Ў      irm     irm    ЙЁm      в–Ў      в–Ў
      <rt>гҶЁг„Ј</rt>    <ruby>жҒ©<rt>&thinsp;гҶЁг„Ј&thinsp;</rt></ruby><ruby>ж №<rt>&thinsp;г„ҚгҶЁг„Ј&thinsp;</rt></ruby>(жіү)      irn     irn    ЙЁn      в–Ў      в–Ў
      <rt>гҶЁгҶі</rt>    <ruby>й–‘<rt>&thinsp;гҶЁгҶіЛҠ&thinsp;</rt></ruby>(жіү)  в–Ў      irinn   irinn  ЙЁiМғ     в–Ў      в–Ў
      <rt>г„Ёг„ў</rt>    <ruby>еҪҺ<rt>&thinsp;г„Ёг„ў&thinsp;</rt></ruby><ruby>зҒЈ<rt>&thinsp;г„Ёг„ў&thinsp;</rt></ruby>  <ruby>зҒЈ<rt>&thinsp;г„Ёг„ў&thinsp;</rt></ruby>    uan     uan     uan     oan     uan
      <rt>г„Ёг„ҡгҶө</rt>    <ruby>ж–Ў<rt>&thinsp;г„Ёг„ҡгҶө&thinsp;</rt></ruby><ruby>и¶Ҡ<rt>&thinsp;г„Ёг„ҡгҶөМҮ&thinsp;</rt></ruby>  в–Ў      uat     uat     uat     oat     uat
      <rt>г„Ёг„Ј</rt>    <ruby>жҒ©<rt>&thinsp;г„Ёг„Ј&thinsp;</rt></ruby><ruby>жә«<rt>&thinsp;г„Ёг„Ј&thinsp;</rt></ruby>  <ruby>жә«<rt>&thinsp;г„Ёг„Ј&thinsp;</rt></ruby>    un      un      un      un      un
      <rt>г„ЁгҶө</rt>    <ruby>зҶЁ<rt>&thinsp;г„ЁгҶө&thinsp;</rt></ruby><ruby>еҫӢ<rt>&thinsp;г„Ңг„ЁгҶөМҮ&thinsp;</rt></ruby>  в–Ў      ut      ut      ut      ut      ut
      <rt>г„Ёг„Ө</rt>    <ruby>еҡҫ<rt>&thinsp;г„Ёг„Ө&thinsp;</rt></ruby>в–Ў    <ruby>жұӘ<rt>&thinsp;г„Ёг„Ө&thinsp;</rt></ruby>    uang    uang    uaЕӢМ©    oang    uang
      <rt>г„Ёг„ҡгҶ¶</rt>    <ruby><mark>&#xf8540;</mark><rt>&thinsp;г„Ёг„ҡгҶ¶&thinsp;</rt></ruby>в–Ў    в–Ў      uak     uak     uak     uak     uak
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      иЁ»и§Јпјҡ
      пјҲдёҖпјү<rt>дёЁгҶӨгҶ¶</rt>пјҸiek(жңұејҸ)пјқ<rt>дёЁгҶ¶</rt>пјҸik(TLPA)
