
doctype html
html(lang="zh-Hant-TW")
  head
    meta(charset='utf8')
    include _head.jade
  body

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      .UC
      .PL 28
      .LL 19.7
      .PO 1.7
      .HE
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      .EH
      .FO
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      .TL,編輯緣起 - #p
      .EF
      
      編輯緣起──代序     吳 守 禮
      
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      我大學畢業後繼續留母校研究五年。時值第二次大戰期間，獲恩師推薦以日本籍民身份到日本
      京都「東方文化研究所」供職，吸收該地研究風氣，學習北京話，業餘參加京都大學教授倉石武四
      郎主持的中國話詞典資料的翻譯工作。終戰前兩年回母校南方人文研究所供職，負責中文日譯的工
      作。因此對兩種語言的對照感覺興趣，戰後為著修練中文更加痛感中文字典的需要，翻開我的編著
      年表一九五○年欄下有「國語辭典未收辭彙」一目。記起我當時確曾有補充中國話字典的計畫。當
      時我是隨得隨記，羅列寄稿。報社編輯人則認為不成體例不續登，亦就中斷。但我繼續記錄在商務
      版國語辭典（汪怡編）。這些資料一部分後來遭損毀。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      由臺大中文系退休後，即著手計畫編臺語字典、國臺對照辭典。一九七九年運參考資料到美國
      東岸巴城郊外蟄居，先著手國臺對照稿。兩年後告一段落，我檢寄部分稿件回臺北請王玉老介紹洽
      商出版事宜。結果可能因為不合商機時宜，方音符號的印刷亦成問題，報社意願不大。留下了玉老
      撰寫的國語日報注音排印校稿三頁一張題目：讀了吳先生的「國臺語稿」以後的感想。我只好暫時
      放棄，改向編臺語字典，竭力搜集有關音字脫節的臺語資料。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      一九八六年立春日在美國出版「綜合閩南臺灣語基本字典」上下兩冊，是根據專工繕寫底稿拷
      貝印刷訂成的。（後來，一九八七年由臺北文史哲出版社縮小影印再版）。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      一九八六年五月攜病妻返臺。一九八八年十二月潮州街臺大宿舍遭回祿。翌年五月喪偶，十一
      月再返美國僑居地。越月即開始重拾國臺對照稿，一九九二年二月告一段落。三月隨身攜全稿回臺
      北。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      這書本來擬定書名為【國臺對照活用辭彙】，不敢說是「辭典」。現因周邊人士的鼓勵改為【
      國臺對照活用辭典──分析、詳注廈漳泉音】。中國(漢)字的標音用的是中國「注音符號」。這「
      注音符號」是根據中國篆字的字形、字音加以符號化的標音工具，在中國文字發展史上與漢字有淵
      源關係，日本學者曾利用它在日本推動中國話教育，可以比美英文字母、日文假名。而標注臺語語
      音用的是「臺灣方言符號」。而這套臺語標音符號則由國際聞名的漳州籍音韻學專家（又是虔誠的
      基督教徒）朱兆祥教授設計，由前臺灣省國語推行委員會審訂頒行的。民國三十五年在臺灣頒行這
      套符號時，擔任該會的主任委員是古韻學專家魏建功（天行）教授。──不是區區我的杜撰。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      一九九三年起，這個稿件的中國字部分先由打字行著手開打。（詳後）。

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      編輯的目的、態度
      
      「辭典」是學習語言的工具之一。人類呱呱墜地即學習父母的語言，所謂母語。長大受教育學
      習文字，則要依靠字典的幫助。在臺灣受過日文教育的人，我相信每人都有一本漢和字典，一本日
      本國語辭典。五十多年前國民政府接收臺灣，臺灣人一再遭遇到溝通思想的工具的困擾。可是市面
      上只泛濫著中國話辭典，戰後初、中期一直沒有出現過「國臺對照」的字典。即使有了亦沒有見到
      廣泛的利用。可能是：沒有完全被日語同化的臺灣方言殘命還魂，對國語的理解大有幫助。再加上
      日本教育「遺毒」──尊重國語的美德以及推行上的高壓強迫政策，教育家主張「直接」法等等…
      減低了「國臺對照」的需要（？）。（個人則利用中日對照字典。)
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      我而立之年才開始學習北京話，七年後以準日本語族的身份在中國的大學授國語課，在個人覺
      得是一種奇遇，亦是萬幸，因而踏上「閩南語史探源」的路。到了退休的時候，發覺中國語有分裂
      為「普通話」與「國語」的跡象。這數十年來入手的有關學習中國話的書，在字形、字音方面確實
      已發生偏差，過去我在這個分野裡一直追求正確標準。編字典是要提供典範、標準、正確，現在竟
      將要為著認字形辨字音手忙腳亂，顧不得標準。何況從事語文教育的朋友透露「師範」學校培養不
      出夠格「垂範」的人材。實際上我已「聽」到學校裡和社會上的「中國」音確實脫了節。──（我
      不敢再想編「典」了。)
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      本書中的臺灣話部份，我為著音字脫節的詞語，所謂有音無字的問題傷透了腦筋，雖然近年兩
      岸學術界的先進，已經提供了不少擬字資料。但一方面因為創見過多，甚至矯枉過正，呈現百花齊
      放可喜可憂的現象。因此且不說我前此推出去的閩臺語基本字典無法產生很大作用。在本書裏，國
      臺對照力求對應正確，但是，這是一種長編資料不敢標榜「典」。臺語的文字表達只能做到：儘量
      借重前人的擬字，並列語源本字，供高明人士取材而已。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      這「國臺對照辭彙」完稿到現在，一再增刪修改、打字、校對、臺語部份，由部份注音改全部
      注音及加注廈漳泉音，所以拖延將進十年之久。我卻越發不急了。因為本來是計畫供應社會上的需
      要，應「急」，可是這個「急」早已經過去了。經過幾十年的時光我才發現早已有人出版了這類的
      書。只是沒有進入我聽聞的範圍。到了十年前臺語母語運動浮上檯面，應運而生的厚實的臺語、國
      臺對照詞典接踵出現，親眼看到了成品，覺得難能可貴，我更加不急了，而且再不敢想編字「典」
      了。失卻了信心。實際上學習都來不及，怎麼編「典」？雖然參考資料不少，疑問卻也隨之增加。
      本來是為「人」著想的工作，現在要改為為「己」。進行對照、比較、自問自答，多彙集多存疑，
      多留異字、異形讓參考這本書的人自由選用。如果有不適用的就讓它自然淘汰。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      我又發現一個事實。我學習中文注重標準，編書標正音，可是呢，我發現我的話我的口音在社
      會上行不大通了。用語亦在不知不覺之中漸變。我買到一本「大陸和臺灣詞語差別詞典」，大陸出
      版的。外國人能辨兩岸的播音。語言在變，語法能不變嗎？國臺對照的辭典最重要的任務在於了解
      彼此的共同性及各自的純一性，同時亦要能使它與方言之間劃分明顯的界線。但是現在這界線逐漸
      模糊了。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      不但兩岸的詞語已有差別，臺灣島上的國音、國語亦在變。見微知著。例如：抽血說成「抽（
      雪）」。「我母親會念」，意思是國語的「我母親會念叨」。臺語可以單音說「念」，國語必須說
      成「唸叨」。報紙的刊頭出現了一條「掃黑抓大尾」。這「尾」字摻入了臺語用法「一尾鱸鰻」（
      ＝一條鰻魚＝一個流氓）的「<ruby>尾<rt>&thinsp;ㆠㄨㆤˋ&thinsp;</rt></ruby>」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      上列的例子不過是我的遲來的發現而已，大學裡已有年輕學者早就搜集國語中的方言借詞，方
      言中的國語借詞製作學術論文了。現在還知道哪些是借詞，但是久而久之就會被吸收或互相吸收消
      化。混合「國、方」或「國、臺」詞彙，新陳代謝就會形成新的「臺灣國語」。且不談願不願看它
      自然形成，「國臺對照辭彙」的收集成書若不能「補救」（？）這種「不健全」的混合而貢獻語言
      （國語、方言）的純一性，那就只有徒存一個時代的語言現象記錄而已。事實上這本辭彙的編刊如
      果得不到中年代、年輕輩的正常（我期待的）的應用，我就不但不敢期待它能「豐富共同語」，更
      會覺得對於「維持共同語的純一性」，無濟於事了。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      本書的間架、構造
      
      用以表達中文、漢語的三要素是：形、音、義。字形：字體有古今異同。本書自是偏重現代。
      現代中文字，漢字一度產生了繁體、簡體的問題，有區分，各自為政。簡體近時在臺灣似乎已解禁
      了。本來就有一些。本書揭示繁體為主、為正，偶並列簡體，不排除。字音：兩岸的中文音系都以
      北平、北京為基礎、為準。可是到如今只要多翻一兩本字典即時就會發現兩岸彼此在選音、字音的
      基準態度，已有顯著的差別出入。在本書裡，字音以近幾十年來在臺灣用於學校教育的「中國音」
      為主。兩岸異同並列，止於記錄、對照，不敢有所去取，可是在對比之下偶而難免站在一個學習中
      文者的立場有微見，就帶上一筆或隱現學徒的看法，不算定奪。值得一提的是，使用本書的人只須
      多掀兩頁就可以發現在臺灣教育界一度成問題的「又讀」的音，有的被扶正了。保留「又讀」可能
      重「民主」，但「教」「學」兩都不便。詞義：以臺灣版國語（詞）典的釋詞為基礎，詞彙準此，
      以所收單音詞為中心，酌收詞與詞條有關聯的生活用語，一般常用複音詞。目頭字，詞條都中臺對
      譯，例句則視其繁簡，或整句對譯或對照一部分。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔收字〕：以「國音常用字彙」（教育部國音統一籌備委員會）為基礎，有增無減，增加的多是對
      照「新華字典」（大陸商務印書館發行）所得。亦參考過「普通話閩南方言詞典」（大陸、福建、
      廈門大學）。這普閩典收字以新華字典為準，有所去取，收詞則以「現代漢語詞典」（大陸商務館
      ）為準，注重現代、簡要。本編，雖參考過上列各書，在收詞方面，因個人事業更加精簡。再說，
      因為參考過普閩典，除了對照臺灣國語，普通話，臺灣話以外，多出副產物──廈門話與臺灣話的
      對照。不過不能全面的。結果發現廈門語與臺灣語之間，在語言上特別是用語上，難免產生分裂現
      象。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔本書主要的結構〕：由首揭目頭字為起始，字音以教育部頒布標音符號第一式「注音符號」的拼
      音為序，同音字以筆劃數多少為序。每字先列出舊反切，切腳字。反切字多引自康熙字典、普通話
      閩南話詞典所載廣韻、集韻的反切。必要時才翻廣韻、集韻原本，目的不在於提示古韻音，只在驗
      取現行國音、臺音與古反切一致與否，即在於了解來歷是否正確。結果，大致地說，閩南音比中國
      音接近反切音。與反切，切腳不一致的閩南音（文音、語音），有在方言本身上發生的演變音，有
      訛讀的音，半邊音。訛變音以外大都能與反切求得有規則性的條例。駱嘉鵬君的「廣韻音韻辨識法
      」碩士論文足夠供應這方面的知識。我沒有時間應用。而在檢驗反切與現行音的偏差之間，發現普
      閩典把歸納廈門音與反切音的對應關係所得的規則反用於廈門音訂出字音時，出現與現行音的不一
      致或一時不能接受的「新音」。這是理論與實用的衝突。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      甘典所列記的臺灣音，與普閩典所載的廈門語文音、白音並列時，亦會出現類似上文所述的問
      題。這裡我不擬深涉。而要說：甘典音（書中標作「臺甘」）與普閩典廈門音（書中標為「普閩」
      ）的並排不止羅列，希望讀者善加利用。概觀這兩部閩臺音的字典對每一字的收音，甘典分為文音
      （Reading ）與 Colloqial（常用俗音，即「語音」）而（甘典）後有「（台）」出現，表示：現
      時使用的（台音）。普閩典分為「文」與「白」「俗」。普閩的白音與文音有對應關係。白音相當
      於我用的狹義的「語音」。對每一字的收音，二書詳略互見，大概甘典所收殊音、今罕用的音比較
      多，普閩典除了特殊地名以外沒有冗音。迷於選用時，就選兩典一致的總不致有錯。總而言之，一
      見似重複的「臺甘」音、「普閩的廈門」音的並列，希望使用者各自從而撿出自己需要的音或資料
      ，則筆者的安排不致虛設了。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔單音字〕：單音詞條（連舉例）的排列以詞品──名詞、量詞、動詞──等為序。（不甚嚴密，
      因為我尚未為品詞排定次序）。雙音詞的排列以第二字的注音序為序。又，先雙音再列三音、多音
      。亦有逆序（目頭字用於第二字或三四字的）的雙音詞詞條。雙音詞除了標音標詞品以外，有時試
      記構詞──如名詞並列或動賓結構等。這對於「破音詞」的辨識了解不無少補，只是很少遇見。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔詞品的分類〕：詞品的分類議論紛紛。編者涉獵不少語法書。但都不深究，隨見即想，試加辨別
      ，不成系統。看了不少異說，自然有所吸收仿效，但不專一家。亦有個人的杜撰。有時明知（大陸
      上）早經清算的，如果適合於應用，還是撿起來用。因為有如前面所說這是為個人一己的，一生學
      習經過的累積而已。例如「動狀」（詞品名）一名，我撿起來用。介詞「被」用於結果不好、不利
      的被動句，我不習慣說「被人稱贊」，尤其是臺語不說「被人呵咾」。但絕不敢有所主張。因為歐
      化的被動句或許需要這「介詞」用法，而且恰如其分。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔構詞〕：標識「構詞」多出於一時即興。名詞、動詞還不致混淆，狀詞就有些難準確了。動賓結
      構還可以確認，動補結構就不一定全準確了。大都臨時被迫乘勢遽定，無法嚴密。歷時前後一二十
      年的工作，加上健忘，雖然明知必須劃一，如今總是覺得鞭長莫及了。比方說：中國的白話文，既
      是「白話」即使有「白」字成分，業經寫定，沿用下來，相安無事。表達閩南系臺灣語的文字，尤
      其是音與字脫節的，幾乎一「家」一「樣」，現階段只好多列記「異文」「異形」（罕見，新擬的
      詞形）任人選用，自生自滅。實際上「惡貨驅逐良幣」沒辦法定於一尊，就美其名叫做「多元化社
      會」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔異文〕：中國現代文，通稱叫做「白話文」。白話文可以夾用白話，容納「白字」，約定成俗，
      即使有音字脫節的詞語亦「將錯就錯」，除非特別吹毛求疵，幾乎近於完璧。本篇特闢「異文」一
      項用以提示中文裡不是沒有音字脫節的詞，更可以顯出閩南系臺灣話的音字脫節，沈痾的程度，斟
      酌如何補救。請參看凡例部分「杜撰音」的舉例。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔類語〕〔類句〕：這一項的設置是為著補救收詞的短少，補充詞彙而作的，可以代替同義語，類
      義詞，本來字典的詞彙是越多越好，恨不得把前人的遺產悉數翻譯出來，那太不自量力。再說，設
      置這一項看似偷工，相信亦是一種「滋」料。只需賢明的讀者拾取利用，一定有發揮的餘地。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔辨似〕：闢這一項，隨目頭字提示形體近似的字。不是認字的問題而是手寫是否正確會發生的事
      情。例如，「守」與「宋」、「礼」與「水」，誰不會認，寫字端正的人更不成問題，毛病就是出
      在寫字潦草，尤其以此為名的人。又例：如在人名下出現「摶土」時，酌讀「博士」是讀者的雅量
      ，擔任審查官就不可以原諒了。魯魚亥豕難免，校對人員難找。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      〔文、白之分〕：語言有古今。中文分為「文音」、「白讀」。本書稱「文」「語」。「文」多死
      語，但是一部分猶活用。一文一語的雙音詞多呈「文白」（半文不白）的性格。例如「盥洗」（上
      文下語）。本書分為：文、語、訓、俗。普閩典分為：文、白、俗。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      聲明
      
      本書是編者前後六十年來學習中國語文心得的總結算，一種綜合記錄。所以不敢稱辭「典」。
      著手撰稿以來亦歷過二十個年頭。不過這期間，一九八六年，先完成姐妹篇性質的「綜合閩南臺灣
      語基本字典（初稿）」。一九九○年重拾「國臺稿」的工作，一九九二年二月「國臺對照辭彙」初
      稿全部告一段落。一九九三年開始付電腦打字。一邊校對一邊補充。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      要特記這期間「中國話」分為「普通話」與「國語」，亦要附記參考文獻來源跨越中國大陸、
      臺灣、日本等地。再加上結構多端複雜，處理困難，自危難期完善的均一性。只能呈現資料性記錄
      ，而自期豐富。「豐富」二字不是自誇，是借用王玉老這部稿讀後感的美言。可能是王老感到意外
      的。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      凡    例
      
      【國語】：指中國大陸的漢語系方言昇華的官話，國民政府所稱的國語。戰後遷入臺灣的國民政府
      用以施行教育的用語，與臺灣方言相對稱的共同話。一度為「普通話」同質別稱，再則與人民共和
      國的「普通話」分庭抗禮。繼而發生偏差有別。如今，大陸上亦已以「普通話」對「國語」加以稱
      道。近來著作書名上則有用「漢語」「華語」「中文」等稱代替「國語」的。有時包括「白話文」
      「國語文」。臺灣在地人向來多養成愛護國語的習慣，新來的人則當做是「說了就沒有影子的東西
      」看待的為多。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【臺灣語】：簡稱「臺灣」再省為「臺」。臺灣話實際上是指「閩南系臺灣漢語方言」。本書中再
      縮小，不包括「客家話」臺灣話曾經與以廈門為中心的閩南話有等質性，今已演變成相對稱，本書
      內用臺灣語臺灣音對照國語國音，少部分有一致性，但偏差多，以至不同。例如「冰」之音大致相
      同，其他就要譯音、譯義了。像以今語譯古語、以臺語譯中國語，不能對譯的用說明解釋，再不能
      的，從缺。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【國音】：指國民政府在臺灣推行國語所用的標準音。主要依據「國音常用字彙」。

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【台甘】：指甘為霖的廈門音新字典，即以甘典所收臺灣音，亦即以甘典的音代表臺灣音。

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【普閩】：指普通話閩南方言詞典，亦即用普閩典所收的音做為廈門音的代表。

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【普閩典的廈語用字】：「廈」，是廈門。「廈字」，指廈門用字，即廈語方言。在本書是由普閩
      典吸收的廈門話。因為本書原則上是以臺語對譯國語，但是同時參考普通話閩南方言詞典所載廈門
      話。遇到可補臺灣方言譯詞所未備的資料或可以供比較的資料就收做譯詞。（如果不只編者個人認
      為有廈語特色，這些資料將具臺語、廈語分裂的見證了。所以有需要加以標示，同時亦是資料來源
      的簡稱。）
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【普閩典的廈門用語】：廈門話。是臺灣話的相對稱，用於音、語詞的對照標示。本來一度有淵源
      關係、亦曾有一致性而後漸呈偏差。在對照之間自然見出異同。參照次項。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【普閩典與台甘典】：對照臺國字音時，因為參考普閩典所收廈語的「文」「白」資料。結果對照
      出普閩典所做「文」「白」之別不全與「編者」臺語的區別一致。例如：
      「廈」字，普閩典列出：（文）<rt>ㄏㄚ˫</rt>。（白）<rt>ㄏㆤ˫</rt>。
      本書則分為：（文）<rt>ㄏㄚ˫</rt>。（漳）<rt>ㄏㆤ˫</rt>。
      「桿、杆」字，普閩典列出　　  ：（文）<rt>ㄍㄢˋ</rt>。（白）<rt>ㄍㄨㆮˋ</rt>。
      本書則分甘典，杆：（文）<rt>ㄍㄢ</rt>。（語）<rt>ㄍㄨㆩˋ</rt>、<rt>ㄍㄨㄞˋ</rt>。
      桿：（文）<rt>ㄏㄢ˫</rt>。（語）<rt>ㄍㄢˋ</rt>、<rt>ㄍㄨㆮˋ</rt>。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      按：當「木梃」解的「杆」字以前只有平聲。「桿」，只有去聲轉上聲。

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【臺灣方音符號】：本書標注中國音使用中國國語「注音符號」。標注臺語字音、語音則使用配合
      「注音符號」設計由政府頒布的「臺灣方音符號」。（詳互見本書「編輯緣起」。）但是在實際應
      用上，本書配合中國語音系分「<rt>ㄒ丨</rt>」「<rt>ㄙㄨ</rt>」，不採用併「<rt>ㄒ丨</rt>」入「<rt>ㄙ丨</rt>」的拼法。結果發生在書寫上
      「<rt>ㄒ丨</rt>」與「<rt>ㆲ</rt>」容易混用。編者重視音理，犧牲書寫的不方便。再說為表達臺化的泉州閏音與朱兆
      祥兄隔海通訊定出「<img src="img/m3/fa62.png">」符。因此深盼參考本書的人士能區別國語的「ㄛ」「ㄜ」。臺語的「ㆦ」
      「ㄛ／ㄜ」「<img src="img/m3/fa62.png">」，實際上「<img src="img/m3/fa62.png">」符的用處不多。又，上引的「ㄛ／ㄜ」表示島上的閩南系臺灣話
      有「～ㄛ」韻群，與「～ㄜ」韻群。泉州系臺灣北部屬前者，漳州系臺灣南部屬後者。也就是說：
      臺灣話有「～ㆦ／～ㄛ」韻群和「～ㆦ／～ㄜ」韻群的兩大別，──形成互補。舉「蠔」（牡蠣）
      字為例，漳系南部人多說「ㄜˊ」，北部泉系人多說「ㄛˊ」。編者認為「ㆦ」「ㄜ」之間的區別
      比較清楚。（見次項）。但是編者不願主張，等待得到共識之日的來到。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【廈門拼音方案】：本書全面利用普閩典裡的廈語標音資料；但「廈語拼音方案」一律譯成臺灣方
      音符號。大致可以逐一對當之中，只有廈語拼音方案的「～o」符，臺灣形成「ə／ㄛ」互補關係，
      有如上項所說。本書不標「ㄜ／ㄛ」而一律譯成「～ㄜ」。又，廈語拼音方案將「十五音韻書」的
      「柳」母譯為「l／n～」，本書不能拼「ㄋ／ㄌ～」。截然分為「ㄌ～」或「ㄋ～」紐，在臺灣編
      者一生還沒遇到「ㄋ」、「ㄌ」的中間音之存在。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【字音】：本書目頭字依照中國注音符號的拼音順序排列，附記反切切腳以便對照出古今是否還一
      致、偏差的情形如何。大致見出閩南語音比起中國音與反切的音一致的多。可是並不能說保存得很
      齊全，有訛變音，有半邊音。甘典的臺灣音與普閩典所收的廈語音並不能每字相同，有出入。甘典
      所收多傳統音、習慣音，有時與普閩典依據轉音規則定出來的反切音不一致，發生衝突。令人一時
      難於取捨。
      與中國音對照的臺音，引自甘典代表臺音，時加按語。並記普閩典的廈語音。如此安排，三者
      對應整齊是最受期待的。不對應的就要做一番的了解，斟酌取捨了。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【注音】：中國語部分用中國國音字母第一式，「注音符號」。這注音符號的標音、拼音、四聲、
      輕聲、破音等的設計都很完善，所有的字音、語音都能表達無遺，亦大力推行了將近一百年。臺語
      的注音，亦有完美的工具，前面介紹過了，這裡要說的是廣義的閩南話，分廈漳泉三大群，偏向任
      何一群加以注音都不周到，只好採用並列並記，由使用的人士認同選用。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【一字多音】：所謂歧音破讀的「一字多音」字，附記在目頭字的反切字之後或普閩廈音（即國臺
      廈音之後，並附簡單舉例，而詳於各該音項內）。目頭字的排列詳見「本書的結構」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【歧音歧義】：即「一字多音」。（見前項）

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【連讀變音】：閩南系臺灣話字（詞）在連讀（說）時幾乎每字自然變音。以此為母語（先天的）
      的人自然變音，後天學習的人除了循例（另見詳細變音規則表）以外，亦可以多聽練習自然變音流
      利說出來。閩南系臺灣話在近一百年來經兩次外來語教育的洗禮。四聲，輕聲的運用難免有些褪色
      。舉用在句末賓位的「人」字與代詞「我」「伊」為例。
      害人「<rt>ㄏㄞ˫</rt> <rt>ㄌㄤˊ</rt>」，「人」念本調，詞義重在「人」「人物」不是他物。
      害人「<rt>ㄏㄞ˫</rt> <rt>˙ㄌㄤ</rt>」，「人」字輕念。詞義重在「害」字，意謂有害於別人。
      （扑／撲）<rt>ㄆㄚㆷ</rt>我「<rt>ㆣㄨㄚˋ</rt>」。「我」念本音，強調他打的是「我」不是別人。
      扑我「<rt>ㄆㄚㆷ</rt> <rt>˙ㆣㄨㄚ</rt>」，「我」念輕聲，只是平敘「他打了我」。
      與伊「<rt>ㄏㆦ˫</rt> <rt>丨</rt>」「伊」念本調，意謂，不是給別人是給「他」。
      與伊「<rt>ㄏㆦ˫</rt> <rt>˙丨</rt>」，「伊」念輕聲；是平敘只說「給了他」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      用在句首的代詞「我」「汝」在主位（語），平敘要變陰平。若念本調一頓，語氣一變，強調
      「我」不管別人如何。如「我，不去」謂，別人或許要去，「我」則不去。這些在本書中，句末的
      輕聲隨處注出，句首的變音則沒有注出，請讀者記住應用。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【對照】：單音字，雙音詞都做音、義的對照。酌加國音臺音。亦附用例對譯。臺語譯有時再分「
      直譯」「意譯」。遇到不能對譯者的加解釋或說明。亦有不能譯解者，從略。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【對譯】：見前項。

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【譯語】：本書中的臺語譯詞反映著編者個人將近一百年的臺語環境，但是因接觸社會面不大，近
      百年來出版的有關著作逸出我的收集範圍，即是遺漏的文獻自是不少。
      因為參考了普閩典吸收了一些廈門方言（說不定逸存在島上各地），一方面亦保留了一些前半
      生所使用的臺灣化日本漢語，例如：「切手」（郵票），「手續」。（後者現今似乎正在借入中國
      語了）。但是一切的重點放在對照詞義、語意互相溝通，以期保存中、臺各自的純一性。是否能如
      願以償，或另有不可遏抑的變化，那就無法料想。亦無能為力了。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【舉例】：單音詞、複音詞一概有用法舉例。單標「例」字指國語字句、詞句用例。相對的以「臺
      」字表示臺灣語句的對譯。有時先舉臺灣用例，國語用例在後。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【類語】：指字義詞義相同或相類似，常有連用機會的字。集在一起，至少有豐富詞彙的用處。臺
      語的例句加一個「臺」字，作「臺類語」。可能有共用的，但大都能區別方言色。亦有「類句」，
      指詞的結構相同。放在一起做陪襯，就有增加詞義正確性的作用。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【直譯】：國語與方言對譯，有時會出現語序不盡同的句例。這就先逐字對譯，再依照方言的習慣
      語法表達出來。這叫做「意譯」。句意對當詞義不變的譯文而合於方言習慣的表達叫做「意譯」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【意譯】：對「直譯」。（見前項）

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【訓讀】：表示用一個字的意義去表達另一個詞。例如：「<ruby>識<rt>&thinsp;ㄒ丨ㆤㆶ&thinsp;</rt></ruby>」，字義是「<rt>ㆠㄚㆵ</rt>／<rt>ㄅㄚㆵ</rt>」（認識、曉
      得）。「曾經」口語說「<rt>ㆠㄚㆵ</rt>／<rt>ㄅㄚㆵ</rt>」，就用「識」表「<rt>ㆠㄚㆵ</rt>／<rt>ㄅㄚㆵ</rt>」，作「我識去」叫人念「<rt>ㆣㄨㄚˋ</rt> <rt>ㆠㄚㆵ</rt> <rt>ㄎ丨˪</rt>」表
      「我曾去」，這「<ruby>識<rt>&thinsp;ㆠㄚㆵ&thinsp;</rt></ruby>」音就算訓讀。「識←<rt>ㄒ丨ㆤㆶ</rt>」不可能於語音轉為「<rt>ㆠㄚㆵ</rt>」。（近人為「<rt>ㆠㄚㆵ</rt>／<rt>ㄅㄚㆵ</rt>」
      找出「別」「八」、「白」做為「音」與「字」轉為一致的詞形）。所以「識」讀「<rt>ㆠㄚㆵ</rt>」就叫做訓
      讀（音）。
      「別」「<rt>ㄅ丨ㄚㆵ</rt>」語音「<rt>ㄅㄚㆵ</rt>」（有「辨別」義）。「八」往兩邊「分」開，亦有「分別」義。「白
      」有「明白」義，語音「<rt>ㆠㄚㆵ</rt>」見甘典。甘典「識」字收「<rt>ㆠㄚㆵ</rt>」為語音，審音頗嚴密的普閩典的「識
      」字就只有「<rt>ㄒ丨ㆤㆶ</rt>」一音，未收白音。「腳」字音「<rt>ㄍ丨ㆦㆶ</rt>」，意思是「<rt>ㄎㄚ</rt>」（腿腳也，骹）但語音不能
      轉為「<rt>ㄎㄚ</rt>」。俗用「<rt>ㄎㄚ</rt>」稱「腳」是訓讀。如地名「水返腳」的「<rt>ㄎㄚ</rt>」叫「<rt>ㄎㄚ</rt>」，不叫「<rt>ㄍ丨ㆦㆶ</rt>」。甘
      典「腳」字收「<rt>ㄎㄚ</rt>」為語音，普閩典「腳」字就沒有收「<rt>ㄎㄚ</rt>」音而擬出「<ruby>骹<rt>&thinsp;ㄎㄠ&thinsp;</rt></ruby>」念語音「<rt>ㄎㄚ</rt>」代替
      讀「<rt>ㄎㄚ</rt>」的「腳」。近年閩臺語用字就起了這類的大變化。本書收甘典，普閩典的字音，並列對照
      的目的就在此。（互見「音字脫節」）
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【音字脫節】：只懂話音一時寫不出字來的詞叫做：音和字脫節。話音和用以表達的字（詞形）配
      不起來。或許本來沒有，或許本來有的，被訓讀字佔了去，如「骹」與「腳」。或許詞形外借不還
      。「住」（持遇切＝<rt>ㄉ丨˫</rt>，在也），「戴／載」（<rt>ㄉㄞ˪</rt>／<rt>ㄉㄞ˫</rt>，事也）。音字脫節不是永遠的亦隨個人認
      字的多少而異。一般指大眾寫不出來就算音字脫節。因為話音總是走在文字的前面，文字是由後趕
      上補救的工具。中國語裡亦有。例如，挨<ruby>呲<rt>&thinsp;ㄘ&thinsp;</rt></ruby>（雌／齜），轉彎<ruby>抹<rt>&thinsp;ㄇㄛ&thinsp;</rt></ruby>（／麼）角。㡑（／繑／繰）
      <rt>ㄑ丨ㄠ</rt>，<ruby>㥮<rt>&thinsp;ㄓㄡˋ&thinsp;</rt></ruby>（／軸／紂）脾氣。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      本書裡用斜線隔開卻表通用互用的兩個以上的詞形（漢字表達）大都是音字脫節性質的詞，編
      者不敢偏舉。所以設計先標出拼音（表示音與字脫節）然後用括弧括入擬字，有的是新擬的詞形。
      如「敲削／敲褻」。新擬的字有時不止一字亦須並記並列。可是打字人員邊打字、邊學習，竟將其
      所了解可用的選出注上音，附記其餘。實非編者本意。其間亦有打字技術上為著方便的因素存在。
      不過這或許是一種自然淘汰了。說到自然淘汰，優勝劣敗這一點，筆者想起放眼島上音字脫節的文
      字表達嘗試現況，難免興起經濟學家所稱「惡幣驅逐良幣」之慨歎，難說我會錯了真意？
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      【詞形】：就是用以表達詞義的「字」。在音與字脫節多端的臺灣話方面，近年由於學人的努力，
      過去一直用字不安定的詞語逐漸解決了。為俗字找到正字，為訓讀找到本字，擬測語源等等真是閩
      南語史上的一場熱鬧。過去惟恐沒有適當的字可用，現在反而對於一個「詞」擬出來的字，不止一
      個苦於適從。有的是矯枉過正，有待商榷。例如：「<rt>ㄉㄞ˫</rt> <rt>ㄐ丨˪</rt>」（事情也）有的寫做「事志」，有的擬
      出「戴事」二字。「<rt>ㄎㄚ</rt>手」的「<rt>ㄎㄚ</rt>」，過去用「<ruby>腳<rt>&thinsp;ㄍ丨ㆦㆶ&thinsp;</rt></ruby>」訓讀「<rt>ㄎㄚ</rt>」，山「<ruby>腳<rt>&thinsp;ㄎㄚ&thinsp;</rt></ruby>」（山麓也）寫做「
      山腳」（山下也），現代學人擬出「<rt>ㄎㄚ</rt>」的正字「<ruby>骹<rt>&thinsp;ㄎㄚ&thinsp;</rt></ruby>」，即使行得通，恐怕一時不習慣吧。本書
      既非「典」而是「心得」性質的學習語言的記錄，絕對不是示「範」，採取雅俗並列的方式。只是
      想要在這裡舉出十個字為例，開誠佈公說出：編者多年來在學習中國語，用中國字以至在杜撰新字
      （由於私議）上面所耗費心思的一端，獻醜請教。怪我、罪我亦儘在此辭彙了。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      1.　<ruby><mark>&#xffb51;</mark><rt>&thinsp;ㆣ丨ㄣˋ&thinsp;</rt></ruby>、<ruby>囝<rt>&thinsp;ㄍ丨ㆩˋ&thinsp;</rt></ruby>、<ruby>囡<rt>&thinsp;ㄋㄢ&thinsp;</rt></ruby>：
      臺語「<rt>ㆣ丨ㄣˋ</rt> <rt>ㄚˋ</rt>」（小孩子也），周邊詞有「<rt>ㄍ丨ㆩˋ</rt>」（子、囝）。囝字讀「<rt>ㄍ丨ㆩˋ</rt>」合反切，不錯。
      可是近年來「囝」字多出「<rt>ㆣ丨ㄣˋ</rt>」音，接著有人推「<ruby>囡<rt>&thinsp;ㄋㄢ&thinsp;</rt></ruby>」字讀「<rt>ㆣ丨ㄣˋ</rt>」。都有來歷。但重疊
      了。何況「囡」字從女，有「<rt>ㄋㄢ</rt>」音可以專指「女孩子」。查普閩典「<ruby>囡<rt>&thinsp;ㄋㄢ&thinsp;</rt></ruby>」字包括「囝
      」字，又分為「囝」（文）<rt>ㆣ丨ㄢˋ</rt>，（白）<rt>ㄍ丨ㆩˋ</rt>，「囡」<rt>ㆣ丨ㄣˋ</rt>，（俗）<rt>ㄍ丨ㄣˋ</rt>。合而又分。本書擬分為
      「囝」（文）<rt>ㄍ丨ㄢˋ</rt>（九件切），（語）<rt>ㄍ丨ㆩˋ</rt>。「囡」音「<rt>ㄋㄢ</rt>」，女孩子。「<ruby><mark>&#xffb51;</mark><rt>&thinsp;ㆣ丨ㄣˋ&thinsp;</rt></ruby>」（小孩子也
      ）杜撰字，比照「銀」字從「艮」有「<rt>ㆣ丨ㄣˊ</rt>」音，與漳州系的「<ruby><mark>&#xf9877;</mark><rt>&thinsp;ㄍ丨ㄣˋ&thinsp;</rt></ruby>」通義而讀「<rt>ㆣ丨ㄣˋ</rt>」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      2.  <ruby>空<rt>&thinsp;ㄎㄤ&thinsp;</rt></ruby>（／孔）：康、埪*／㾤*：
      臺語裡傷口叫作「<rt>ㄎㄤ</rt>」，我的語感是「空」，臺日典用「孔」字。字面上用「孔」較妥，
      只是「孔」字音「<rt>ㄎㆲˋ</rt>」，上聲，聲調不合。用「孔」讀「<rt>ㄎㄤ</rt>」是一種訓讀。「空」，字面
      上是天空，空虛，所以加<mark>&#xf8150;</mark>字旁表「傷口」加土字旁表地洞以至一般的小洞。㾤、埪都是
      私議以期達到一字一音的目的而已。普閩典用「康」代替「空」「孔」。例如「好康」、
      「展康」，字面上優雅，但語感上失了本義。「康」字在古語裡有無「孔」義，這裡記下
      來等原提案人加以註解講明。（寫到這裡忽然想到：用「康」讀「<rt>ㄎㄤ</rt>」（空、孔也）好像
      是到福建閩南的外江籍人容易犯的辦法。「康」的語音從來只有「<rt>ㄎㆭ</rt>」音。無獨有偶臺灣
      的外來客發明用「<ruby>速<rt>&thinsp;ㄙㄨˋ&thinsp;</rt></ruby>配」，代替臺灣的「<ruby>四<rt>&thinsp;ㄙㄨ˪&thinsp;</rt></ruby>配」，用「奧」（國音「<rt>ㄠˋ</rt>」，臺音「<rt>ㄜ˪</rt>
      」）表臺音「<rt>ㄜㆷ</rt>」（難也）。如「言語奧化（<rt>ㄏㄨㄚ</rt>）」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      3.  「<rt>ㄘㄨㄣ</rt>」（剩餘也）：偆／賰？  伸／申？
      臺語表「剩餘」義的語詞「<rt>ㄘㄨㄣ</rt>」亦是十足的音字脫節。這個一天廿四小時掛在口頭的「詞
      」，即使是音字脫節，以甘典的收字豐富，至少亦應立拼音詞頭。臺日典用「剩」字訓讀
      「<rt>ㄘㄨㄣ</rt>」但註明語源可能是「伸」。連氏臺灣語典亦不期而同地著「偆」字釋為：伸也，賸
      也。其實，「伸」、「偆」（<rt>ㄘㄨㄣˋ</rt><ruby>變<rt>&thinsp;ㄘㄨㄣ&thinsp;</rt></ruby>）（？）音同義趣不同。依我看可能是「<rt>ㄘㄨㄣ</rt>」（表音
      詞）一音分化為二義。（一）伸長、伸直。（二）剩餘、殘存。「餕」有剩餘義，原讀去
      聲「<rt>ㄗㄨㄣ˪</rt>」，但可能受「春」（天）（冬餘）的影響，變為陰平。從「春」的偆（<rt>ㄘㄨㄣˋ</rt>）／賰
      （<rt>ㄘㄨㄣˋ</rt>）常義富足有餘亦被「春」字吸收，「剩餘」義藏在「春」字。這只看今日農曆元旦
      猶盛貼紅紙寫「春」字諧音「<rt>ㄘㄨㄣ</rt>」（有餘）取吉利即可了解。又，「春風」諧「<ruby>伸<rt>&thinsp;ㄘㄨㄣ&thinsp;</rt></ruby><ruby>風<rt>&thinsp;ㄏㆲ&thinsp;</rt></ruby>
      」（舒暢，不退縮），不需要寫「餕」讀「<rt>ㄘㄨㄣ</rt>」，不用「伸風」表舒暢，可想而知。我見
      如此。（說不定別人另有更好的看法）
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      4.  「<rt>ㄏㆦ˫</rt>」（給與也）：與？ 付？ 互？
      臺語指「給與」義的「<rt>ㄏㆦ˫</rt>」，向來多用「<ruby>與<rt>&thinsp;ㄨˋ&thinsp;</rt></ruby>」之語音「<rt>ㄏㆦ˫</rt>」表達出來。甘典已著錄「<rt>ㄏㆦ˫</rt>
      」為「與」字的語音。查臺日典則用「給」字訓讀「<rt>ㄏㆦ˫</rt>」。近年與傳統決裂，作者多另擬
      字。諸如：乎、護、予…等。筆者亦曾擬出一個「<mark>&#xf8151;</mark>」字，現在自我揚棄，另擬（起用）
      「付」（<rt>ㄏㄨ˪→ㄏㆦ˫</rt>）字，而向普通話閩南方言詞典所用「互」字（當「交付」「給予」「解
      」等）提出商搉、質疑。詳見「閩臺方言研究集」(2)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      5.  「<rt>ㄉ丨˫</rt>」（在也）：在？ 住？ 佇？
      臺語的「在」字用在日常行文中，用臺語音讀發現可以有四音──<rt>ㄗㄞ˫</rt>，<rt>ㄘㄞ˫</rt>，<rt>ㄉㆤㆷ</rt>，<rt>ㄉ丨˫</rt>。「<rt>ㄗㄞ˫</rt>
      」是常用字音，「<rt>ㄘㄞ˫</rt>」今已生疏但需要這音。「<rt>ㄉㆤㆷ</rt>」似已音字脫節。「<rt>ㄉ丨˫</rt>」諧「住」（持
      遇切）是成問題的音，一見似是訓讀音。甘典<ruby>收<rt>&thinsp;ㄗㄞ˫&thinsp;</rt></ruby>，<rt>ㄘㄞ˫</rt>，<rt>ㄒ丨˫</rt>，<rt>ㄉ丨˫</rt>四音，就中「<rt>ㄒ丨˫</rt>」已脫節
      。未收「<rt>ㄉㆤㆷ</rt>」音，我認為「<rt>ㄉㆤㆷ</rt>」是「<rt>ㄉ丨˫</rt>，<rt>ㄌㆤㆷ</rt>」（在咧？）的合音。「<rt>ㄘㄞ˫</rt>」是「<ruby>在<rt>&thinsp;ㄗㄞ˫&thinsp;</rt></ruby>」的外
      動詞用法破讀即可。而為著一字一音，把「在」分為三形，<ruby>在<rt>&thinsp;ㄗㄞ˫&thinsp;</rt></ruby>，<ruby><mark>&#xf9853;</mark><rt>&thinsp;ㄉ丨˫&thinsp;</rt></ruby>，<ruby><mark>&#xf9549;</mark><rt>&thinsp;ㄉㆤㆷ&thinsp;</rt></ruby>。
      「<mark>&#xf9853;</mark>」形表示「人」在裡面，「<mark>&#xf9549;</mark>」，「在」字加一點是用「<mark>&#xf8152;</mark>」字有「<rt>ㄉㆤㆷ</rt>」音為背景。
      不合六書造字，又不敢想行得通。查普通話閩南方言詞典的廈語部分則用「佇」字讀「<rt>ㄉ丨˫</rt>
      」表「在」義。編者有專文研究「在」字是否有「<rt>ㄉ丨˫</rt>」音，收入閩臺方言研究集（2）。
      不過退一步想，一些需要費唇舌紙筆討論的字都是難行得通的。上天下地，方便第一。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      6.  「<rt>ㄙㄨ丨ˋ</rt>」（美麗也，好看）：水？ 嫷？ 婑？
      「<rt>ㄙㄨ丨ˋ</rt>、<rt>ㆠㄞˋ</rt>」的「<rt>ㄙㄨ丨ˋ</rt>」，與「水」的字音相同。表「美麗」義的「<rt>ㄙㄨ丨ˋ</rt>」通常用「水」。「水
      」的常義與「美麗」的意思，差一程，所以有音字脫節的感覺。但研究一下由「水」亦可
      以引申出美麗的意思，日本漢字「水」、「瑞」都訓讀「みず」，有豐美的意思。亦曾經
      看過有人考出「水」的「美」義。但是似未見定論。近日更見嫷、婑、<mark>&#xf935a;</mark>等擬字。我亦杜
      撰了一個「<mark>&#xffad0;</mark>」字，目的是在一字一音、可清眉目。我不敢否定「水」有「美」義。互見
      次項「<ruby><mark>&#xffcda;</mark><rt>&thinsp;ㆠㄞˋ&thinsp;</rt></ruby>」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      7.  「<rt>ㆠㄞˋ</rt>」（醜、不美也）：醜？ 䆀？
      「<rt>ㄙㄨ丨ˋ</rt>、<rt>ㆠㄞˋ</rt>」（美醜也）的「<rt>ㆠㄞˋ</rt>」，自來多用「醜」字訓讀。甘典用「惡」字訓讀「<rt>ㆠㄞˋ</rt>」可
      能出於古訓，現在字面上讀了不習慣。 亦就由於有這種情形， 普閩典找出一個「䆀」字
      （母亥切海韻）切音「<rt>ㆠㄞˋ</rt>」還可用。推其用意似謂稻因雨生黑斑而敗（集韻廣韻），轉謂
      不美，「<ruby>敗<rt>&thinsp;ㄅㄞˋ&thinsp;</rt></ruby>」字呢？雖然音相近似至少字面上不大妥當。另有移用火色之末，不夠亮的
      「<mark>&#xf927b;</mark>」字（莫撥切曷韻）訓讀「<rt>ㆠㄞˋ</rt>」，字面上更不貼切（甘典）。謂「<ruby>火<rt>&thinsp;ㄏㄨㆤˋ&thinsp;</rt></ruby><ruby><mark>&#xf927b;</mark><rt>&thinsp;ㆠㄞˋ&thinsp;</rt></ruby>（不明亮
      ）」則可以。編者擬用「<mark>&#xffcda;</mark>」。雖不合傳統造字法，但若以「歪」讀「<rt>ㄨㄞ</rt>」為例來看，是
      講得通的，應該容易接受。亦有人認為「<rt>ㆠㄞˋ</rt>」是「<ruby>美<rt>&thinsp;ㆠ丨ˋ&thinsp;</rt></ruby>」之轉音「<rt>ㆠㄞˋ</rt>」之反訓。像「治」
      訓「亂」，理論上可以了解，似不切實用。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      8.  「<rt>ㄍ丨ㆬ</rt>」（光滑，亮晶晶）：金？ <mark>&#xffa56;</mark>？
      臺語「<rt>ㄍ丨ㆬ</rt> <rt>ㄒ丨ㆷ</rt> <rt>ㄒ丨ㆷ</rt>」，臺日典作「金閃閃」，切用。黃金的色澤、澤亮。「金」字自然能帶出
      「亮」「閃亮」的意思。只是為著更加醒目，清眉目，加義符作「<mark>&#xffa56;</mark>」，表「閃亮」。與
      其只作「金滑」不如作「<mark>&#xffa56;</mark>滑」（光滑也），容易辨別。會不會是庸人自擾？
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      9.  「<rt>ㄍㄨ丨</rt>」（整個地，囫圇也）
      臺語「<rt>ㄍㄨ丨</rt>粒吞」（整顆地吞也），「<rt>ㄍㄨ丨</rt>身軀」（滿身也）的「<rt>ㄍㄨ丨</rt>」，過去都用「歸」字。
      「歸」的常義是歸還、回歸，怎引申轉義做「整」，因此亦認為是音字脫節的字。試擬更
      貼切的，有如：規、佹……等。最近注意到北方話的「歸結」「歸了包推」等「歸」字的
      用法，又覺得新擬的「佹」「規」等字不比「歸」好。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      10.  指示代詞
      編者為臺灣的指示代詞擬了一套用字，用對照的方式製成一表如下：
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      國臺廈指示代詞詞形對照表（普閩典廈語的標音原本用廈語拼音方案）
      
      ┌──┬───────┬─────┬──────┬────────┬──────┐
      │    │近指(物)單指  │複　指    │　指　　地　│　專　　　指    │近指(副詞性)│
      ├──┼───────┼─────┼──────┼────────┼──────┤
      │國語│這，～個      │這些      │這裏  　　　│這<ruby>一<rt>&thinsp;丨&thinsp;</rt></ruby>→「<rt>ㄓㄟˋ</rt>」  │這麼        │
      │    │              │          │這兒 　　　 │                │            │
      ├──┼───────┼─────┼──────┼────────┼──────┤
      │本書│<rt>ㄐ丨ˋ</rt>(只／<ruby>此<rt>&thinsp;ㄐ丨ˋ&thinsp;</rt></ruby>)  │<ruby>㘹<rt>&thinsp;ㄐ丨ㄚ&thinsp;</rt></ruby><ruby>個<rt>&thinsp;ㆤˊ&thinsp;</rt></ruby>  │<ruby>㘹<rt>&thinsp;ㄐ丨ㄚ&thinsp;</rt></ruby>←玆*   │<rt>ㄐ丨ㆵ</rt>（<ruby>此<rt>&thinsp;ㄐ丨ˋ&thinsp;</rt></ruby><ruby>一<rt>&thinsp;ㄐ丨ㆵ̇&thinsp;</rt></ruby>）→│<ruby>呰<rt>&thinsp;ㄐ丨ㄚㆷ&thinsp;</rt></ruby>*<ruby>恁<rt>&thinsp;ㄌ丨ㄣ˪&thinsp;</rt></ruby>   │
      │    │<ruby><mark>&#xffacb;</mark><rt>&thinsp;ㄗㆤ&thinsp;</rt></ruby>          │          │      　　　│<ruby><mark>&#xffb50;</mark><rt>&thinsp;ㄐ丨ㆵ&thinsp;</rt></ruby>，～搭、～塊│            │
      ├──┼───────┼─────┼──────┼────────┼──────┤
      │普閩│<rt>ㄐ丨ㄚˋ</rt>(者／這)<ruby>這<rt>&thinsp;ㄗㆤˋ&thinsp;</rt></ruby>│<ruby>遮<rt>&thinsp;ㄐ丨ㄚˊ&thinsp;</rt></ruby><ruby>丌<rt>&thinsp;ㆤˊ&thinsp;</rt></ruby>  │<rt>ㄐ丨ㄚˊ</rt>(遮)←玆* │<rt>ㄐ丨ㆵ</rt>(<ruby>即<rt>&thinsp;ㄐ丨ㆵ&thinsp;</rt></ruby>)，      │<ruby>跡<rt>&thinsp;ㄐ丨ㄚㆷ&thinsp;</rt></ruby><ruby>爾<rt>&thinsp;ㄋ丨ˋ&thinsp;</rt></ruby>    │
      │    │              │          │　　　      │ ～跡、～帶　   │            │
      └──┴───────┴─────┴──────┴────────┴──────┘
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      
      ┌──┬───────┬─────┬──────┬────────┬──────┐
      │    │遠指          │複　指    │指　地　　　│　專　　　指    │遠指(副詞性)│
      ├──┼───────┼─────┼──────┼────────┼──────┤
      │國語│那            │那些    　│那裏 　　　 │「那一」<rt>ㄋㄞˇ</rt>→<ruby>那<rt>&thinsp;ㄋㄟˋ&thinsp;</rt></ruby>│那麼        │
      ├──┼───────┼─────┼──────┼────────┼──────┤
      │本書│<ruby><mark>&#xf9dd4;</mark><rt>&thinsp;ㄏㆤ&thinsp;</rt></ruby>*←<ruby>彼<rt>&thinsp;ㄏ丨ˋ&thinsp;</rt></ruby>*  │<ruby><mark>&#xf8fbd;</mark><rt>&thinsp;ㄏ丨ㄚ&thinsp;</rt></ruby>*<ruby>個<rt>&thinsp;ㆤˊ&thinsp;</rt></ruby> │<ruby><mark>&#xf8fbd;</mark><rt>&thinsp;ㄏ丨ㄚ&thinsp;</rt></ruby>*←<ruby>彼<rt>&thinsp;ㄏ丨ˋ&thinsp;</rt></ruby>*│ <mark>&#xf8fbe;</mark> <rt>ㄏ丨ㆵ</rt>*   　    │<ruby><mark>&#xf9075;</mark><rt>&thinsp;ㄏ丨ㄚㆷ&thinsp;</rt></ruby><ruby>恁<rt>&thinsp;ㄌ丨ㄣ˪&thinsp;</rt></ruby>    │
      │    │              │          │　　        │←「<ruby>彼<rt>&thinsp;ㄏ丨ˋ&thinsp;</rt></ruby><ruby>一<rt>&thinsp;丨ㆵ&thinsp;</rt></ruby>」  │            │
      ├──┼───────┼─────┼──────┼────────┼──────┤
      │普閩│<rt>ㄏㆤˊ</rt>(奚) ← <ruby>許<rt>&thinsp;ㄏ丨ˋ&thinsp;</rt></ruby>│<ruby>赫<rt>&thinsp;ㄏ丨ㄚㆷ&thinsp;</rt></ruby><ruby>丌<rt>&thinsp;ㆤˊ&thinsp;</rt></ruby>  │<ruby>遐<rt>&thinsp;ㄏ丨ㄚˊ&thinsp;</rt></ruby> 　　　 │<ruby>迄<rt>&thinsp;ㄏ丨ㆵ&thinsp;</rt></ruby>，～搭、～帶│<ruby>赫<rt>&thinsp;ㄏ丨ㄚㆷ&thinsp;</rt></ruby><ruby>爾<rt>&thinsp;ㄋ丨ˋ&thinsp;</rt></ruby>    │
      └──┴───────┴─────┴──────┴────────┴──────┘
      
      註（一）按：此，今雌氏切紙韻，但從「止」，疑本有「<rt>ㄐ丨ˋ</rt>」音，同「只」（諸氏切紙韻
      ），「只」舊有異讀（康典）之日切。可知「只」與「此」有淵源關係，不止於借音
      。「只」從前有「<rt>ㄐ丨ˋ</rt>」、「<rt>ㄐ丨ㆵ</rt>」二音與今臺語「<rt>ㄐ丨ˋ</rt>」變「<rt>ㄐ丨ㆵ</rt>」的轉變關係一樣。康典
      又引「只」有「支」音當「專辭」用，正與今臺語「<rt>ㄐ丨ㆵ</rt>」「此一」對當。
      「<rt>ㄐ丨ˋ</rt>」（此、只）音按照「<ruby>～<rt>&thinsp;丨&thinsp;</rt></ruby>」變「<ruby>～<rt>&thinsp;丨ㄚ&thinsp;</rt></ruby>」的規則條例變讀「<rt>ㄐ丨ㄚˋ</rt>」就是普閩所存廈
      音「<rt>ㄐ丨ㄚˋ</rt>」(這)。臺語音「<rt>ㄐ丨ㄚ</rt>」。臺語「<rt>ㄐ丨ㄚ</rt>」（此處也）可以解釋做「此跡（<rt>ㄐ丨ˋ</rt> <rt>ㄐ丨ㄚㆷ</rt>）」
      的縮音，亦可以了解做「<rt>ㄐ丨ˋ</rt>」的屈折音引申義。說不定受過原住民語音的影響。今廈
      語（<ruby>遮<rt>&thinsp;ㄐ丨ㄚˊ&thinsp;</rt></ruby>）臺語「<rt>ㄐ丨ㄚ</rt>」若要求音義一致的字，除了「此」字以外「茲」（此也）字更
      合適。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      註（二）「<rt>ㄏ丨</rt>」「<rt>ㄏㆤ</rt>」的語源可能是「彼」字。「彼」今不存「ㄏ～／h～」紐音， 但「
      彼」字的反切上字「補」，從「甫」，後來變「ㄏ～／h～」母， 所以，我認為「<rt>ㄏㆤ</rt>
      ／<rt>ㄏ丨ˋ</rt>」（<mark>&#xf9dd4;</mark>、許）的語源應是「彼」字。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      詞 品 名
      
      〔名詞〕：固有名詞、一般名詞。
      〔代名詞〕：我、你、他…。
      〔量詞〕：包括「單位詞」。如：一個、一條。臺語大塊石之「塊」。
      〔動詞〕：表動作動態。如：跑、寫。詞句上為述語。
      〔助動詞〕：對主動詞。如：可吃的「可」，想去的「想」。
      〔動名詞〕：用如名詞的動詞。如「一頓打」的「打」。
      〔狀詞〕：包括形容詞、副詞。
      〔形容詞〕：修飾名詞狀態的詞。如：好人的「好」。
      〔副詞〕：修飾動詞的詞。如：快走的「快」。「好好地」（用功）。
      〔動狀〕：帶狀詞性的動詞或帶動詞性的狀詞。
      〔指副〕：指示性的副詞。如：這麼，那麼。
      〔介詞〕：引介詞。如：把他打了一頓的「把」。
      〔連詞〕：連接詞。如：我和你的「和」。
      〔助詞〕：用在句末幫動詞意義的語氣的虛詞。
      〔擬音詞〕：描述聲音的詞。如：叮噹響的「叮噹」。「呱呱」叫。
      〔擬態詞〕：描述狀態的詞。如：靜靜。好好。
      〔情感詞〕：所謂驚歎詞。表感情，情意的詞。因為不止驚歎，喜、怒、哀、樂等七情都有所以
      改稱情感詞。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      略 語 表（詳見參考書目）
      
      〔八百〕：現代漢語八百詞。（呂叔湘）
      〔十五音〕：指「彙集雅俗通十五音」。（漳州音韻書的代表作）。
      〔大破〕：破音字大全。（曾國泰）。
      〔日臺〕：日臺大辭典。（臺灣總督府。小川尚義主編）
      〔中日〕〔中日典〕：中日大辭典。
      〔日報〕：國語日報辭典。
      〔文〕：文言詞句。對「古文」「白話」。
      〔文白〕：半文不白，書面語猶常用的詞句。
      〔文語〕：指文言構詞，猶上口常用的。
      〔反組〕：反義組合。如：「伸縮」。
      〔臺〕：臺語、臺灣、閩南系臺灣話
      〔臺日典〕：臺日大辭典。
      〔日報破音〕：國語日報破音字典。
      〔生活〕：國語生活用語詞彙。
      〔名短〕：名詞短語。
      〔妙悟〕：彙音妙悟。
      〔具〕：具體，對「抽象」。
      〔直譯〕：對「意譯」。
      〔意譯〕：對「直譯」。
      〔並列〕：詞的結構由同一詞品構成。別於「動賓」「偏正」。
      〔具名〕：具體名詞。山、椅子。對「抽名」。
      〔例〕：舉例，國語的。後接(台)表〔臺例〕臺語的。
      〔抽〕：抽象。對「具體」。
      〔抽名〕：抽象名詞。如：羞辱、精神。
      〔倉石典〕：倉典：（倉石）中國語辭典。
      〔偏正〕：偏正結構。如：治國（偏正）安定的國家。對「動賓」。如「治國」（動賓），治理國
      家。
      〔副動〕：副動結構。如：「過慮」。「過」字在副位。
      〔殊〕〔殊音〕：特殊。表不常，罕見的特別用法、音義等。
      〔訓〕〔訓讀〕：指「訓讀」。詳見凡例。
      〔動〕：動詞。
      〔動補〕：指「動補結構」。
      〔動名〕：（1）當動詞用的名詞。如：加以訓練。（2）名詞當動詞用的。如：「往東一指」的
      「一指」不是「一隻手指頭」，而是「指向」（動詞）的名詞性用法，此例或應該稱動量。
      〔動短〕：動詞短語。
      〔動賓〕：動詞與賓詞的構詞，動賓。互見「混動」。
      〔舊〕：舊音、舊語。終戰前用語。
      〔詞林〕：同義詞詞林。
      〔連〕：連詞。另表示單字不成詞，需與其他語連用才成詞的字。
      〔參〕：參看、參照、參考。
      〔國語〕：中國國語。漢語。大陸普通話。臺灣共同語。對：臺語方言、外語。
      〔普閩〕〔普閩典〕：指「普通話閩南方言詞典」。
      〔國典〕：指部頒：國音字典。國音常用字彙、國語辭典（商務版、汪怡編）、中華
      新韻、標準國音彙編、重編國語辭典、國語日報字典、國語大詞典（臺灣東方書店）。
      〔情〕：情感詞，舊稱：感歎詞。
      〔動賓〕：構詞的動詞與賓詞的結構。詞義有所引申則稱：混動。亦作詞結。
      〔混動〕：互見前項，詞義有所引申的動賓結構構詞。
      〔混狀〕：互見「詞結」。
      〔紅〕：紅樓夢。
      〔單〕：單位詞。
      〔音字脫節〕：字音和字形脫節寫不出字來的詞。有時雖寫出字來，實際上是語感與字面不一致的
      表音字。詳見凡例部分的「音字脫節」。
      〔荷典〕：荷華文語類參。
      〔陸彙〕：北京單音詞詞彙（陸志韋）
      〔廈〕：廈語，廈門話。（多指引自普閩典者）
      〔曾〕：破音字大全（曾國泰）
      〔彙〕：＝匯。指：漢語方言詞匯。
      〔短語〕：不成句的多音詞。如：許字、許嫁。
      〔華〕：中華、華文、中文。臺灣漢語共同語。參考：八十六年十二月廿五日臺灣日報報導。
      〔詞結〕：詞組。指涵義有所引申不能就字面作解的雙音詞。如臺語「制治」謂「欺負」、「施
      虐」，不是創制治理。
      〔新康典〕：指「新修康熙字典」。(臺北高樹潘)。
      〔新華典〕：新華辭典（北京）。
      〔楊〕〔許玉玲〕：楊太太＝許玉玲女士（提供廈門方言資料多處）。
      〔稱〕：稱謂。
      〔語〕：口語，活語言，常用，上口耳聽能懂。對「文」。普閩典與「文」相對稱的是「白」
      「白話」，本書用「語」代「白」。
      〔閩臺典〕：指「綜合閩南臺灣語基本字典」（初稿）。
      〔鄙〕：指「鄙語」「褻語」──不雅的。
      〔譏〕：譏笑。譏諷。
      〔貶〕：貶義。貶抑。
      〔駱〕：駱駝詳子（書名）。
      〔類義〕：表詞義相「類屬」成類。例如「臉面」是同義詞或疊義詞，「嘴臉」則是「類義」。
      耳、目、口、鼻等詞的集合算成「類」。（這種安排對查字查詞等有時不無方便）
      〔疊義〕：表示同義詞「疊」用。
      〔D典〕：Douglas著「廈英大辭典」。詳見參考書目。
      〔M典〕：Medhurst著「福建方言字典」。詳見參考書目。
      〔匯／<mark>&#xf9e7d;</mark>〕：漢語方言字匯、漢語方言詞匯。
      〔三百〕：三百字故事。(臺北國語日報社)。
      〔趙典〕：趙元任著：國語字典。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      符 號 說 明
      
      ㄅㄚ[ba]：【ㄅㄚ】是國語注音符號第一式，[ba]是國語注音符號第二式(國語羅馬字)。
      【<ruby>吧<rt>&thinsp;˙ㄅㄚ&thinsp;</rt></ruby>】：此字只有輕聲所以直接在注音符號的右側注輕聲【˙】。
      【<ruby>孩<rt>&thinsp;ㄏㄞˊ&thinsp;</rt></ruby><ruby>子<rt>&thinsp;˙ㄗˇ&thinsp;</rt></ruby>】：【子】字，本調是【<rt>ㄗˇ</rt>】，讀輕聲時在本調的左邊加輕聲【˙】符號，
      作【<rt>˙ㄗˇ</rt>】。
      ／：（斜線）表示「同音異形」或通用、互用、互補關係。用斜線隔開的兩個以上的詞形，在本書
      中大都是音與字脫了節的。例如：「驚揢揢（／愕愕）」用斜線隔開，卻是要表同音──「
      <rt>ㄍ丨ㆩ</rt> <rt>ㄎㆤㆷ̇</rt> <rt>ㄎㆤㆷ̇</rt>」，亦同義。「揢」只能表音「<rt>ㄎㆤㆷ</rt>」（甘典收作陰入聲），「愕」字則兼表詞義「驚
      愕」。愕字的文音，甘典、普閩典皆作「<rt>ㆣㆦㆶ̇</rt>」音。兩典所收語音則互有出入。前者收「<rt>ㄫ丨ㄚㆷ̇</rt>、
      <rt>ㄎㄠㆷ̇</rt>、<rt>ㄎㆤㆷ̇</rt>」三音，後者則只收「<rt>ㆣ丨ㄚㆷ̇</rt>」一音。這裡臺、廈字音並列對照出「<rt>ㄎㆤㆷ̇</rt>」的語音是否能成
      立的問題。
      再說「緩慢／汗漫」，亦用斜線隔開，但「緩」和「汗」不同音。因前人擬出這兩個詞形字
      音都近似臺語「<rt>ㄏㆰ˫</rt> <rt>ㆠㄢ˫</rt>」所以列在一起，其實未能確切，斜線只能帶出「詞形不確定」的意思
      來。又如：載（／戴）事（／事情）：表示可用「<ruby>載<rt>&thinsp;ㄉㄞ˫&thinsp;</rt></ruby><ruby>事<rt>&thinsp;ㄐ丨˪&thinsp;</rt></ruby>」或「<ruby>戴<rt>&thinsp;ㄉㄞ˪&thinsp;</rt></ruby><ruby>事<rt>&thinsp;ㄐ丨˪&thinsp;</rt></ruby>」或「<ruby>事<rt>&thinsp;ㄉㄞ˫&thinsp;</rt></ruby><ruby>情<rt>&thinsp;ㄐ丨˪&thinsp;</rt></ruby>
      」的其中一個。
      ←／→：表示字（／詞）音、字（／詞）義、字形往箭頭方向(向左右)演變。
      //：表隔開左右義解不同。
      *：表示新擬的字或罕用字，有的是編者的杜撰試用。
      （？）：有括弧的問號表示未定案，用字上尚有疑問未能確定。
      □：表示未找出適當的字。如：代□（匯）：□表示未找到適當的字，（匯）表書名。
      轉彎（兒）：括弧內的（兒），表示可省略。如果沒有加括弧則表示不能省略。
      <ruby>(　)<rt>ㄆㆥ˫</rt></ruby><ruby>(　)<rt>ㄆㆥ˫</rt></ruby><ruby>喘<rt>&thinsp;ㄘㄨㄢˋ&thinsp;</rt></ruby>：括弧內無字表示未找出適當的字，可以單以臺語注音符號標出。「<rt>ㄆㆥ</rt> <rt>ㄆㆥ</rt>」<ruby>喘<rt>&thinsp;ㄘㄨㄢˋ&thinsp;</rt></ruby>。
      <ruby>火<rt>&thinsp;ㄏㄨㆤˋ&thinsp;</rt></ruby>／<rt>ㄏㆤˋ</rt>／<rt>ㄏㄜˋ</rt>／<rt>ㄏㆦˋ</rt>：字後有多音，表示此「字音」隨各地方的「方音」而有不同的發音。
      異體(／通用／古今)字：例：裏裡／後后／甚什／鋪鋪／賸剩／秘祕／澈徹／黏粘／
      闔合／申伸／吃喫／帳賬／於于／沈沉／仗杖／志誌／證証／弦絃／
      纔才／閒閑／贊讚／腮顋／婿壻／憑凭／繃<mark>&#xffbba;</mark>／鬥鬦／礦鑛
      ／澀澁 ……等字，有的並列，如：閒(／閑)，有的只用其中一字。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem").
      參 考 書 目
      
      大漢和辭典。日本、諸橋轍次著。大修館書店。
      中國語辭典。倉石武四郎。岩波書店，一九六三年。
      日臺大辭典。小川尚義主編。臺灣總督府。
      北京音系十三轍。張洵如教育部大詞典編纂處。民62年天一出版社。
      北平音系小轍編。張洵如編。上海開明書店。民國三十八年。
      北平話單音詞詞彙。陸志韋著，崇文書店。一九七一年。
      北京土語辭典。徐世榮編。北京出版社。一九九０年。
      中日大辭典。日本愛知大學中日大辭典編纂處。一九六七年。
      中華新韻。教育部國語推行委員會編。臺灣版。
      同義詞詞林。梅家駒等四人編。上海出版社。
      重編國語辭典。教育部重編國語辭典委員會編。臺灣商務印書館。民國七十年。
      國音常用字彙。國語統一籌備委員會。民國廿一年。
      臺日新辭書。東方孝義編。臺灣警察協會，昭和六年。
      臺日大辭典  上下兩卷  小川尚義主編，臺灣總督府。閩南語經典辭書彙編本。
      國音標準彙編。臺灣省國語會編印。開明書店。民國四十一年。
      國語大詞典。臺灣東方書店。民國五十二年。
      國語日報字典。何容主編。臺北國語日報社。民65-80年版。
      國語日報破音字典。何容主編。民國68-77年版。
      國語日報辭典。何容主編。民國63-78年版。
      國語文法（訂正本，新著）。黎錦熙著。民13-23年版。
      國語生活用語辭彙。蘇金泉。臺中光華印書局。民國47年。
      國語辭典。教育部中國大辭典編纂處纂。民國34年八冊本。
      現代漢語八百詞。呂淑湘主編，北京商務。一九八○年。
      現代漢語虛詞。景士俊著。內蒙古人民出版社。一九八○年。
      現代漢語虛詞例釋。北大中文系編。北京商務。一九八二年。
      現代漢語詞典。中國科學院語言研究所詞典編輯室編。香港商務印書館。一九七七年。
      現代北京口語詞典。陳剛等二人編。北京語文出版社。
      常用描寫詞彙。陳劍秋。華文世界第十三期起連載。
      廈門音新字典。（臺南宣教師）甘為霖著。1913-1978年版。
      A Dictionary of the Amoy Vernacular spoken through out the prefectures of Chin-chiu,
      Chang-Chiu and Formosa (Taiwan) by Rev. W. Campbell. F.R.G.S. (The Taiwan Church
      Press.)
      普通話閩南方言詞典。廈門大學中國語音文字學研究所漢語方言研究室編。一九八二年，福建人民
      出版社。臺灣版。
      彙集雅俗通十五音。清謝秀嵐等編。漳州、漳浦系俗韻書，版本多種。
      彙音妙悟。清黃謙編。版本多種，有增補本，詳註本等，係泉州系俗韻書。
      集韻。宋丁度奉敕修定。臺灣中華書局據棟亭五種本校刊、聚珍倣宋版印本民國五十五年臺一版。
      新校互注宋本廣韻。  香港余迺永校註，香港中文大學出版社。一九九一年。
      新華詞典。新華詞典編纂組編，北京，商務。一九八○年。
      新華字典。北京，商務印書館。一九七九年修訂重排印本。1980年印。
      辭苑。新村出編纂。昭和十五年。博文館。
      輕聲變義舉例。張孝裕著。臺灣學海出版社。民國六十五年（一九七六年）。
      漢語的詞類分類。王力等十七人著。北京。一九五五年。
      漢語詞彙。孫長敘著。吉林。一九五六年。
      漢語方言字匯。北大中文系語言教學室。一九六二年。
      漢語方言詞匯。北大中文系語言教學室。一九六四年。
      綜合閩南臺灣語基本字典初稿。吳守禮編。一九八六年，美國初版大字本，臺北文史哲出版社
      縮印本。
      增補附註國音常用字彙。方師鐸增補。民國66年，臺北天一出版社。
      潮語詞典。蔡俊明著，周法高撰序及發行。臺北印。一九七六年。
      潮語詞典補編、國潮語彙。蔡俊明編，周法高審閱。臺灣學生書局。一九七九年。
      潮州方言詞匯。蔡俊明編著。香港中文大學吳多泰中國語文研究中心出版。一九九一年後記。
      Dictionary of the Hokeen Dialect of Chinese Language According to the Reading and
      Colloquial Idioms. （福建方言字典）by Walter henry Medhurst.
      1831年原刊拷貝本。臺北洪惟仁編閩南語經典辭書彙編本，一九九三年。
      Chinese-English Dictionary of the Vernacular or Spoken Language of Amoy Chang-Chew
      Chin-Chew Dialects.（廈英大辭典）by Carstairs Douglas. 一八七三年序刊。有臺北洪惟
      仁編閩南語經典辭書彙編本，一九九三年。有橋本萬大郎署刊本，一九七○年。
      Supplement to Dictionary of the Vernacular or Spoken Language of Amoy (Rev. Carstairs
      Douglas) by Rev. Thomas Barclay. The Commercial Press Shang-hai，一九二三年。今
      有一九七○年普林斯頓中國語言計劃中心與前項 Douglas「廈英大辭典」合印本。
