@charset "UTF-8";
@import url('./han.min.css');
.sentence {
    border-left: 2px solid green;
    padding: 5px;
    margin: 5px;
}
.lang {
    display: inline-block;
    border: #009 1px solid;
    padding: 3px;
}
.text {
    padding: 3px;
}
.part-of-speech {
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    float: left;
}
.homonym {
    padding-left: 3px;
}
h1 {
    padding-left: 15px;
    margin-bottom: 0;
}
body.han-init-context > div {
    float: left;
}
rt {
    font-size: 50%;
}
img {
    width: 24px;
    height: 24px;
    border: 1px solid red;
}
@font-face {
    font-family: 'k';
    src: url('./html/font/koktai-k.woff') format('woff');
}
mark {
    font-family: 'k';
}
.preface h1, .preface h2 {
    text-align: center;
}
.preface ul {
    list-style: none;
}
.preface ol li {
    padding-top: 1ex;
    padding-bottom: 1ex;
}
.preface p {
    padding-left: 20px;
    padding-right: 20px;
}
.preface table {
    margin-left: 20px;
}
.preface pre {
    font-family: monospace;
}
.preface img.char {
    width: 0.9em;
    height: 0.9em;
}
