
doctype html
html(lang="zh-Hant-TW")
  head
    meta(charset='utf8')
    script(src='han.min.js')
    link(rel="stylesheet" media="all" href="style.css")
  body

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | .UC
      | .PO 2.07
      | .LL 17.54
      | .HE
      | 
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | .EH
      | .FO
      | 
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | .TL,各種方音音標對照 - #p2721, 2000.06.11
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | .EF
      | 
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | .TL,各種方音音標對照

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |     說明：
      |       （一）漢注：漢字注音符號，即教育部頒部國語注音符號第一式及方音閏號，
      |                   由漢字簡化而成的音標。
      |       （二）漢字：漢字注音例（臺：臺音)(華：華音）。
      |       （三）華臺：華臺音標 (Mandarin & Taiwanese Phonetic Alphabet, MTPA)，
      |                   把各種羅馬音標中，取其易記、易輸入的音標使用。
      |       （四）TLPA：臺灣語言音標 (Taiwan Language Phonetic Alphabet)。
      |       （五）國際：國際音標 (International Phonetic Alphabet, IPA)，國際學術
      |                   上所使用的拼音。
      |       （六）甘典：甘為霖著廈門音新字典（教會使用的羅馬字母）。
      |       （七）漢閩：中國漢語與閩南方言拼音方案。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |     註解：
      |       （一）「'」此符在 p, t, k 聲母的右上角表示送氣。
      |       （二）「'」此符在入聲 h, p, t, k 的左上角，如：～'h, ～'p, ～'t, ～'k，
      |             表示陽入（下入）聲。
      |       （三）括號( )內之音，表字母單獨發音時使用到，與其他音相拼時則省略。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | 一、聲母
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      |         (一)    (二)           (三)    (四)    (五)    (六)    (七)
      |         漢注    漢字           華臺    TLPA    國際    甘典    漢閩
      |                (臺)    (華)
      |         ㄅ    <ruby>邊<rt>&thinsp;ㄅ丨ㄢ&thinsp;</rt></ruby><ruby>布<rt>&thinsp;ㄅㆦ˪&thinsp;</rt></ruby>  <ruby>邊<rt>&thinsp;ㄅ丨ㄢ&thinsp;</rt></ruby>    b       p       p       p       b
      |         ㆠ    <ruby>文<rt>&thinsp;ㆠㄨㄣˊ&thinsp;</rt></ruby><ruby>木<rt>&thinsp;ㆠㆦㆶ̇&thinsp;</rt></ruby>  □      bb      b       b       b／m    bb
      |         ㄆ    <ruby>波<rt>&thinsp;ㄆㄜ&thinsp;</rt></ruby><ruby>配<rt>&thinsp;ㄆㄨㆤ˪&thinsp;</rt></ruby>  <ruby>波<rt>&thinsp;ㄆㄛ&thinsp;</rt></ruby>    p       ph      p'      ph      p
      |         ㄇ    <ruby>門<rt>&thinsp;ㄇㆭˊ&thinsp;</rt></ruby><ruby>棉<rt>&thinsp;ㄇ丨ˊ&thinsp;</rt></ruby>  <ruby>門<rt>&thinsp;ㄇㄣˊ&thinsp;</rt></ruby>    m       m       m       m       m
      |         ㄈ    □  □    <ruby>風<rt>&thinsp;ㄈㄥ&thinsp;</rt></ruby>    f       f       f       □      f
      |         ㄪ    (蘇、客音)        v       v       v       □      □
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         ㄉ    <ruby>肚<rt>&thinsp;ㄉㆦ˫&thinsp;</rt></ruby><ruby>地<rt>&thinsp;ㄉㆤ&thinsp;</rt></ruby>  <ruby>地<rt>&thinsp;ㄉ丨ˋ&thinsp;</rt></ruby>    d       t       t       t       d
      |         <img src="img/m3/fa47.png">    叨<rt><img src="img/m3/fa47.png">ㄜ</rt>個<rt><img src="img/m3/fa47.png">ㆤˊ</rt>(罕用)    dd      □      d       □      □
      |         ㄊ    <ruby>天<rt>&thinsp;ㄊㆳ&thinsp;</rt></ruby><ruby>他<rt>&thinsp;ㄊㄚ&thinsp;</rt></ruby>  <ruby>他<rt>&thinsp;ㄊㄚ&thinsp;</rt></ruby>    t       th      t'      th      t
      |         ㄋ    <ruby>娘<rt>&thinsp;ㄋ丨ㄚˊ&thinsp;</rt></ruby><ruby>耐<rt>&thinsp;ㄋㄞ˫&thinsp;</rt></ruby>  <ruby>耐<rt>&thinsp;ㄋㄞˋ&thinsp;</rt></ruby>    n       n       n       n       n
      |         ㄌ    <ruby>禮<rt>&thinsp;ㄌㆤˋ&thinsp;</rt></ruby><ruby>柳<rt>&thinsp;ㄌ丨ㄨˋ&thinsp;</rt></ruby>  <ruby>溜<rt>&thinsp;ㄌ丨ㄡ&thinsp;</rt></ruby>    l       l       l       l(n)    l
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         ㄍ    <ruby>光<rt>&thinsp;ㄍㆲ&thinsp;</rt></ruby><ruby>求<rt>&thinsp;ㄍ丨ㄨˊ&thinsp;</rt></ruby>  <ruby>求<rt>&thinsp;ㄑ丨ㄡˊ&thinsp;</rt></ruby>    g       k       k       k       g
      |         ㆣ    <ruby>鵝<rt>&thinsp;ㆣㄜˊ&thinsp;</rt></ruby><ruby>語<rt>&thinsp;ㆣ丨ˋ&thinsp;</rt></ruby>  □      gg      g       g       g       gg
      |         ㄎ    <ruby>考<rt>&thinsp;ㄎㄜˋ&thinsp;</rt></ruby><ruby>去<rt>&thinsp;ㄎ丨˪&thinsp;</rt></ruby>  <ruby>科<rt>&thinsp;ㄎㄜ&thinsp;</rt></ruby>    k       kh      k'      kh      k
      |         ㄫ    <ruby>吳<rt>&thinsp;ㄫㆦˊ&thinsp;</rt></ruby><ruby>雅<rt>&thinsp;ㄫㄚˋ&thinsp;</rt></ruby>  □      ng      ng      ŋ̩      ng      ng
      |         ㄏ    <ruby>花<rt>&thinsp;ㄏㄨㄚ&thinsp;</rt></ruby><ruby>喜<rt>&thinsp;ㄏ丨ˋ&thinsp;</rt></ruby>  <ruby>呼<rt>&thinsp;ㄏㄨ&thinsp;</rt></ruby>    h       h       h       h       h
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         ㄐ    <ruby>錢<rt>&thinsp;ㄐㆳˊ&thinsp;</rt></ruby><ruby>貞<rt>&thinsp;ㄐ丨ㄥ&thinsp;</rt></ruby>  <ruby>機<rt>&thinsp;ㄐ丨&thinsp;</rt></ruby>    j(i)    c       tɕ     ch      j
      |         ㆢ    <ruby>二<rt>&thinsp;ㆢ丨˫&thinsp;</rt></ruby><ruby>入<rt>&thinsp;ㆢ丨ㆴ̇&thinsp;</rt></ruby>  □      jj      j       dʑ     ji      jj
      |         ㄑ    <ruby>千<rt>&thinsp;ㄑ丨ㄢ&thinsp;</rt></ruby><ruby>七<rt>&thinsp;ㄑ丨ㆵ&thinsp;</rt></ruby>  <ruby>七<rt>&thinsp;ㄑ丨&thinsp;</rt></ruby>    ch(i)   ch      tɕ'    chh     q
      |         广    <ruby>耳<rt>&thinsp;ㄬ丨ˋ&thinsp;</rt></ruby>□    □      ng(i)   ng(i)   nʑ     □      □
      |         ㄒ    <ruby>先<rt>&thinsp;ㄒ丨ㄢ&thinsp;</rt></ruby><ruby>時<rt>&thinsp;ㄒ丨ˊ&thinsp;</rt></ruby>  <ruby>西<rt>&thinsp;ㄒ丨&thinsp;</rt></ruby>    si      s       ɕ      si      s(i)
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         ㄗ    <ruby>船<rt>&thinsp;ㄗㄨㄣˊ&thinsp;</rt></ruby><ruby>曾<rt>&thinsp;ㄗㄢ&thinsp;</rt></ruby>  <ruby>資<rt>&thinsp;ㄗ&thinsp;</rt></ruby>    tz      c       ts      ts      z
      |         ㆡ    <ruby>熱<rt>&thinsp;ㆡㄨㄚㆷ̇&thinsp;</rt></ruby><ruby>如<rt>&thinsp;ㆡㄨˊ&thinsp;</rt></ruby>  □      zz      j       dz      ju      zz
      |         ㄘ    <ruby>醋<rt>&thinsp;ㄘㆦ˪&thinsp;</rt></ruby><ruby>出<rt>&thinsp;ㄘㄨㆵ&thinsp;</rt></ruby>  <ruby>雌<rt>&thinsp;ㄘˊ&thinsp;</rt></ruby>    ts      ch      ts'     chh     c
      |         ㄙ    <ruby>蘇<rt>&thinsp;ㄙㆦ&thinsp;</rt></ruby><ruby>司<rt>&thinsp;ㄙㄨ&thinsp;</rt></ruby>  <ruby>司<rt>&thinsp;ㄙ&thinsp;</rt></ruby>    s       s       s       s       s
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         ㄓ    □  □    <ruby>知<rt>&thinsp;ㄓ&thinsp;</rt></ruby>    z       z       tʂ     □      zh
      |         ㄔ    □  □    <ruby>吃<rt>&thinsp;ㄔ&thinsp;</rt></ruby>    zh      zh      tʂ'    □      ch
      |         ㄕ    □  □    <ruby>失<rt>&thinsp;ㄕ&thinsp;</rt></ruby>    sh      sh      ʂ      □      sh
      |         ㄖ    □  □    <ruby>日<rt>&thinsp;ㄖˋ&thinsp;</rt></ruby>    r       r       ʐ      □      r
      | 
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | 二、韻母
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      |         (一)    (二)           (三)    (四)    (五)    (六)    (七)
      |         漢注    漢字           華臺    TLPA    國際    甘典    漢閩
      |                (臺)    (華)
      |         ㄚ    <ruby>亞<rt>&thinsp;ㄚ&thinsp;</rt></ruby><ruby>阿<rt>&thinsp;ㄚ&thinsp;</rt></ruby>  <ruby>阿<rt>&thinsp;ㄚ&thinsp;</rt></ruby>    a       a       a       a       a
      |         ㄚㆷ  <ruby>挖<rt>&thinsp;丨ㄚㆷ&thinsp;</rt></ruby><ruby>鴨<rt>&thinsp;ㄚㆷ&thinsp;</rt></ruby>  □      ah      ah      aˀ     ah      ah
      |         ㆩ    <ruby>餡<rt>&thinsp;ㆩ˫&thinsp;</rt></ruby><ruby>衫<rt>&thinsp;ㄙㆩ&thinsp;</rt></ruby>  □      ann     ann     ã      aⁿ     na
      |         ㆩㆷ  <ruby>熇<rt>&thinsp;ㄏㆩㆷ&thinsp;</rt></ruby>□    □      ahnn    ah     ãˀ     ahⁿ    nah
      |         ㆦ    <ruby>苦<rt>&thinsp;ㄎㆦˋ&thinsp;</rt></ruby><ruby>烏<rt>&thinsp;ㆦ&thinsp;</rt></ruby>  □      oo      oo      ɔ      o͘      oo
      |         ㆧ    <ruby>好<rt>&thinsp;ㄏㆧˋ&thinsp;</rt></ruby><ruby>午<rt>&thinsp;ㄫㆦˋ&thinsp;</rt></ruby>  □      oonn    oonn/   ɔ̃      o͘ⁿ    noo
      |                                         onn
      |         ㆧㆷ  <ruby>膜<rt>&thinsp;ㄇㆦㆷ&thinsp;</rt></ruby>□    □      oohnn   oonnh/ ɔ̃ˀ     □      nooh
      |                                         onnh
      |         ㄛ    <ruby>好<rt>&thinsp;ㄏㄛˋ&thinsp;</rt></ruby><ruby>蠔<rt>&thinsp;ㄛˊ&thinsp;</rt></ruby>  <ruby>喔<rt>&thinsp;ㄛ&thinsp;</rt></ruby>    o       o       o       o       o
      |         ㄛㆷ  <ruby>學<rt>&thinsp;ㄛㆷ&thinsp;</rt></ruby>□    □      oh      oh      oˀ     oh      oh
      |         ㄜ/   <ruby>火<rt>&thinsp;ㄏㄜˋ&thinsp;</rt></ruby><ruby>蠔<rt>&thinsp;ㄜˊ&thinsp;</rt></ruby>  <ruby>婀<rt>&thinsp;ㄜ&thinsp;</rt></ruby>    er      er      ə/ɘ   o       o
      |         <img src="img/m3/fa62.png">    科<rt>ㄎ<img src="img/m3/fa62.png"></rt>□    □      eer     □      ɤ      □      □
      |         ㄜㆷ/ <ruby>學<rt>&thinsp;ㄜㆷ̇&thinsp;</rt></ruby><ruby>郭<rt>&thinsp;ㄍㄜㆷ&thinsp;</rt></ruby>  □      erh     erh    əˀ/ɘˀoh      oh
      |         <img src="img/m3/fa62.png">ㆷ  郭<rt>ㄍ<img src="img/m3/fa62.png">ㆷ</rt>(泉)  □      eerh    □      ɤˀ    □      □
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         ㆤ    <ruby>啞<rt>&thinsp;ㆤ&thinsp;</rt></ruby><ruby>矮<rt>&thinsp;ㆤˋ&thinsp;</rt></ruby>  □      e       e       e       e       e
      |         ㆤㆷ  <ruby>雪<rt>&thinsp;ㄙㆤㆷ&thinsp;</rt></ruby><ruby>厄<rt>&thinsp;ㆤㆷ&thinsp;</rt></ruby>  □      eh      eh      eˀ     eh      eh
      |         ㆥ    <ruby>生<rt>&thinsp;ㄙㆥ&thinsp;</rt></ruby><ruby>嬰<rt>&thinsp;ㆥ&thinsp;</rt></ruby>  □      enn     enn     ẽ      e       ne
      |         ㆥㆷ  <ruby>莢<rt>&thinsp;ㄫㆤㆷ&thinsp;</rt></ruby>□    □      ehnn    ehnn   ẽˀ     ehⁿ    neh
      |         ㄝ    <ruby>家<rt>&thinsp;ㄍㄝ&thinsp;</rt></ruby>(漳)  <ruby>噎<rt>&thinsp;丨ㄝ&thinsp;</rt></ruby>    ee      ee      ɛ      □      □
      |         ㄝㆷ  <ruby>格<rt>&thinsp;ㄍㄝㆷ&thinsp;</rt></ruby>(漳)  □      eeh     eeh    ɛˀ     □      □
      |         <mark>&#xf93c4;</mark>    嬰<mark>&#xf93c2;</mark>(漳)  □      eenn    eenn    ɛ̃      □      □
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         ㄞ    <ruby>愛<rt>&thinsp;ㄞ˪&thinsp;</rt></ruby><ruby>哀<rt>&thinsp;ㄞ&thinsp;</rt></ruby>  <ruby>哀<rt>&thinsp;ㄞ&thinsp;</rt></ruby>    ai      ai      ai      ai      ai
      |         ㄞㆷ  □  □    □      aih     aih     aiˀ    aih     aih
      |         ㆮ    <ruby>揹<rt>&thinsp;ㆮ&thinsp;</rt></ruby><ruby>閑<rt>&thinsp;ㆮˊ&thinsp;</rt></ruby>(同安)    ainn    ainn    aĩ      aiⁿ    nai
      |         ㆮㆷ  <ruby>唷<rt>&thinsp;ㆮㆷ&thinsp;</rt></ruby>□    □      aihnn   ainnh   aĩˀ    aihⁿ   naih
      |         ㄠ    <ruby>甌<rt>&thinsp;ㄠ&thinsp;</rt></ruby><ruby>凹<rt>&thinsp;ㄠ&thinsp;</rt></ruby>  <ruby>凹<rt>&thinsp;ㄠ&thinsp;</rt></ruby>    au      au      au      au      au
      |         ㄠㆷ  □  □    □      auh     auh     auˀ    □      auh
      |         ㆯ    <ruby>藕<rt>&thinsp;ㄫㄠ˫&thinsp;</rt></ruby>□    □      aunn    aunn    aũ      auⁿ    nau
      |         ㆯㆷ  □  □    □      auhnn   aunnh   aũˀ    □      nauh
      |         ㄡ    □  □    <ruby>歐<rt>&thinsp;ㄡ&thinsp;</rt></ruby>    ou      ou      ou      □      ou
      |         ㄜㆤ  挨  鞋(泉)□      ere     ere    ɘe/əe  oe      oe
      |         ㄜㆤㆷ狹(泉)    □      ereh    ereh   ɘeˀ/   oeh     oeh
      |                                                əeˀ
      |         ㆰ    <ruby>暗<rt>&thinsp;ㆰ˪&thinsp;</rt></ruby><ruby>甘<rt>&thinsp;ㄍㆰ&thinsp;</rt></ruby>  □      am      am      am̩     am      am
      |         ㄚㆴ  <ruby>壓<rt>&thinsp;ㄚㆴ&thinsp;</rt></ruby><ruby>合<rt>&thinsp;ㄍㄚㆴ&thinsp;</rt></ruby>  □      ap      ap      ap      ap      ap
      |         ㆱ    <ruby>掩<rt>&thinsp;ㆱ&thinsp;</rt></ruby><ruby>參<rt>&thinsp;ㄙㆱ&thinsp;</rt></ruby>(漳)      oom     oom    ɔm̩     om      oom
      |         ㆦㆴ  □  □    □      oop     oop     ɔp     op      oop
      |         ㆬ    <ruby>姆<rt>&thinsp;ㆬˋ&thinsp;</rt></ruby>□    □      m       m       m̩      m       m
      |         ㆬㆷ  <ruby>默<rt>&thinsp;ㆬㆷ&thinsp;</rt></ruby>□    □      mh      mh      m̩ˀ    □      mh
      |         <img src="img/m3/fa70.png">    (罕用)    姆<rt><img src="img/m3/fa70.png"></rt>    m       m       m̩      □      □
      |         ㄢ    <ruby>限<rt>&thinsp;ㄏㄢ˫&thinsp;</rt></ruby><ruby>安<rt>&thinsp;ㄢ&thinsp;</rt></ruby>  <ruby>安<rt>&thinsp;ㄢ&thinsp;</rt></ruby>    an      an      an      an      an
      |         ㄚㆵ  <ruby>遏<rt>&thinsp;ㄚㆵ&thinsp;</rt></ruby><ruby>漆<rt>&thinsp;ㄘㄚㆵ&thinsp;</rt></ruby>  □      at      at      at      at      at
      |         ㄣ    <ruby>恩<rt>&thinsp;ㄨㄣ&thinsp;</rt></ruby>□    <ruby>恩<rt>&thinsp;ㄣ&thinsp;</rt></ruby>   (e)n    (e)n     en      en      en
      |         ㄤ    <ruby>尪<rt>&thinsp;ㄤ&thinsp;</rt></ruby><ruby>翁<rt>&thinsp;ㄤ&thinsp;</rt></ruby>  <ruby>骯<rt>&thinsp;ㄤ&thinsp;</rt></ruby>    ang     ang     aŋ̩     ang     ang
      |         ㄚㆶ  <ruby>握<rt>&thinsp;ㄚㆶ&thinsp;</rt></ruby><ruby>角<rt>&thinsp;ㄍㄚㆶ&thinsp;</rt></ruby>  □      ak      ak      ak      ak      ak
      |         ㆲ    <ruby>翁<rt>&thinsp;ㆲ&thinsp;</rt></ruby><ruby>王<rt>&thinsp;ㆲˊ&thinsp;</rt></ruby>  □      ong     ong    ɔŋ̩     ong     ong
      |         ㆦㆶ  <ruby>惡<rt>&thinsp;ㆦㆶ&thinsp;</rt></ruby><ruby>福<rt>&thinsp;ㄏㆦㆶ&thinsp;</rt></ruby>  □      ook     ook/ok ɔk      ok      ok
      |         ㄥ   (不單用)   <ruby>鞥<rt>&thinsp;ㄥ&thinsp;</rt></ruby>    eng     eng/ng əŋ̩     eng     eng
      |         ㆭ    <ruby>秧<rt>&thinsp;ㆭ&thinsp;</rt></ruby>□    □      ng      ng       ŋ̩     ng      ng
      |         ㆭㆷ  <ruby>物<rt>&thinsp;ㄇㆭㆷ̇&thinsp;</rt></ruby>□    □      ngh     ngh    ŋˀ     □      ngh
      |         ㄦ    □  □    <ruby>兒<rt>&thinsp;ㄦ&thinsp;</rt></ruby>    er      er      ɚ      □      er,r
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         丨    <ruby>椅<rt>&thinsp;丨ˋ&thinsp;</rt></ruby><ruby>衣<rt>&thinsp;丨&thinsp;</rt></ruby>  <ruby>衣<rt>&thinsp;丨&thinsp;</rt></ruby>    i       i       i       i       i
      |         丨ㆷ  <ruby>舌<rt>&thinsp;ㄐ丨ㆷ̇&thinsp;</rt></ruby><ruby>鐵<rt>&thinsp;ㄊ丨ㆷ&thinsp;</rt></ruby>  □      ih      ih      iˀ     ih      ih
      |         ㆳ    <ruby>燕<rt>&thinsp;ㆳ˪&thinsp;</rt></ruby><ruby>天<rt>&thinsp;ㄊㆳ&thinsp;</rt></ruby>  □      inn     enn    ẽ       iⁿ     ni
      |         ㆳㆷ  <ruby>物<rt>&thinsp;ㄇ丨ㆷ̇&thinsp;</rt></ruby>□    □      ihnn    innh   ẽˀ     ihⁿ    nih
      |         ㄨ    <ruby>污<rt>&thinsp;ㄨ&thinsp;</rt></ruby><ruby>武<rt>&thinsp;ㆠㄨˋ&thinsp;</rt></ruby>  <ruby>屋<rt>&thinsp;ㄨ&thinsp;</rt></ruby>    u/wu    u       u       u       u
      |         ㄨㆷ  <ruby>禿<rt>&thinsp;ㄊㄨㆷ&thinsp;</rt></ruby><ruby>嗽<rt>&thinsp;ㄙㄨㆷ&thinsp;</rt></ruby>  □      uh      uh      uˀ     uh      uh
      |         ㆨ    <ruby>豬<rt>&thinsp;ㄉㆨ&thinsp;</rt></ruby>□    □      ir      ir     ɨ       □      □
      |         ㆨㆴ  澀  (泉)  □      irp     irp    ɨp      □      □
      |         ㆨㆵ  <ruby>核<rt>&thinsp;ㄏㆨㆵ&thinsp;</rt></ruby>(泉)  □      irt     irt    ɨt      □      □
      |         ㆨㆶ  黑  (泉)  □      irk     irk    ɨk      □      □
      |         ㆫ    <ruby>羊<rt>&thinsp;丨ㆫˊ&thinsp;</rt></ruby>(廈)  □      unn     unn     ũ      □      nu
      |         ㄩ    □  □    <ruby>淤<rt>&thinsp;ㄩ&thinsp;</rt></ruby>    y       y/iu/yu u       □      y
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         ㄭ    □  □    □      ii      ii      /       r/z     r/z

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         註解：
      |           （一）本典採用【ㄛ】與【ㄜ】互補。另造【<img src="img/m3/fa62.png">/eer】符表泉州
      |                 【科<rt>ㄎ<img src="img/m3/fa62.png"></rt>】字的【<img src="img/m3/fa62.png">】韻。因原案【ㆦ／oo】【ㄛ／o】【ㄜ
      |                 ／er】三符中，【ㆦ】【ㄛ】二符音素接近，改用【ㆦ】
      |                 【ㄜ】【<img src="img/m3/fa62.png">】較為清楚，照原案亦可，只造【ㆦ】符。如
      |                 果要求發音正確就要造【ㆦ】【<img src="img/m3/fa62.png">】二符，把【ㄛ】字一
      |                 橫的下面改成正菱形缺右上角的【ㆦ】符，在【ㆦ】符的
      |                 一橫上再加一短豎就成【<img src="img/m3/fa62.png">】符。
      |           （二）【ㆥ／ẽ】韻符上的母音是如【ㄫ】【ㄋ】【ㄇ】
      |                 等……半鼻音時韻母的的鼻音就可省略。
      | 
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | 三、結合韻母
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      |         (一)    (二)           (三)    (四)    (五)    (六)    (七)
      |         漢注    漢字           華臺    TLPA    國際    甘典    漢閩
      |                (臺)    (華)
      |         <rt>丨ㄚ</rt>    <ruby>耶<rt>&thinsp;丨ㄚ&thinsp;</rt></ruby><ruby>野<rt>&thinsp;丨ㄚˋ&thinsp;</rt></ruby>  <ruby>鴨<rt>&thinsp;丨ㄚ&thinsp;</rt></ruby>    ia      ia      ia      ia      ia
      |         <rt>丨ㆩ</rt>    <ruby>纓<rt>&thinsp;丨ㆩ&thinsp;</rt></ruby><ruby>贏<rt>&thinsp;丨ㆩˊ&thinsp;</rt></ruby>  □      iann    iann    iã      iaⁿ    nia
      |         <rt>丨ㄚㆷ</rt>    <ruby>亦<rt>&thinsp;丨ㄚㆷ&thinsp;</rt></ruby><ruby>壁<rt>&thinsp;ㄅ丨ㄚㆷ&thinsp;</rt></ruby>  □      iah     iah     iaˀ    iah     iah
      |         <rt>丨ㆩㆷ</rt>    □  □    □      iann    iann    iãˀ    iahⁿ   niah
      |         <rt>丨ㆦㆶ</rt>    <ruby>約<rt>&thinsp;丨ㆦㆶ&thinsp;</rt></ruby><ruby>藥<rt>&thinsp;丨ㆦㆶ̇&thinsp;</rt></ruby>(讀音)    iook    iook    iɔk     io͘k    iook
      |         <rt>丨ㆧ</rt>    <ruby>鴦<rt>&thinsp;丨ㆧ&thinsp;</rt></ruby><ruby>洋<rt>&thinsp;丨ㆧˊ&thinsp;</rt></ruby>  □      ioonn   ioonn   iɔ̃      □      nioo
      |         <rt>丨ㆧㆷ</rt>    □  □    □      ioonnh  ioonnh  iɔ̃ˀ    □      niooh
      |         <rt>丨ㄛ</rt>    <ruby>腰<rt>&thinsp;丨ㄛ&thinsp;</rt></ruby><ruby>叫<rt>&thinsp;ㄍ丨ㄛ˪&thinsp;</rt></ruby>  <ruby>唷<rt>&thinsp;丨ㄛ&thinsp;</rt></ruby>    io      io      io      io      io
      |         <rt>丨ㄛㆷ</rt>    <ruby>憶<rt>&thinsp;丨ㄛㆷ&thinsp;</rt></ruby><ruby>尺<rt>&thinsp;ㄑ丨ㄛㆷ&thinsp;</rt></ruby>  □      ioh     ioh     ioˀ    ioh     ioh
      |         <rt>丨ㄜ</rt>    <ruby>腰<rt>&thinsp;丨ㄜ&thinsp;</rt></ruby><ruby>叫<rt>&thinsp;ㄍ丨ㄜ˪&thinsp;</rt></ruby>  □      er      er      iə      io      io
      |         <rt>丨ㄜㆷ</rt>    <ruby>約<rt>&thinsp;丨ㄜㆷ&thinsp;</rt></ruby><ruby>藥<rt>&thinsp;丨ㄜㆷ̇&thinsp;</rt></ruby>  □      erh     erh     iɘˀ/  ioh     ioh
      |                                                 iɔˀ
      |         <rt>丨ㄨ</rt>    <ruby>憂<rt>&thinsp;丨ㄨ&thinsp;</rt></ruby><ruby>油<rt>&thinsp;丨ㄨˊ&thinsp;</rt></ruby>  □      iu      iu      iu      iu      iu
      |         <rt>丨ㄨㆷ</rt>    □  □    □      iuh     iuh     iuˀ    iuh     iuh
      |         <rt>丨ㆫ</rt>    <ruby>張<rt>&thinsp;ㄉ丨ㆫ&thinsp;</rt></ruby><ruby>鴦<rt>&thinsp;丨ㆫ&thinsp;</rt></ruby>  □      iunn    iunn    iũ     iuⁿ    niu
      |         <rt>丨ㆫㆷ</rt>    □  □    □      iuhnn   iunnh   iũˀ   □      niuh
      |         <rt>丨ㄠ</rt>    <ruby>夭<rt>&thinsp;丨ㄠ&thinsp;</rt></ruby><ruby>妖<rt>&thinsp;丨ㄠ&thinsp;</rt></ruby>  <ruby>妖<rt>&thinsp;丨ㄠ&thinsp;</rt></ruby>    iau     iau     iau     iau     iau
      |         <rt>丨ㆯ</rt>    <ruby>貓<rt>&thinsp;丨ㆯ&thinsp;</rt></ruby>□    □      iaunn   iaunn   iaũ     iauⁿ   niau
      |         <rt>丨ㄠㆷ</rt>    □  □    □      iauh    iauh    iauˀ   iauh    iauh
      |         <rt>丨ㆯㆷ</rt>    □  □    □      iauhnn  iaunnh  iauˀ   iauh    iauh
      |         <rt>丨ㆰ</rt>    <ruby>閹<rt>&thinsp;丨ㆰ&thinsp;</rt></ruby><ruby>鹽<rt>&thinsp;丨ㆰˊ&thinsp;</rt></ruby>  □      iam     iam     iam     iam     iam
      |         <rt>丨ㄚㆴ</rt>    <ruby>葉<rt>&thinsp;丨ㄚㆴ̇&thinsp;</rt></ruby>□    □      iap     iap     iap     iap     iap
      |         <rt>丨ㆬ</rt>    <ruby>淹<rt>&thinsp;丨ㆬ&thinsp;</rt></ruby><ruby>音<rt>&thinsp;丨ㆬ&thinsp;</rt></ruby>  □      im      im      im      im      im
      |         <rt>丨ㆴ</rt>    <ruby>急<rt>&thinsp;ㄍ丨ㆴ&thinsp;</rt></ruby><ruby>揖<rt>&thinsp;丨ㆴ&thinsp;</rt></ruby>  □      ip      ip      ip      ip      ip
      |         <rt>丨ㄢ</rt>    <ruby>演<rt>&thinsp;丨ㄢˋ&thinsp;</rt></ruby><ruby>煙<rt>&thinsp;丨ㄢ&thinsp;</rt></ruby>  <ruby>煙<rt>&thinsp;丨ㄢ&thinsp;</rt></ruby>    ian     ian/    ian     ian     ian
      |                                         ien(老派)/
      |                                         en(新派)
      |         <rt>丨ㄚㆵ</rt>    <ruby>設<rt>&thinsp;ㄒ丨ㄚㆵ&thinsp;</rt></ruby><ruby>閱<rt>&thinsp;丨ㄚㆵ̇&thinsp;</rt></ruby>  □      iat     iat/    iat     iat     iat
      |                                         iEt(老派)/
      |                                         Et(新派)
      |         <rt>丨ㄣ</rt>    <ruby>印<rt>&thinsp;丨ㄣ˪&thinsp;</rt></ruby><ruby>因<rt>&thinsp;丨ㄣ&thinsp;</rt></ruby>  <ruby>因<rt>&thinsp;丨ㄣ&thinsp;</rt></ruby>    in      in      in      in      in
      |         <rt>丨ㆵ</rt>    <ruby>筆<rt>&thinsp;ㄅ丨ㆵ&thinsp;</rt></ruby><ruby>一<rt>&thinsp;丨ㆵ&thinsp;</rt></ruby>  □      it      it      it      it      it
      |         <rt>丨ㄤ</rt>    <ruby>涼<rt>&thinsp;ㄌ丨ㄤˊ&thinsp;</rt></ruby><ruby>央<rt>&thinsp;丨ㄤ&thinsp;</rt></ruby>  <ruby>央<rt>&thinsp;丨ㄤ&thinsp;</rt></ruby>    iang    iang    iaŋ̩    iang    iang
      |         <rt>丨ㄚㆶ</rt>    <ruby>約<rt>&thinsp;丨ㄚㆶ&thinsp;</rt></ruby>(漳)  □      iak     iak     iak     iak     iak
      |         <rt>丨ㆲ</rt>    <ruby>勇<rt>&thinsp;丨ㆲˋ&thinsp;</rt></ruby><ruby>雍<rt>&thinsp;丨ㆲ&thinsp;</rt></ruby>  □      iong    iong    iɔŋ̩     iong    iong
      |         <rt>丨ㄥ</rt>    <ruby>永<rt>&thinsp;丨ㄥˋ&thinsp;</rt></ruby><ruby>英<rt>&thinsp;丨ㄥ&thinsp;</rt></ruby>  <ruby>英<rt>&thinsp;丨ㄥ&thinsp;</rt></ruby>    ing     ing     iŋ̩     eng     ing/ying
      |         <rt>丨ㆶ/丨ㆤㆶ</rt> <ruby>益<rt>&thinsp;丨ㆤㆶ&thinsp;</rt></ruby><ruby>竹<rt>&thinsp;ㄉ丨ㆤㆶ&thinsp;</rt></ruby>  □      iek     ik      iek     ek      yik
      |         <rt>ㄨㄚ</rt>    <ruby>拖<rt>&thinsp;ㄊㄨㄚ&thinsp;</rt></ruby><ruby>蔡<rt>&thinsp;ㄘㄨㄚ˪&thinsp;</rt></ruby>  <ruby>蛙<rt>&thinsp;ㄨㄚ&thinsp;</rt></ruby>    ua      ua      ua      oah     ua
      |         <rt>ㄨㄚㆷ</rt>    <ruby>闊<rt>&thinsp;ㄎㄨㄚㆷ&thinsp;</rt></ruby><ruby>割<rt>&thinsp;ㄍㄨㄚㆷ&thinsp;</rt></ruby>  □      uah     uah     uaˀ    oah     uah
      |         <rt>ㄨㆤㆷ</rt>    <ruby>劃<rt>&thinsp;ㄨㆤㆷ&thinsp;</rt></ruby>(漳)  □      ueh     ueh     ueˀ    oeh     ueh
      |         <rt>ㄨ丨ㆷ</rt>    <ruby>劃<rt>&thinsp;ㄨ丨ㆷ&thinsp;</rt></ruby>(泉)  □      uih     uih     uiˀ    uih     uih
      |         <rt>ㄨㄞㆷ</rt>    □  □    □      uaih    uaih    uaiˀ   oaih    uaih
      |         <rt>ㄨㆩ</rt>    <ruby>換<rt>&thinsp;ㄨㆩ&thinsp;</rt></ruby><ruby>碗<rt>&thinsp;ㄨㆩˋ&thinsp;</rt></ruby>  □      uann    uann    uã      oaⁿ    nua
      |         <rt>ㄨㆤ</rt>    <ruby>話<rt>&thinsp;ㄨㆤ&thinsp;</rt></ruby><ruby>貝<rt>&thinsp;ㄅㄨㆤ&thinsp;</rt></ruby>  □      ue      ue      ue      oe      ue
      |         <rt>ㄨㆥ</rt>    <ruby>妹<rt>&thinsp;ㄇㄨㆤ˫&thinsp;</rt></ruby><ruby>媒<rt>&thinsp;ㄇㄨㆤˊ&thinsp;</rt></ruby>  □      ue      ue      uẽ     □      ue
      |         <rt>ㄨㆮ</rt>    <ruby>關<rt>&thinsp;ㄍㄨㆮ&thinsp;</rt></ruby>□    □      uainn   uainn   uaĩ    oaiⁿ   nuai
      |         <rt>ㄨㆳ</rt>    <ruby>黃<rt>&thinsp;ㄨㆳˊ&thinsp;</rt></ruby>(漳)  □      uinn    uinn    uĩ      uiⁿ    nui
      |         <rt>ㄨㆳㆷ</rt>    □  □    □      uinnh   uinnh   uĩˀ    oihⁿ   nuih
      |         <rt>ㆨㆬ</rt>    <ruby>蔘<rt>&thinsp;ㄙㆨㆬ&thinsp;</rt></ruby>(泉)  □      irm     irm    ɨm      □      □
      |         <rt>ㆨㄣ</rt>    <ruby>恩<rt>&thinsp;ㆨㄣ&thinsp;</rt></ruby><ruby>根<rt>&thinsp;ㄍㆨㄣ&thinsp;</rt></ruby>(泉)      irn     irn    ɨn      □      □
      |         <rt>ㆨㆳ</rt>    <ruby>閑<rt>&thinsp;ㆨㆳˊ&thinsp;</rt></ruby>(泉)  □      irinn   irinn  ɨĩ     □      □
      |         <rt>ㄨㄢ</rt>    <ruby>彎<rt>&thinsp;ㄨㄢ&thinsp;</rt></ruby><ruby>灣<rt>&thinsp;ㄨㄢ&thinsp;</rt></ruby>  <ruby>灣<rt>&thinsp;ㄨㄢ&thinsp;</rt></ruby>    uan     uan     uan     oan     uan
      |         <rt>ㄨㄚㆵ</rt>    <ruby>斡<rt>&thinsp;ㄨㄚㆵ&thinsp;</rt></ruby><ruby>越<rt>&thinsp;ㄨㄚㆵ̇&thinsp;</rt></ruby>  □      uat     uat     uat     oat     uat
      |         <rt>ㄨㄣ</rt>    <ruby>恩<rt>&thinsp;ㄨㄣ&thinsp;</rt></ruby><ruby>溫<rt>&thinsp;ㄨㄣ&thinsp;</rt></ruby>  <ruby>溫<rt>&thinsp;ㄨㄣ&thinsp;</rt></ruby>    un      un      un      un      un
      |         <rt>ㄨㆵ</rt>    <ruby>熨<rt>&thinsp;ㄨㆵ&thinsp;</rt></ruby><ruby>律<rt>&thinsp;ㄌㄨㆵ̇&thinsp;</rt></ruby>  □      ut      ut      ut      ut      ut
      |         <rt>ㄨㄤ</rt>    <ruby>嚾<rt>&thinsp;ㄨㄤ&thinsp;</rt></ruby>□    <ruby>汪<rt>&thinsp;ㄨㄤ&thinsp;</rt></ruby>    uang    uang    uaŋ̩    oang    uang
      |         <rt>ㄨㄚㆶ</rt>    <ruby><mark>&#xf8540;</mark><rt>&thinsp;ㄨㄚㆶ&thinsp;</rt></ruby>□    □      uak     uak     uak     uak     uak
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         註解：
      |          （一）<rt>丨ㆤㆶ</rt>／iek(朱式)＝<rt>丨ㆶ</rt>／ik(TLPA)
