
doctype html
html(lang="zh-Hant-TW")
  head
    meta(charset='utf8')
    script(src='han.min.js')
    link(rel="stylesheet" media="all" href="style.css")
  body

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | .UC
      | .PO 2.07
      | .LL 17.54
      | .HE
      | 
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | .EH
      | .FO
      | 
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | .TL,符號溯源 - #p2681,2000.06.08
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | .EF
      | 
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | .TL,華語、臺語注音符號溯源
      | 
      | .TL,,從宜工作室
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 

    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |         註：一、 【臺語、臺音】：臺語嚴格的說應包括，閩南語系臺灣話、廣東系客家話和
      |                  原住民的南島語言，但在本文中則依以往的習慣用法只指閩南系臺灣話。
      |             二、 【華語、華音】：中華民國國民政府訂定的「國語」和中華人民共和國訂定
      |                  的標準漢語「普通話」同以北京音為標準音，因此以「華語、華音」統稱。
      |             三、 本套符號原本是國民政府所頒佈的"國語注音符號"（簡稱注音符號）相配合
      |                  的臺音標音符號，是根據國語注音符號為基楚，再增加臺音特有的標音符號
      |                  而成。
      |             四、 本文主要目的在說明"臺語注音符號"的來源及發音法，此套符號是早在民國
      |                  三十五(1946)年由朱兆祥先生所擬訂的，之後稍做修改，從宜工作室則依修
      |                  改的版本加以改編。
      |             五、 【華臺】：是華語、臺語拼音方案(MTPA, Mandarin & Taiwanese Phonetic
      |                  Alphabet) 的簡稱，是由國語注音符號第二式加上臺音特有的音標而成。
      |             六、 在每個"注音符號"的後面依序是華臺(MTPA)、臺語(TLPA)、國際(IPA)及中
      |                  國大陸的漢語與閩南方言拼音方案四種系統。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | 一、聲符（母）
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄅ [b] [p] [p] [b]
      |       【ㄅ】符是依據漢字【包】字的舊體【勹】製成的。【勹】字的篆文是【　】，像【人】
      |       的曲形，有所包裹，即懷妊的形像。其音亦取之於【包】字的聲母【ㄅ】，音【<rt>ㄅㄜ</rt>】。臺
      |       音的【ㄅ】，和華音大致相同。例字：1.【冰】字，華音【<rt>ㄅ丨ㄥ</rt>】，臺音同，但音值則有些
      |       不同，華音為[ㄅ丨ㆭ]，臺音為[ㄅ丨ㆤㆭ]。2.【褒】字，華音【<rt>ㄅㄠ</rt>】，臺音【<rt>ㄅㄜ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆠ [bb] [b] [b] [bb]
      |       【ㆠ】符為臺灣方音閏號之一。據華語注音符號的【ㄅ】符號下的鉤加深成為小圓形，來
      |       表示【ㄅ】的濁音【ㆠ】。此外有：「ㆢ、ㆣ、ㆡ」都是依同樣的表記方法。
      |       例字：1.【無】字，華音【<rt>ㄨˊ</rt>】，臺音【<rt>ㆠㄜˊ</rt>】。2.【米】字，華音【<rt>ㄇ丨ˇ</rt>】，臺音【<rt>ㆠ丨ˋ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄆ [p] [ph] [p'] [p]
      |       【ㄆ】符出於【ㄆ】字。【ㄆ】字的篆文是【  】，分寫在兩邊就成【<ruby>扑<rt>&thinsp;ㄆㄨ&thinsp;</rt></ruby>】。下部【　】
      |       形是「手／扌」的篆形。其音亦是出於【<ruby>扑<rt>&thinsp;ㄆㄨ&thinsp;</rt></ruby>】字的聲母【ㄆ】，音【<rt>ㄆㄜ</rt>】。台音的【ㄆ】
      |       跟華音相同。例字：【坡】，華音【<rt>ㄆㄛ</rt>】，臺音【<rt>ㄆㄜ</rt>／<rt>ㄆㄛ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄇ [m] [m] [m] [m]
      |       【ㄇ】符出於【冖＝冪】字。【冖】字的篆文【ㄇ】像由上面覆蓋的樣子。因此【冒、帽】
      |       等有「覆蓋」的意思的字，都從【冖】所構成。其音也來自【<ruby>冖<rt>&thinsp;ㄇ丨ˋ&thinsp;</rt></ruby>】字的聲母【ㄇ】，音
      |       「ㄇㄜ」。台音、華音裡都有【ㄇ】音。例字：【媽】，華音【<ruby>媽<rt>&thinsp;ㄇㄚ&thinsp;</rt></ruby><ruby>媽<rt>&thinsp;˙ㄇㄚ&thinsp;</rt></ruby>】。臺音【<ruby>阿<rt>&thinsp;ㄚ&thinsp;</rt></ruby>
      |       <ruby>媽<rt>&thinsp;ㄇㄚˋ&thinsp;</rt></ruby>】(稱祖母)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄈ [f] [f] [f] [f]
      |       【ㄈ】符出於【ㄈ】字。【ㄈ】字的篆文作【　】，像匣子橫臥的樣子。其音亦得之於
      |       【<ruby>匚<rt>&thinsp;ㄈㄤ&thinsp;</rt></ruby>】字的聲母【ㄈ】，音【ㄈㄜ】只用在華音。臺音不用【ㄈ】，只在用打火石打
      |       出火花點燃紙張時用急促的【ㄈ】音將著火的紙張吹成火焰時纔使用到此音【<rt>ㄈㄨㆵ</rt>】。
      |       例字：【夫】字，華音【<rt>ㄈㄨ</rt>】。臺音【<rt>ㄏㄨ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄪ [v] [v] [v] [v]
      |       【ㄪ】符出於【萬】字的簡體字【万】。發音【ㄪㄜ】移用蘇州語【万、微、物】等字的
      |       聲母。只用於蘇州、客語及外文等譯音，華音、臺音不用。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄉ [d] [t] [t] [d]
      |       【ㄉ】符出於【刀】字。【刀】的篆文是【　】，把它加以符號化，就成為【ㄉ】。亦
      |       從【<ruby>刀<rt>&thinsp;ㄉㄠ&thinsp;</rt></ruby>】字的聲母【ㄉ】取音，發音【<rt>ㄉㄜ</rt>】。臺音的【ㄉ】大致跟華音相同。
      |       例字：【大】字，華音【<rt>ㄉㄚˋ</rt>】、臺音【<ruby>大<rt>&thinsp;ㄉㄞ˫&thinsp;</rt></ruby>】 (讀音)，【<ruby>大<rt>&thinsp;ㄉㄨㄚ˫&thinsp;</rt></ruby>】(語音)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   <img src="img/m3/fa47.png"> [dd] [□] [d] [□]
      |       【<img src="img/m3/fa47.png"> 】 臺語音系的閏號，華音不用，是【ㄉ】的濁化音。廈門音的【ㄌ】，新發音學都
      |       用【d】表音。則似接近【<img src="img/m3/fa47.png">】音，與嚴格的【l】音不同。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄊ [t] [th] [t'] [t]
      |       【ㄊ】符出於【子】字的篆文【　】的倒置形。產【子】，倒著出來的樣子，是【突】
      |       （突然）。所以古時候【<ruby>ㄊ<rt>&thinsp;ㄊㄨˊ&thinsp;</rt></ruby>】、【<ruby>突<rt>&thinsp;ㄊㄨˊ&thinsp;</rt></ruby>】二字相通，都念【<rt>ㄊㄨˊ</rt>】。【ㄊ】符的音亦得自
      |       【<ruby>ㄊ<rt>&thinsp;ㄊㄨˊ&thinsp;</rt></ruby>】字的聲母【ㄊ】，音【<rt>ㄊㄜ</rt>】。臺音亦用【ㄊ】符。符號的發音亦和華音相同。
      |        例字：【胎】字，華音【<ruby>胎<rt>&thinsp;ㄊㄞ&thinsp;</rt></ruby>】，臺音同。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄋ [n] [n] [n] [n]
      |       【ㄋ】符是依據【乃】字的古體【ㄋ】製定的。其音亦得自【<ruby>乃<rt>&thinsp;ㄋㄞˇ&thinsp;</rt></ruby>】字的聲母【ㄋ】，音
      |       【<rt>ㄋㄜ</rt>】。臺音裡亦有【ㄋ】，同用這個符號。例字：1.【尼】字，華音【<rt>ㄋ丨ˊ</rt>】，臺音同。
      |        2.【惱】字，華音【<rt>ㄋㄠˇ</rt>】，臺音【<rt>ㄋㄠˋ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄌ [l] [l] [l] [l]
      |       【ㄌ】符的形體出於【力】字的篆文【　】(筋的意思)。請注意【筋】字，字形亦由【力】
      |       構成。以【力】造形，其作用為(力氣)，其音亦得自【<ruby>力<rt>&thinsp;ㄌ丨ˋ&thinsp;</rt></ruby>】字的聲母【ㄌ】，發音【<rt>ㄌㄜ</rt>】
      |       。臺音亦有【ㄌ】，共同用【ㄌ】符。近來語音學家多用【ｄ】代【l】表達臺音的【ㄌ】
      |       ，則我們需添閏號【<img src="img/m3/fa47.png">】。例字：1.【來】字，華音【<rt>ㄌㄞˊ</rt>】，臺音同。2.【連】字，華音
      |       【<rt>ㄌ丨ㄢˊ</rt>】，臺音同、【鈴】字華音【<rt>ㄌ丨ㄥˊ</rt>】，臺音亦同。3.【六】字，華音【<rt>ㄌ丨ㄡˋ</rt>】，臺音【<rt>ㄌ丨ㆦㆶ̇</rt>】
      |       （讀音），【<rt>ㄌㄚㆶ̇</rt>】（語音）。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄍ [g] [k] [k] [g]
      |       【ㄍ】符取形於【<ruby>ㄍ<rt>&thinsp;ㄍㄨㄞˋ&thinsp;</rt></ruby>】字，亦取其聲母【ㄍ】為名，發音【<rt>ㄍㄜ</rt>】。臺語方音符號【ㄍ】的
      |       音值大致和華音的【ㄍ】相同。嚴格地說，北平音的「ㄅ、ㄉ、ㄍ」等都比閩南(臺)音的發
      |       音柔軟些。例字：【哥】字，華、臺音都念【<rt>ㄍㄜ</rt>】，【該】字，華、臺音都念【<rt>ㄍㄞ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆣ [gg] [g] [g] [gg]
      |       【ㆣ】符把【ㄍ】符的末筆反鉤成為小圓形，表示濁音。就是帶濁音的【ㄍ】。華語音系沒
      |       有這符號，是臺語音系的閏音。像臺灣話【<ruby>鵝<rt>&thinsp;ㆣㄜˊ&thinsp;</rt></ruby>／<rt>ㆣ丨ㄚˊ</rt>】字的聲母【ㆣ】，發音【<rt>ㆣㄜ</rt>】。這符
      |       號和【ㄫ】（帶鼻音）符，需要能辨別。  例字：【餓】字，華音【<rt>ㄜˋ</rt>】、臺音【<rt>ㆣㄜ˫</rt>】。
      |       【鵝】字，華音【<rt>ㄜˊ</rt>】、臺音【<rt>ㆣㄜˊ</rt>／<rt>ㆣ丨ㄚˊ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄎ [k] [kh] [k'] [k]
      |       【ㄎ】符出於【<ruby>ㄎ<rt>&thinsp;ㄎㄠˇ&thinsp;</rt></ruby>】字。這字的下部【ㄣ＝　】的形狀，像氣息由喉中往上升的樣子，被
      |       上部【─】形阻擋，因而發出「咳嗽」聲【<ruby>ㄎ<rt>&thinsp;ㄎㄜㆷ&thinsp;</rt></ruby>】。亦從【<ruby>ㄎ<rt>&thinsp;ㄎㄠˇ&thinsp;</rt></ruby>】字的聲母【<ruby>ㄎ<rt>&thinsp;ㄎㄜ&thinsp;</rt></ruby>】取音，
      |       發音【<rt>ㄎㄜ</rt>】。這個符號，華語、臺語相同共用。例字：【科】字，華音【<rt>ㄎㄜ</rt>】、臺音【<rt>ㄎㄜ</rt>】
      |       (漳州腔)【<rt>ㄎㄛ</rt>】(泉州腔)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄫ [ng] [ng] [ŋ] [ng] [ng]
      |       【ㄫ】符出於【ㄫ】(五忽切→<rt>ㄨˋ</rt>)字字形。發音像蘇州話的【額】字或閩南的【<ruby>娥<rt>&thinsp;ㄫㆦˊ&thinsp;</rt></ruby>】字的
      |       聲母【ㄫ】，即是帶鼻音的【ㆣ】。這個符號為舊華音的遺音，在新華音是閏號，但正可適
      |       用於臺語音系，發音【ㄫㄜ】。例字：①【我、五】，華音【<rt>ㄨㄛˇ</rt>、<rt>ㄨˇ</rt>】、臺音【<rt>ㄫㆦˋ</rt>、<rt>ㄫㆦˋ</rt>】
      |       （讀音）【<rt>ㆣㄨㄚˋ</rt>、<rt>ㆣㆦ˫</rt>】（語音）。2.【午、忤】字，華音【<rt>ㄨˇ</rt>、<rt>ㄨˇ</rt>】、臺音【<rt>ㄫㆦˋ</rt>、<rt>ㄫㆦˋ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄏ [h] [h] [h] [h]
      |       【ㄏ】符出於【<ruby>厂<rt>&thinsp;ㄏㄢˇ&thinsp;</rt></ruby>】字，是表示在崖下人可居的意思。今又為【庵】字的簡寫。臺灣地
      |       名【<ruby>大<rt>&thinsp;ㄉㄨㄚ˫&thinsp;</rt></ruby><ruby>嵙<rt>&thinsp;ㄎㄜ&thinsp;</rt></ruby><ruby>崁<rt>&thinsp;ㄏㆰ˫&thinsp;</rt></ruby>】的【<ruby>崁<rt>&thinsp;ㄏㆰ˫&thinsp;</rt></ruby>】和【厂】字，音義相似。亦取其聲母【ㄏ】為名稱，發音
      |       【<rt>ㄏㄜ</rt>】。華音與臺音，共用這個符號。音值大致相同。嚴格地說有舌位前後之別，不礙辨
      |       義。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄐ [j] [c(i)] [tɕ] [j]
      |       【ㄐ】符出於【<ruby>ㄐ<rt>&thinsp;ㄐ丨ㄡ&thinsp;</rt></ruby>】字。【ㄐ】字的篆文作【　】形，像藤蔓糾纏的樣子，而其音亦得自
      |       【<ruby>ㄐ<rt>&thinsp;ㄐ丨ㄡ&thinsp;</rt></ruby>】字的聲母【<ruby>ㄐ<rt>&thinsp;ㄐ丨&thinsp;</rt></ruby>】。為著教學時傳授聲音能響亮清楚，加【ㄧ】(直寫)//【丨】
      |       (橫寫)韻母而發音【<rt>ㄐ丨</rt>】，就是這個符號的名稱。【之】字的臺音就須用這個符號注音讀
      |       出。（【ㄐ】和【ㄗ】舌位相近、互補，【ㄐ】和【ㄧ】【ㄩ】韻母相拼、【ㄗ】和【ㄚ】
      |       【ㄨ】【ㆤ】韻母相拼。【ㄑ】和【ㄒ】二符和【ㄘ】和【ㄙ】二符之關係亦與【ㄐ】和
      |       【ㄗ】的關係相同）。例字：【基】字，華音【<rt>ㄐ丨</rt>】，臺音【<rt>ㄍ丨</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆢ [jj] [j] [dʑ] [jj]
      |       【ㆢ】符是臺音閏號。依據【ㄐ】音符的右筆下端，向左倒彎鉤上，和直筆成半圓形，不超
      |       過直筆，表示濁音。就是帶濁音的【ㄐ】。音讀【<ruby>兒<rt>&thinsp;ㆢ丨ˊ&thinsp;</rt></ruby>】字的陰平調。註：【ㆢ】母字今廈
      |       門音多變成【ㄌ】再變【<img src="img/m3/fa47.png">】。華音【<ruby>兒<rt>&thinsp;ㄦˊ&thinsp;</rt></ruby>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄑ [ch] [ch(i)] [tɕ'] [q]
      |       【ㄑ】符出於【<ruby>ㄑ<rt>&thinsp;ㄑㄩㄢˇ&thinsp;</rt></ruby>】字。表示細流的意思。亦由【ㄑ】（畎的意思。與【<ruby>巛<rt>&thinsp;ㄑㄩㄢˇ&thinsp;</rt></ruby>】，河川的
      |       意思相同。）字的聲母【ㄑ】得聲；發音【<rt>ㄑ丨</rt>】。華音和臺音共用這個符號。音值大致相
      |       同。華音的舌位稍微靠後，但不妨礙辨義。【ㄑ】和【ㄧ】【ㄩ】相拼、【ㄘ】和【ㄚ】
      |       【ㄨ】【ㆤ】相拼，音位則相近以至相同。【ㄑ】【ㄘ】兩音位相近以至相同，因此有些
      |       閩臺音音標則共用一個符號而不做區分，分別使用。例字：【<ruby>千<rt>&thinsp;ㄑ丨ㄢ&thinsp;</rt></ruby>】、【<ruby>清<rt>&thinsp;ㄑ丨ㄥ&thinsp;</rt></ruby>】，華音、
      |       臺音拼音相同。（嚴密的審音音值，從略）。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   广 [ng(i)] [ng(i)] [nʐ／ȵ] [□]
      |       【广】符出於【<ruby>广<rt>&thinsp;丨ㄢˇ&thinsp;</rt></ruby>】字。就是在崖下蓋屋的意思，而取蘇州【呢】字的鼻音聲母【广】
      |       【ㄋ】的鼻化音，發音【<rt>ㄬ丨</rt>】。這個符號在華語屬閏音，標準華音不用，閩臺語中亦只有
      |       漳州方言的【<ruby>耳<rt>&thinsp;ㄬ丨ˋ&thinsp;</rt></ruby>】字用得到它。互見【<rt>ㄫ丨ˋ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄒ [si] [s(i)] [ɕ] [x]
      |       【ㄒ】符出於【<ruby>下<rt>&thinsp;ㄒ丨ㄚˋ&thinsp;</rt></ruby>】的篆文【ㄒ】，亦得音於【<ruby>下<rt>&thinsp;ㄒ丨ㄚˋ&thinsp;</rt></ruby>】字的聲母【ㄒ】，發音【<rt>ㄒ丨</rt>】。
      |       臺語亦共用這個符號，音值也大致相同。嚴格地說，華音的【ㄒ】較舌面化。臺語裡，
      |       【ㄒ】、【ㄙ】發音部位相鄰，在華音【ㄒ】、【ㄙ】之間。朱式原案把【ㄒ】歸入泉州
      |       閏音，本典的【<rt>ㄒ丨</rt>】，朱式用【<rt>ㄙ丨</rt>】，皆不妨礙辨義。例字：【仙】字，華音【<rt>ㄒ丨ㄢ</rt>】，臺
      |       音同。【ㄒ】[si]單拼時用【ㄒ丨】[si]，與其他音相拼時用【ㄒ】[s]，【丨】[i]可
      |       省略。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄓ [z] [z] [tʂ] [zh]
      |       【ㄓ】符出於【之】字的篆文【　】，只略加以變形的符號化而已。亦挪用【<ruby>之<rt>&thinsp;ㄓ&thinsp;</rt></ruby>】字
      |       的音字做為「ㄓ」符的名稱，發音【ㄓ】。臺音裡沒有這個音，不用這個符號。學習華
      |       語的的人需勤加練習務必能和【ㄗ】符，區別清楚。例字：1.【知】字，華音【<rt>ㄓ</rt>】、
      |       臺音【<rt>ㄉ丨</rt>】（讀音）【<rt>ㄗㄞ</rt>】(語音)。2.【之】字，華音【ㄓ】、臺音【<rt>ㄐ丨</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄔ [zh] [zh] [tʂ'] [ch]
      |       【ㄔ】符出於【<ruby>彳<rt>&thinsp;ㄔˋ&thinsp;</rt></ruby>】字。【ㄔ】字的篆文【　】，像人的脛骨三屬相聯。亦取音於
      |       【<ruby>ㄔ<rt>&thinsp;ㄔˋ&thinsp;</rt></ruby>】字的聲母，做為【ㄔ】符的名稱，發音【ㄔ】【<ruby>喫<rt>&thinsp;ㄔ&thinsp;</rt></ruby>】。臺音不用這個符號。
      |       但是【彳】字，丑亦切。用臺音切成【<rt>ㄊ丨ㆤㆶ</rt>】正謂【<ruby>踢<rt>&thinsp;ㄊㄚㆵ&thinsp;</rt></ruby>】。例字：【叉、春】字，華音
      |       【<rt>ㄔㄚ</rt>、<rt>ㄔㄨㄣ</rt>】、臺音【<rt>ㄘㄚ</rt>、<rt>ㄘㄨㄣ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄕ [sh] [sh] [ʂ] [sh]
      |       【ㄕ】符出於【<ruby>尸<rt>&thinsp;ㄕ&thinsp;</rt></ruby>】字。其篆文【　】像人橫臥，亦像陳列尸體祭祀。即用【尸】字的
      |       音做為【ㄕ】符的音，發音【ㄕ】。【尸】字的臺音是【<rt>ㄒ丨</rt>】，所以說華語時要分清楚。
      |       餘例字：【士】，華音【<rt>ㄕˋ</rt>】，臺音【<rt>ㄙㄨ˫</rt>】。【沙】華音【<rt>ㄕㄚ</rt>】，臺音【<rt>ㄙㄚ</rt>】(文)、【<rt>ㄙㄨㄚ</rt>】
      |       (語)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄖ [r] [r] [ʐ] [r]
      |       【ㄖ】符一看就知道是【<ruby>日<rt>&thinsp;ㄖˋ&thinsp;</rt></ruby>】字的變形。把【日】字，唸成陰平調就是華音【ㄖ】符的
      |       名稱，發音【ㄖ】。臺音沒有【ㄖ】音，【日】字唸【<rt>ㆢ丨ㆵ</rt>】【<rt>ㄌ丨ㆵ̇</rt>】。所以說華語要能分辨
      |       【ㄖ】和【ㆢ】。例字：【熱】字，華音【<rt>ㄖㄜˋ</rt>】，臺音【<rt>ㆢ丨ㄚㆵ̇</rt>】。【人】，華音【<rt>ㄖㄣˊ</rt>】，臺
      |       音【<rt>ㆢ丨ㄣˊ→ㄌ丨ㄣˊ</rt>】（讀音）。又音【<rt>ㄌㄤˊ</rt>】，諧：【<ruby>郎<rt>&thinsp;ㄌㄤˊ&thinsp;</rt></ruby>】【<ruby>儂<rt>&thinsp;ㄌㄤˊ&thinsp;</rt></ruby>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄗ [tz] [c] [ts] [z]
      |       【ㄗ】符出於【節】字的古體【<ruby>ㄗ<rt>&thinsp;ㄐ丨&thinsp;</rt></ruby>】。【節】字，舊華音讀做【ㄗ丨ㄝㆷ】，所以設計國
      |       語注音符號的人，也就取舊華音「節」字的聲母【ㄗ】，做為【ㄗ】符的名稱。臺音亦要用
      |       「ㄗ」符，音值大致相同，但華音【ㄗ】符可以單行注音，臺音則不能。【ㄗ】和【ㄐ】二
      |       符發音部位相同，可分亦可以合併。本文為配合已習慣使用「華語注音符」讀者的了解，採
      |       用分開使用的方式。【ㄐ】拼【丨／ㄧ】【ㄩ】二母，【ㄗ】拼【ㄚ】【ㄨ】【ㆤ】三母。
      |       例字： 1.【災】字，華音【<rt>ㄗㄞ</rt>】，臺音同，2.【宗】字，華音【<rt>ㄗㄨㄥ</rt>】，臺音【<rt>ㄗㆲ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆡ [zz] [j] [dz] [zz]
      |       【ㆡ】符，是帶音的【ㄗ】。據華音【ㄗ】變形，加濁音符號造成。華音不用。例字：1.
      |       【裕】字，華音【<rt>ㄩˋ</rt>】，臺音【<rt>ㆡㄨ˫</rt>】。2.【焫】字，（熱也），華音【<rt>ㄖㄨㄛˋ</rt>】、臺音
      |       【<rt>˙ㆡㄨㄚㆷ</rt>】。【閏】字，華音【<rt>ㄖㄨㄣˋ</rt>】，臺音【<rt>ㆡㄨㄣ˫</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄘ [ts] [ch] [ts'] [c]
      |       【ㄘ】符出於【<ruby>七<rt>&thinsp;ㄑ丨&thinsp;</rt></ruby>】字的篆文【　】。【<ruby>七<rt>&thinsp;ㄑ丨&thinsp;</rt></ruby>】字，舊華音唸【ㄘ丨】，所以取其聲母
      |       【ㄘ】做為這符號的名稱唸【ㄘ】。華音和臺音共用這符。音值大致相同。只是臺語不能單
      |       獨注音。又【ㄘ】和【ㄑ】舌位相同，可分可併。分用的【ㄘ】拼【ㄚ】【ㆤ】【ㄨ】成
      |       【<rt>ㄘㄚ</rt>】【<rt>ㄘㆤ</rt>】【<rt>ㄘㄨ</rt>】，【ㄑ】拼【丨／ㄧ】【ㄩ】成【<rt>ㄑ丨</rt>】、【<rt>ㄑㄩ</rt>】。合併的是【<rt>ㄑ丨</rt>】併入
      |       【ㄘ丨】。互見【ㄐ】【ㄑ】二符項內。例字：【猜】，華音【<rt>ㄘㄞ</rt>】，臺音同。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄙ [s] [s] [s] [s]
      |       【ㄙ】符的來源是【私】的本字【　＝ㄙ】。亦以【<ruby>ㄙ<rt>&thinsp;ㄙ&thinsp;</rt></ruby>】字的音做為【ㄙ】符號的名稱，
      |       發音【ㄙ】閩臺音亦用【ㄙ】符，音值大致相同。只是閩臺音裡單獨不成音節。又【ㄙ】和
      |       【ㄒ】二母的舌位，在臺音裡比在華音更為接近以至同位，所以主合併的人把【<rt>ㄒ丨</rt>】拼成
      |       【ㄙ丨】。本書分用，便於類推華音（請參照【ㄗ】項）。例字：【司、私、思】三字，華
      |       音皆【<rt>ㄙ</rt>】，臺音皆【<rt>ㄙㄨ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | 二、韻符（母）
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄚ [a] [a] [a] [a]
      |       【ㄚ】的符號是根據漢字【丫叉】（＝椏杈）的【<ruby>丫<rt>&thinsp;丨ㄚ&thinsp;</rt></ruby>】字製造出來的。【丫】字的舊音讀
      |       【<ruby>ㄚ<rt>&thinsp;ㄚ&thinsp;</rt></ruby>】。（閩南音猶存舊音）。臺音系亦用【ㄚ】的符號，音值大致相同，至少不妨礙辨
      |       義。例字：【阿】字，華音【<rt>ㄚˋ</rt>】阿片，臺南音【ㄚ】阿片。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆩ [ann] [ann] [ã] [na]
      |       【ㆩ】符是臺音閏號。【ㄚ】符的鼻化音。例字：<img src="img/k/fc70.png">【<rt>ㆩ˪</rt>】(俯首也)，餡【<rt>ㆩ˫</rt>】 (餡兒)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆦ [oo] [oo] [ɔ] [oo]
      |       【ㆦ】的符號是臺音閏號。第二筆寫成正菱形而缺一邊，纔能跟華音的「ㄛ」（第二筆半
      |       圓形）有區別。亦須與泉州閏音【<img src="img/m3/fa62.png">】的符號能區別。發音時口腔（形）比華音的【ㄛ】
      |       較開並且發聲位置較後面，如：臺音【<rt>ㄏㄨㄛ</rt>】裡的【<rt>ㄨㄛ</rt>】的合音。例字：1.【烏】字，華音，
      |       【<rt>ㄨ</rt>】、臺音【<rt>ㆦ</rt>】。2.【芋】字，華音【<rt>ㄩˋ</rt>】，臺音【<rt>ㆦ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆧ [oonn] [oonn／onn] [ɔ̃] [noo]
      |       【ㆧ】符是臺音閏號，【ㆦ】的鼻化音，如：哄嬰兒入睡時說【ㆧㆧ睏】的【ㆧ】。字形可
      |       用「掩」或「捂」。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄛ [o] [o] [o] [o]
      |       【ㄛ】符是【　】【ㄎ】符的反形。【ㄎ】字本義，氣息不通達。已在上文提過。【ㄛ】字
      |       反過來就是通達透出的意思，成「ㄛ」形。【<ruby>喔<rt>&thinsp;ㄛ&thinsp;</rt></ruby>】，是明白的意思。這個符號第二筆的後
      |       半部要寫成半圓形。這符號的音，本來讀「<ruby>和<rt>&thinsp;ㄏㄜˊ&thinsp;</rt></ruby>」字的韻音【ㄜ】。後來因修訂注音符號公
      |       布時：將【～ㄛ】韻分化為【ㄛ】【ㄜ】二韻，就將舊音【ㄜ】讓給【ㄜ】符號，而【ㄛ】
      |       符本身改讀今華音【波、頗、破】等字的韻音【ㄛ】。閩南音亦用這【ㄛ】符。在綜合閩南
      |       方言基本字典（就是臺灣通行的閩南方言）裡【ㄛ】【ㄜ】互補，【ㄛ】為泉州腔、【ㄜ】
      |       為漳州腔。本書採用【ㄜ】系音，而一度把【ㄛ】移用表達泉州閏音【科】（彙音妙悟韻目
      |       名）韻。今另擬【<img src="img/m3/fa62.png">】。音值近似國際音標的【ɤ】、【ə】而不完全一致，實為掀唇（如
      |       ：ㄓ、ㄔ、ㄕ）的【ㄜ】(請看次項)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄜ [er] [er] [ə] [e]
      |       華音【ㄜ】符是由【ㄛ】符分化出來的，詳上文。構形本來是在「ㄛ」符上邊當中，加小
      |       圓點作【˙ㄛ】形。後來，草書、印刷都把小圓點往下拉長，連接中筆，作「ㄜ」形。唸
      |       【<ruby>痾<rt>&thinsp;ㄜ&thinsp;</rt></ruby>】音和平的【<ruby>和<rt>&thinsp;ㄏㄜˊ&thinsp;</rt></ruby>】的韻音。華臺音標共用這個符號。只是朱氏原案用【ㄜ】表達
      |       泉州閏音【<rt>ㄋ丨˫</rt>／<rt>ㄊㄨㆤㆷ̇</rt>】，本書則用以表達台灣的漳州腔，而與泉州腔的【ㄛ】互補。例字：
      |       【娥】字，華音【<rt>ㄜˊ</rt>】，臺音【<rt>ㄫㆦˊ</rt>】。例字：【蠔】字，華音【<rt>ㄏㄠˊ</rt>】，臺灣的漳州腔
      |       【<rt>ㄜˊ</rt>】、泉州腔【<rt>ㄛˊ</rt>】。【惡】字，臺音有：【<rt>ㆦㆶ</rt>／<rt>ㄜㆷ</rt>／<rt>ㆦ˪</rt>／<rt>ㆧ˪</rt>／<rt>ㆦ</rt>】等，歧音、義異。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   <img src="img/m3/fa62.png"> [eer] [□] [ɤ] [□]
      |       【<img src="img/m3/fa62.png">】母是閩南泉州方音。符號形體，由【ㆦ】【ㄜ】二形合體、亦合音構成，詳見前項
      |       【ㄛ】，筆寫時注意第二筆寫成正陵形而缺右上一邊。與華音「ㄜ」有別。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄝ [ee] [ee] [ε／E] [ee]
      |       【ㄝ】符是依據【<ruby>也<rt>&thinsp;丨ㄝˇ&thinsp;</rt></ruby>】字的篆文加以變形造成的。亦用【也】字的韻母【ㄝ】做為名稱，
      |       發音【ㄝ】【<ruby>誒<rt>&thinsp;ㄝˋ&thinsp;</rt></ruby>】的陰平調。例字：【<img src="img/k/81b8.png">】字，閩南漳州腔的【ㄝ】，即國際音標的
      |       【ε／E】，發音相當於嘴形較寬的【e】，同時有【e】(窄音）。即閩南俗韻書十五音所
      |       分的【嘉】【～ㄝ】、【稽】【～ㆤ】兩韻。今在臺灣混合為一，無辨義作用。例字：
      |       【鞋】字，華音【<rt>ㄒ丨ㄝˊ</rt>】。臺音 【<rt>ㆤˊ</rt>／<rt>ㄨㆤˊ</rt>】【<rt>ㄝˊ</rt>／ㄨㄝˊ】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   <img src="img/k/93c4.png"> [eenn] [eenn／enn] [ɛ̃] [nee]
      |       【<img src="img/k/93c4.png">】符是臺語閏音。【ㄝ】母的鼻化音。形體由「ㄝ」符加鼻化記號造成。即閩南
      |       俗韻書十五音所分的【嘉】【～ㄝ】、【稽】【～ㆤ】兩韻的鼻化音。今在臺灣【ㄝ】
      |       【ㆤ】兩韻混而為一，無辨義作用。例字：【嬰】字，華音【<rt>丨ㄥ</rt>】，漳音【<img src="img/k/93c2.png">】，泉音
      |       【<rt>ㆥ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆤ [e] [e] [e] [e]
      |       【ㆤ】符是閩南(臺)閏音。閩南(臺)閏音。參照前項。例字：【挨】字，，華音【ㄞ】、臺
      |       音【<rt>ㆤ</rt>／<rt>ㄨㆤ</rt>】。【ㆤ】【ㄝ】符，兩者的差別只在【ㆤ】符，音位較高(嘴形較窄)，【ㄝ】
      |       符的音位較低(嘴形較廣)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆥ [enn] [enn] [ẽ] [ne]
      |       【ㆥ】符是閩南(臺)閏音，「ㆤ」母的鼻化音。形體由「ㆤ」符加鼻化記號造成。例字：
      |       【嬰】字，華音【<rt>丨ㄥ</rt>】，閩、臺讀書音亦是【<rt>丨ㄥ</rt>】、廈音【ㆪ】、漳音【<img src="img/k/93c4.png">】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄞ [ai] [ai] [ai] [ai]
      |       【ㄞ】符是由【亥】字的古文【　】的別體【ㄞ】字造出來的，其音亦取諸【<ruby>亥<rt>&thinsp;ㄏㄞˋ&thinsp;</rt></ruby>】的
      |       韻母【ㄞ】，讀成【ㄚ˧】【ㄧ┬】合音。臺音亦共用這符號。音值大致相同。例字：
      |       【哀、埃】字，華、臺音都音【<rt>ㄞ</rt>】音。【癌】字，舊音【<rt>丨ㄢˊ</rt>】，華音【<rt>丨ㄢˊ</rt>】、臺音
      |       【<rt>ㆣㆰˊ</rt>】。註：【˧】表示舌位靠後，【┬】表示舌位靠下。下文【├】表示舌位靠前。
      |       其他倣此。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆮ [ainn] [ainn] [aĩ] [nai]
      |       【ㆮ】符是臺語方音閏號。根據華音【ㄞ】符加鼻音記號，分化出來。例：【ㆮㆮ】哮。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄟ [ei] [ei] [ei] [ei]
      |       【ㄟ】符出於【<ruby>ㄟ<rt>&thinsp;丨ˊ&thinsp;</rt></ruby>】字的篆文【ㄟ】像流水移動之狀。今借【ㄟ】形，略為轉音，讀成
      |       【ㄜ】【ㄧ】的合音，成為複合韻母【ㄟ】。猶如【<ruby>微<rt>&thinsp;ㄨㄟˊ&thinsp;</rt></ruby>】字的臺音【<rt>ㆠ丨ˊ</rt>】，華音轉讀
      |       【<rt>ㄨㄟˊ</rt>】，有例可循。例字：【欸】字，華音【<rt>ㄟˋ</rt>】、臺音【<rt>ㆤ˪</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄠ [au] [au] [au] [au]
      |       【ㄠ】符取形於【<ruby>ㄠ<rt>&thinsp;丨ㄠ&thinsp;</rt></ruby>】字。【ㄠ】之篆文【　】，像嬰兒初生的形狀，所以「<ruby>ㄠ<rt>&thinsp;丨ㄠ&thinsp;</rt></ruby>」是
      |       「小」的意思。亦由「<ruby>ㄠ<rt>&thinsp;丨ㄠ&thinsp;</rt></ruby>」的韻母得音，讀【ㄚ├】【ㄨ┬】的合音。臺語方音和華音
      |       共用這個符號，音值也大致相同。例字：【<ruby>凹<rt>&thinsp;ㄠ&thinsp;</rt></ruby>】，華臺音同為【ㄠ】。臺又音【ㄜ】，
      |       可訓讀【<rt>ㄋㄚㆷ</rt>】【<rt>ㄌㄚㆴ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆯ [aunn] [aunn] [aũ] [nau]
      |       【ㆯ】符是【ㄠ】符的鼻化音。臺語閏音，華語裡不使用。例【<rt>丨ㆯ</rt>】，貓的叫聲。
      |   ㄡ [ou] [ou] [ou] [ou]
      |       【ㄡ】符一看即知為出於【<ruby>又<rt>&thinsp;丨ㄡˋ&thinsp;</rt></ruby>】字。【又】字的篆文【　】，像伸出手指頭的樣子。後
      |       來專指右手。【右】字的篆文是【　】，再借做表【重複】【更進一層】之義的【又】字。
      |       其音亦得自【　】【<rt>ㄕㄡˇ</rt>】＝【手】字的韻母【ㄡ】，讀【ㄛ】【ㄨ】的合音。臺音系裡不
      |       使用這符號。例字： ①【歐】，【ㄡ】，臺音【ㄠ】。 ②【偶】字，華音【<rt>ㄡˇ</rt>】，臺音
      |       【<rt>ㄫㆦˋ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆰ [am] [am] [am̩] [am]
      |       【ㆰ】符是臺語閏號，華語音系所無。是【ㄚ】【ㄇ】的合體又是合音。例字：【庵】臺音
      |       【ㆰ】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆱ [oom] [oom／om] [ɔm̩] [oom／om]
      |       【ㆱ】符也是閩南音閏號，華語音系不用。是【ㆦ】【ㄇ】二符的合體又是合音。例字：
      |       【掩】字臺音【<rt>丨ㆰˋ</rt>】(烏感切)，用臺音切讀成【<rt>ㆰˋ</rt>】，可以轉為【ㆱ】，有【覆】義。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆬ [m] [m] [m̩] [m]
      |       【ㆬ】符是聲母【ㄇ】的韻化音符號。華語裡，只有一個不拘聲調的【呣】(歎詞）以及
      |       【我們】的縮音【<rt>ㆬ</rt>】用到這符。臺語裡則較常見，如否定詞【不／<ruby>伓<rt>&thinsp;ㆬ˫&thinsp;</rt></ruby>】，阿姆的
      |       【<ruby>姆<rt>&thinsp;ㆬˋ&thinsp;</rt></ruby>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   宀 【宀】[m]符是華語音系裡的閏音，不見注音符號表。只見用於譯音。如【達姆達姆
      |       彈】的【姆】【<rt><img src="img/m3/fa70.png"></rt>】。其實【達姆】可譯成【<rt>ㄉㆰˊ</rt>】。【宀】符亦可併入【ㆬ】。
      |       【ㆬ】【ㆭ】的中槓皆表示韻化。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄢ [an] [an] [an] [an]
      |       【ㄢ】符是把【　<rt>ㄏㄢˋ</rt>】字的篆文【　】加以變形製成的。【ㄢ】是【<ruby>菡<rt>&thinsp;ㄏㄢˋ&thinsp;</rt></ruby><ruby>萏<rt>&thinsp;ㄉㄢˋ&thinsp;</rt></ruby>】的合音，
      |       是草木的花還沒有發放函然（含著）的意思又是象形字，像包含的樣子。即取【<ruby>ㄢ<rt>&thinsp;ㄏㄢˋ&thinsp;</rt></ruby>】字
      |       的韻母【ㄢ】，讀【ㄚ】【<img src="img/k/815e.png">】的合音。閩南方言亦用這個符號，音值大致相同。如：
      |       【安】字，華語和臺語都用【ㄢ】拼音，音色微異，但不妨礙辨義。【<ruby>丹<rt>&thinsp;ㄉㄢ&thinsp;</rt></ruby>】也一樣。華
      |       音【<ruby>山<rt>&thinsp;ㄕㄢ&thinsp;</rt></ruby>】，臺音讀音【<ruby>山<rt>&thinsp;ㄙㄢ&thinsp;</rt></ruby>】、語音【<ruby>山<rt>&thinsp;ㄙㄨㆩ&thinsp;</rt></ruby>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄣ [en] [n(不單用)] [ən] [en]
      |       【ㄣ】符出於【隱】字的篆文【　】【  】，像人逃遁隱匿的樣子。也取【隱】字的韻母
      |       【ㄣ】做為名稱發音【ㄜ】【<img src="img/k/815e.png">】的合音。臺語方音也用這韻符，但是不能單獨注音，即單
      |       獨不成音節。必需和【ㄧ】【ㄨ】相拼成【<rt>丨ㄣ</rt>】或【<rt>ㄨㄣ</rt>】始得讀出。或因此故，【台灣省國
      |       語推行委員會】編訂【台灣方音符號】時猶未賦與名稱。例字：【恩】字，華音【<rt>ㄣ</rt>】、閩
      |       南音【<rt>ㄨㄣ</rt>】(廈)、【<rt>丨ㄣ</rt>】(漳)、【<rt>ㆨㄣ</rt>】(泉)。註：【<img src="img/k/815e.png">】是聲母【ㄋ】的韻化音。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄤ [ang] [ang] [aŋ̩] [ang]
      |       【ㄤ】符出於【<ruby>尢<rt>&thinsp;ㄨㄤ&thinsp;</rt></ruby>／尪／<img src="img/k/fcce.png">】。其篆文【　】像跛了一條腿、彎曲的樣子。也取其
      |       韻母【ㄤ】做為名稱，讀【ㄚ】【ㆭ】的合音，即骯髒的【骯】字音。華、臺音共用
      |       這符號。【<img src="img/k/fcce.png">】字的臺音正讀【ㄤ】（俗稱木偶神像）。餘例：【昂】字，華音【<rt>ㄤˊ</rt>】，
      |       臺音【<rt>ㆣㆲˊ</rt>】。【盎】字，華音【<rt>ㄤˋ</rt>】、臺音【<ruby>盎<rt>&thinsp;ㄤ˪&thinsp;</rt></ruby>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆲ [oong] [oong／ong] [ɔŋ̩] [ong]
      |       【ㆲ】符是臺語方音閏號，一看就知為依據工具的【工】字，加以變形製成。【工】字，
      |       字形橫扁，【ㆲ】符，則稍微偏於豎直長方形。亦就取【<ruby>工<rt>&thinsp;ㄍㆲ&thinsp;</rt></ruby>】字的臺音韻母【ㆲ】音
      |       【ㆦㆭ】做為名稱，讀如華音的【<rt>ㄨㄥ</rt>】。只是【ㆲ】符口腔、口形較開，屬開口呼，所
      |       以另成一符。【<rt>ㄨㄥ</rt>】母呈圓唇屬合口呼。【ㄨㄥ】為【ㄨ】【ㄜ】【ㆭ】;【<rt>ㆲ</rt>】為【ㆦ】
      |       【ㆭ】的合音。例字：1.【翁】字，華音【<rt>ㄨㄥ</rt>】臺音【<rt>ㆲ</rt>】。2.【汪】字，華音【<rt>ㄨㄤ</rt>】，
      |       臺音【<rt>ㆲ</rt>】。3.【風】字，華音【<rt>ㄈㄥ</rt>】，臺音【<rt>ㄏㆲ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄥ [eng] [eng] [əŋ̩] [eng]
      |       【ㄥ】符出於【厷＝<ruby>肱<rt>&thinsp;ㄍㄨㄥ&thinsp;</rt></ruby>】的古文【　】，像人胳臂彎曲的樣子。其音亦得自【<ruby>厷<rt>&thinsp;ㄍㄨㄥ&thinsp;</rt></ruby>】
      |       字音的韻尾【ㄥ】，讀如【<ruby>鞥<rt>&thinsp;ㄥ&thinsp;</rt></ruby>】馬轡。發音【ㄜㆭ】。臺音雖然亦應用這個音符注音，
      |       卻不單獨出現，情形與【ㄣ】符相同。例字：【英】字，華音【<rt>丨ㄥ</rt>】，臺音同樣拼成
      |       【<rt>丨ㄥ</rt>】（實在音值，華音是【丨ㆭ】，臺音是【丨ㆤㆭ】）。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆭ [ng] [ng] [ŋ̩] [ng]
      |       【ㆭ】符是在【ㄫ】符的下部兩劃之間加一豎製成的，表【ㄫ】的鼻化韻音。華語【𠮾！
      |       不錯】的【𠮾】，近似此音，但多未完全鼻化，所以不用。閩南方音有這個音，用這個符
      |       號。例字：1.【黃】字，華音【<rt>ㄏㄨㄤˊ</rt>】，臺音【<rt>ㆭˊ</rt>】。2.【秧】字，華音【<rt>丨ㄤ</rt>】，臺音
      |       【<rt>ㆭ</rt>】。辨似：ㄇ、ㆬ、ㄫ、ㆭ。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄦ [er] [er][ɚ] [er／r]
      |       【ㄦ】符出於【人】字的古文奇字【　】。從【人】的字，在左邊變【<img src="img/k/a0d0.png">】，如【伯】
      |       【仲】，在字下邊變成【儿】形，如【兒】【兄】字的下部。設計注音符號時，因兒字從
      |       【儿】，即據以造【ㄦ】符。又取其音唸成陰平調做為【ㄦ】符的名稱。發音如【ㄜ】的
      |       捲舌音。臺音沒有捲舌音，想說得純正就要勤加練習。例字：【二】字，華音【<rt>ㄦˋ</rt>】，閩
      |       臺音【<rt>ㆢ丨˫</rt>】(漳州)、【<rt>ㄌ丨˫</rt>】 (廈門)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   丨／ㄧ [i／yi] [i] [i] [i]
      |       【丨／ㄧ】符的形與音都出於【一、二、三】之【一】。華音、閩臺音共用這個符號，而
      |       以華音的【ㄧ】為名稱。例字： 1.【伊】字，華音、臺音同為【<rt>丨</rt>】。 2.【一】字，華音
      |       【<rt>丨</rt>】，臺音【<rt>丨ㆵ</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆳ／ㆪ [inn] [inn][ĩ] [ni]
      |       【ㆪ】符是【ㄧ】符的鼻化音，華音無此音，故不用這個符號。在【ㄧ】符加鼻音記號製
      |       成。例字：【天】字，華音【<rt>ㄊ丨ㄢ</rt>】，臺音【<rt>ㄊ丨ㄢ</rt>】(讀音)，【<rt>ㄊㆳ</rt>】(語音)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄨ [u] [u] [u] [u]
      |       【ㄨ】符取形於「<ruby>五<rt>&thinsp;ㄨˇ&thinsp;</rt></ruby>」的古文【ㄨ】，篆文【　】，再把【<ruby>五<rt>&thinsp;ㄨˇ&thinsp;</rt></ruby>】讀成陰平調作為【ㄨ】
      |       符的名稱。華、臺音共用這個符號的形和音。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆨ [ir] [ir] [ɨ] [□]
      |       【ㆨ】符是臺語方音中泉州系閏音。據【ㄨ】符加一短橫成【ㆨ】，表泉州【<ruby>豬<rt>&thinsp;ㄉㆨ&thinsp;</rt></ruby>】的韻
      |       音，音值【ɨ】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㆫ [unn] [unn] [ũ] [nu]
      |       【ㆫ】符是【ㄨ】的鼻化韻母，但是單獨不成音節，必須與【丨】相拼才能發生作用，拼出
      |       音綴。例字：臺音【<ruby>鴦<rt>&thinsp;丨ㆫ&thinsp;</rt></ruby>】【<ruby>香<rt>&thinsp;ㄏ丨ㆫ&thinsp;</rt></ruby>】。華音無此音。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄩ [y／iu,yu] [y] [y] [u]
      |       【ㄩ】符的來源是【凵】【<rt>ㄑㄩ</rt>】字，其篆文【　】像用柳條編的盛飯器具。亦從這字的字音
      |       【<rt>ㄑㄩ</rt>】，取【ㄩ】符的音叫【ㄩ】。例字：1.【迂】，華音【<rt>ㄩ</rt>】，臺音【<rt>ㄨ</rt>】。2.【雨】
      |       ，華音【<rt>ㄩˇ</rt>】，臺音(文)【<rt>ㄨˋ</rt>】、(語)【<rt>ㄏㆦ˫</rt>】。辨似：【ㄩ】向上開口，盛物器形，【ㄇ】
      |       向下覆蓋的樣子。臺語沒有【ㄩ】音。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ㄭ [ii／r,z] [ ／ ] [ii] [□]
      |       【ㄭ】符取自【師】字右文，加以符號化。亦從【師】字的後半音(音尾)取這個符號的名稱
      |       ，發音【ㄭ】。此音不能單獨存在、不拼出，故稱做「空韻」。閩南泉州方音的【<ruby>資<rt>&thinsp;ㄗㆨ&thinsp;</rt></ruby>】的
      |       韻音【ㆨ】近之。【ㄭ】的嚴密記音包括【　】【　】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | 三、四個入聲記號
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      |       閩南方音(臺音)的入聲分為兩種：一種收於【⬚ㆴ、⬚ㆵ、⬚ㆶ】促聲韻尾，一種收於
      |       【⬚ㆷ】[～h][～h][～ˀ][～h]叫喉塞韻尾。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ～ㆴ／～ㆵ／～ㆶ [～p][～t][～k]
      |       小寫的【～ㆴ／～ㆵ／～ㆶ】頂上，不加圓點表示【陰入聲】亦叫【上入聲】;加上圓點的
      |       【～ㆴ̇／～ㆵ̇／～ㆶ̇ 】【～'p/～'t/～'k】是表示【陽入聲】亦叫【下入聲】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ⬚ㆴ [～p][～p][～p][～p]
      |       小寫的【⬚ㆴ】附在拼音的右下角表示收於【～ㆴ】音的入聲。例如：1.【邑】字，音
      |       【<rt>丨ㆴ</rt>】。2.【及】字，音【<rt>ㄍㄚㆴ</rt>】(語音)、【<rt>ㄍ丨ㆴ̇</rt>】(讀音)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ⬚ㆵ [～t][～t][～t][～t]
      |       小寫的【⬚ㆵ】附在拼音的右下角表示收於【～ㆵ】音的入聲。小寫的【～ㆵ】，表示收於
      |       【～ㆵ】的入聲。例如： 1.【壹】字，音【<rt>丨ㆵ</rt>】。 2.【直】字，音【<rt>ㄉ丨ㆵ̇</rt>】。 3.【八】音
      |       【<rt>ㄅㄚㆵ</rt>】。 4.【奪】音【<rt>ㄉㄨㄚㆵ̇</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ⬚ㆶ [～k][～k][～k][～k]
      |       同樣，小寫的【⬚ㆶ】附在拼音的右下角表示收於【～ㆶ】音的入聲。例如： 1.【角】字，
      |       音【<rt>ㄍㄚㆶ</rt>】。 2.【學】字，讀音【<rt>ㄏㄚㆶ̇</rt>】、語音【<rt>ㄜㆷ̇</rt>】。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   ⬚ㆷ [～h] [～h][～ˀ][～h]
      |       小寫的【⬚ㆷ】附在拼音的右下角表示收於【～ㆷ】音的入聲。用這個記號表示喉塞音。收於
      |       喉塞音韻尾的拼音，叫做喉塞音入聲。例如： 1.【學】字的【<rt>ㄜㆷ̇</rt>】(語音)。 2.【<ruby>桌<rt>&thinsp;ㄉㄜㆷ&thinsp;</rt></ruby>】
      |       (語音)。 3.【<ruby>塔<rt>&thinsp;ㄊㄚㆷ&thinsp;</rt></ruby>】(語音)。 4.【<ruby>突<rt>&thinsp;ㄉㄨㆷ̇&thinsp;</rt></ruby>】(語音)。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      | 四、華臺音聲調
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |    華音聲調：
      |       一聲    二聲　　三聲　　四聲    輕聲
      |       陰平    陽平    上聲    去聲    輕聲
      |         1       2       3       4       5   ── TLPA、威妥瑪式。
      |       省略     ˊ      ˇ      ˋ      ．   ── 注音符號。
      |        55      35   315／214   51    無規則 ── 五度音階制。
      |        ˥      ˧˥      ˇ|    ˥˩       ꜊  ── 國際音標。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |    臺音聲調：(↓)指變調
      |        一聲　　二聲　  三聲　　四聲　　五聲　　六聲　　七聲　　八聲 　 輕聲
      |        陰平    陰上    陰去    陰入    陽平    陽上    陽去    陽入    輕聲
      |         1       2       3       4       5       6       7       8       0
      |       55／44  51／53  21／11  32／21  14／25   泉音   33／22   4／5
      |         ˥      ˥˩      ˨˩      ꜋      ˧˥              ˧      ꜉      ꜊
      |         ↓      ↓      ↓      ↓      ↓              ↓      ↓
      |         33      55      51    55／44  33／21          21／11  21／22
      |         <ruby>東<rt>&thinsp;ㄉㆲ&thinsp;</rt></ruby>    <ruby>董<rt>&thinsp;ㄉㆲˋ&thinsp;</rt></ruby>    <ruby>凍<rt>&thinsp;ㄉㆲ˪&thinsp;</rt></ruby>    <ruby>督<rt>&thinsp;ㄉㆦㆶ&thinsp;</rt></ruby>    <ruby>童<rt>&thinsp;ㄉㆲˊ&thinsp;</rt></ruby>   動(泉)   <ruby>洞<rt>&thinsp;ㄉㆲ˫&thinsp;</rt></ruby>    <ruby>毒<rt>&thinsp;ㄉㆦㆶ̇&thinsp;</rt></ruby>    <ruby>仔<rt>&thinsp;˙ㄚ&thinsp;</rt></ruby>
      |        省略      ˋ     ˪    ㆷㆴㆵㆶ  ˊ       ˋ     ˫     ㆷ̇ㆴ̇ㆵ̇ㆶ̇ ．
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |       四個陰(上)入聲：以【～ㆷ～ㆴ～ㆵ～ㆶ／～h ～p ～t ～k】表示。
      |       四個陽(下)入聲：以【～ㆷ̇～ㆴ̇～ㆵ̇～ㆶ̇／～'h ～'p ～'t ～'k】表示。
      |       註：九聲：中央(合音)【<rt>ㄉ丨ㆲˊ</rt>】【tiong 9】，音值為[tioŋ̩35]，一個音節。
      | 五、連讀變音原則：
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      | 
      |         【輕聲】變音發生在第二音節以下，這【連讀變音】則發生在第一音節。或說是一種
      |     輕念。無論如何，這是漢語方言一般在音韻組織上為著發音說話能順口，流暢而出的自然
      |     要求，免於詰屈聱牙。一方面帶出一種語法作用。即，如不依照自然形成的規則、習慣唸
      |     出，就語不成詞、句不成義。操母語的人耳濡不爽，後天學習的要速成則需循規練習。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   【陰平調】連：平、上、去、入，變似【陽去／˫】。即【一聲變七聲】。
      |       例：<ruby>新<rt>&thinsp;ㄒ丨ㄣ→ㄒ丨ㄣ˫&thinsp;</rt></ruby><ruby>衫<rt>&thinsp;ㄙㆩ&thinsp;</rt></ruby>。<ruby>將<rt>&thinsp;ㄐ丨ㆲ→ㄐ丨ㆲ˫&thinsp;</rt></ruby><ruby>來<rt>&thinsp;ㄌㄞˊ&thinsp;</rt></ruby>。<ruby>相<rt>&thinsp;ㄒ丨ㆲ→ㄒ丨ㆲ˫&thinsp;</rt></ruby><ruby>好<rt>&thinsp;ㄏㆦˋ&thinsp;</rt></ruby>。<ruby>花<rt>&thinsp;ㄏㄨㆤ→ㄏㄨㆤ˫&thinsp;</rt></ruby><ruby>布<rt>&thinsp;ㄅㆦ˪&thinsp;</rt></ruby>。
      |           <ruby>兄<rt>&thinsp;ㄏ丨ㆩ→ㄏ丨ㆩ˫&thinsp;</rt></ruby><ruby>弟<rt>&thinsp;ㄉ丨&thinsp;</rt></ruby>。<ruby>分<rt>&thinsp;ㄏㄨㄣ→ㄏㄨㄣ˫&thinsp;</rt></ruby><ruby>別<rt>&thinsp;ㄅ丨ㄚㆵ&thinsp;</rt></ruby>。<ruby>修<rt>&thinsp;ㄒ丨ㄨ→ㄒ丨ㄨ˫&thinsp;</rt></ruby><ruby>業<rt>&thinsp;ㆣ丨ㄚㆴ̇&thinsp;</rt></ruby>。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   【上聲調】連：平、上、去、入，變似【陰平／無號】。即【二聲變一聲】。
      |       例：<ruby>手<rt>&thinsp;ㄑ丨ㄨˋ→ㄑ丨ㄨ&thinsp;</rt></ruby><ruby>心<rt>&thinsp;ㄒ丨ㆬ&thinsp;</rt></ruby>。<ruby>改<rt>&thinsp;ㄍㄞˋ→ㄍㄞ&thinsp;</rt></ruby><ruby>良<rt>&thinsp;ㄌ丨ㆲˊ&thinsp;</rt></ruby>。<ruby>妲<rt>&thinsp;ㄉㄚㆵ→ㄊㄢˋ&thinsp;</rt></ruby><ruby>己<rt>&thinsp;ㄍ丨ˋ→ㄎ丨ˋ&thinsp;</rt></ruby>。<ruby>主<rt>&thinsp;ㄗㄨˋ→ㄗㄨ&thinsp;</rt></ruby><ruby>意<rt>&thinsp;丨˪&thinsp;</rt></ruby>。
      |           <ruby>早<rt>&thinsp;ㄗㄚˋ→ㄗㄚ&thinsp;</rt></ruby><ruby>飯<rt>&thinsp;ㄅㆭ˫&thinsp;</rt></ruby>。<ruby>款<rt>&thinsp;ㄎㄨㄢˋ→ㄎㄨㄢ&thinsp;</rt></ruby><ruby>式<rt>&thinsp;ㄒ丨ㆵ&thinsp;</rt></ruby>。<ruby>洗<rt>&thinsp;ㄙㆤˋ→ㄙㆤ&thinsp;</rt></ruby><ruby>浴<rt>&thinsp;丨ㆤㆶ̇&thinsp;</rt></ruby>。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   【陰去調】連：平、上、去、入，變似【上聲／ˋ】。即【三聲變二聲】。
      |       例：<ruby>透<rt>&thinsp;ㄊㄠ˪→ㄊㄠˋ&thinsp;</rt></ruby><ruby>風<rt>&thinsp;ㄏㆲ&thinsp;</rt></ruby>。<ruby>破<rt>&thinsp;ㄆㄨㄚ˪→ㄆㄨㄚˋ&thinsp;</rt></ruby><ruby>鞋<rt>&thinsp;ㄨㆤˊ&thinsp;</rt></ruby>。<ruby>銃<rt>&thinsp;ㄑ丨ㄥ˪→ㄑ丨ㄥˋ&thinsp;</rt></ruby><ruby>子<rt>&thinsp;ㄐ丨ˋ&thinsp;</rt></ruby>。<ruby>興<rt>&thinsp;ㄏ丨ㄥ˪→ㄏ丨ㆲˋ&thinsp;</rt></ruby><ruby>趣<rt>&thinsp;ㄘㄨ˪&thinsp;</rt></ruby>。
      |           <ruby>放<rt>&thinsp;ㄏㆲ˪→ㄏㆲˋ&thinsp;</rt></ruby><ruby>蕩<rt>&thinsp;ㄉㆲ˫&thinsp;</rt></ruby>。<ruby>做<rt>&thinsp;ㄗㄜ˪→ㄗㄜˋ&thinsp;</rt></ruby><ruby>穡<rt>&thinsp;ㄒ丨ㆵ&thinsp;</rt></ruby>。<ruby>抗<rt>&thinsp;ㄎㆲ˪→ㄎㆲˋ&thinsp;</rt></ruby><ruby>毒<rt>&thinsp;ㄉㆦㆶ̇&thinsp;</rt></ruby>。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   【陰入調】連：平、上、去、入，變似【陽入／ㆴ̇ㆵ̇ㆶ̇】。但【喉塞韻／～ㆷ】變似
      |       【上聲／ˋ】。
      |       例：<ruby>督<rt>&thinsp;ㄉㆦㆶ→ㄉㆦㆶ̇&thinsp;</rt></ruby><ruby>軍<rt>&thinsp;ㄍㄨㄣ&thinsp;</rt></ruby>。<ruby>踢<rt>&thinsp;ㄊㄚㆵ→ㄊㄚㆵ̇&thinsp;</rt></ruby><ruby>球<rt>&thinsp;ㄍ丨ㄨˊ&thinsp;</rt></ruby>。<ruby>國<rt>&thinsp;ㄍㆦㆶ→ㄍㆦㆶ̇&thinsp;</rt></ruby><ruby>語<rt>&thinsp;ㆣㄨˋ&thinsp;</rt></ruby>。<ruby>得<rt>&thinsp;ㄉ丨ㆤㆶ→ㄉ丨ㆤㆶ̇&thinsp;</rt></ruby><ruby>勝<rt>&thinsp;ㄒ丨ㄥ˪&thinsp;</rt></ruby>。
      |           <ruby>托<rt>&thinsp;ㄊㆦㆶ→ㄊㆦㆶ̇&thinsp;</rt></ruby><ruby>重<rt>&thinsp;ㄉ丨ㆲ˫&thinsp;</rt></ruby>。<ruby>桌<rt>&thinsp;ㄉㄜㆷ→ㄉㄜˋ&thinsp;</rt></ruby><ruby>角<rt>&thinsp;ㄍㄚㆶ&thinsp;</rt></ruby>。<ruby>出<rt>&thinsp;ㄘㄨㆵ→ㄘㄨㆵ̇&thinsp;</rt></ruby><ruby>力<rt>&thinsp;ㄌㄚㆵ̇&thinsp;</rt></ruby>。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   【陽平調】連：平、上、去、入，變似【陽去／˫】。即【五聲變七聲】。
      |       泉州腔則變似【陰去／˪】
      |       例：<ruby>人<rt>&thinsp;ㄌ丨ㄣˊ→ㄌ丨ㄣ˫&thinsp;</rt></ruby><ruby>參<rt>&thinsp;ㄒ丨ㆬ&thinsp;</rt></ruby>。<ruby>茶<rt>&thinsp;ㄉㆤˊ→ㄉㆤ˫&thinsp;</rt></ruby><ruby>油<rt>&thinsp;丨ㄨˊ&thinsp;</rt></ruby>。<ruby>門<rt>&thinsp;ㄇㆭˊ→ㄇㆭ˫&thinsp;</rt></ruby><ruby>口<rt>&thinsp;ㄎㄠˋ&thinsp;</rt></ruby>。<ruby>微<rt>&thinsp;ㆠ丨ˊ→ㆠ丨˫&thinsp;</rt></ruby><ruby>笑<rt>&thinsp;ㄑ丨ㄜ˪&thinsp;</rt></ruby>。
      |           <ruby>黃<rt>&thinsp;ㆭˊ→ㆭ˫&thinsp;</rt></ruby><ruby>豆<rt>&thinsp;ㄉㄠ˫&thinsp;</rt></ruby>。<ruby>油<rt>&thinsp;丨ㄨˊ→丨ㄨ˫&thinsp;</rt></ruby><ruby>漆<rt>&thinsp;ㄘㄚㆵ&thinsp;</rt></ruby>。<ruby>明<rt>&thinsp;ㆠ丨ㄥˊ→ㆠ丨ㄥ˫&thinsp;</rt></ruby><ruby>白<rt>&thinsp;ㄅ丨ㆤㆶ̇&thinsp;</rt></ruby>。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   【陽去調】連：平、上、去、入，變似【陰去／˪】。即【七聲變三聲】。
      |       例：<ruby>認<rt>&thinsp;ㄌ丨ㄣ˫→ㄌ丨ㄣ˪&thinsp;</rt></ruby><ruby>真<rt>&thinsp;ㄐ丨ㄣ&thinsp;</rt></ruby>。<ruby>老<rt>&thinsp;ㄌㄠ˫→ㄌㄠ˪&thinsp;</rt></ruby><ruby>人<rt>&thinsp;ㄌㄤˊ&thinsp;</rt></ruby>。<ruby>字<rt>&thinsp;ㄌ丨˫→ㄌ丨˪&thinsp;</rt></ruby><ruby>典<rt>&thinsp;ㄉ丨ㄢˋ&thinsp;</rt></ruby>。<ruby>大<rt>&thinsp;ㄉㄞ˫→ㄉㄞ˪&thinsp;</rt></ruby><ruby>概<rt>&thinsp;ㄎㄞ˪&thinsp;</rt></ruby>。
      |           <ruby>援<rt>&thinsp;ㄨㄢ˫→ㄨㄢ˪&thinsp;</rt></ruby><ruby>助<rt>&thinsp;ㄗㆦ˫&thinsp;</rt></ruby>。<ruby>道<rt>&thinsp;ㄉㄜ˫→ㄉㄜ˪&thinsp;</rt></ruby><ruby>德<rt>&thinsp;ㄉ丨ㆤㆶ&thinsp;</rt></ruby>。<ruby>大<rt>&thinsp;ㄉㄞ˫→ㄉㄞ˪&thinsp;</rt></ruby><ruby>學<rt>&thinsp;ㄏㄚㆶ̇&thinsp;</rt></ruby>。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |   【陽入調】【ㆴ̇ㆵ̇ㆶ̇】連：平、上、去、入，促聲韻，變似【陰入】【ㆴㆵㆶ】。但
      |       【喉塞韻／～ㆷ̇】強調時變【陰去／˪】。
      |       例：<ruby>立<rt>&thinsp;ㄌ丨ㆴ̇→ㄌ丨ㆴ&thinsp;</rt></ruby><ruby>功<rt>&thinsp;ㄍㆲ&thinsp;</rt></ruby>。<ruby>業<rt>&thinsp;ㆣ丨ㄚㆴ̇→ㆣ丨ㄚㆴ&thinsp;</rt></ruby><ruby>農<rt>&thinsp;ㄌㆲˊ&thinsp;</rt></ruby>。<ruby>十<rt>&thinsp;ㄒ丨ㆴ̇→ㄒ丨ㆴ&thinsp;</rt></ruby><ruby>九<rt>&thinsp;ㄍ丨ㄨˋ&thinsp;</rt></ruby>。<ruby>合<rt>&thinsp;ㄏㄚㆴ̇→ㄏㄚㆴ&thinsp;</rt></ruby><ruby>併<rt>&thinsp;ㄅ丨ㄥ˪&thinsp;</rt></ruby>。
      |           <ruby>食<rt>&thinsp;ㄐ丨ㄚㆷ̇→ㄐ丨ㄚ˪&thinsp;</rt></ruby><ruby>飯<rt>&thinsp;ㄅㆭ˫&thinsp;</rt></ruby>。<ruby>粒<rt>&thinsp;ㄌ丨ㄚㆴ̇→ㄌ丨ㄚㆴ&thinsp;</rt></ruby><ruby>積<rt>&thinsp;ㄐ丨ㆤㆶ&thinsp;</rt></ruby>。<ruby>入<rt>&thinsp;ㄌ丨ㆴ̇→ㄌ丨ㆴ&thinsp;</rt></ruby><ruby>學<rt>&thinsp;ㄏㄚㆶ̇&thinsp;</rt></ruby>。
    p(style="white-space: pre-wrap; font-family: monospace; font-size: 1rem")
      |    為著方便記憶變音規則：可把【5→7→3→2→1→7】以【573217】順序記住。
