---
import type { StructuredEntry } from "../../lib/site/structured-volume.ts";
import StructuredToken from "./StructuredToken.astro";

interface Props {
  entry: StructuredEntry;
}

const { entry } = Astro.props;
---

<div class="entry entry-card">
  <h3 class="entry-spine">
    【
    {entry.head.length > 0
      ? entry.head.map((t) => <StructuredToken token={t} />)
      : entry.headword}
    】
  </h3>
  <dl class="sense-grid">
    {
      entry.senses.map((sense) => (
        <>
          {sense.pos && sense.pos !== "None" && (
            <dd class="pos">{sense.pos}</dd>
          )}
          {sense.mandarin.map((line) => (
            <>
              <dd class="lbl">
                <u class="lg lg-m">華語</u>
              </dd>
              <dd class="lane-mandarin">{line}</dd>
            </>
          ))}
          {sense.taigi.length > 0 && (
            <>
              <dd class="lbl">
                <u class="lg lg-t">台</u>
              </dd>
              <dd class="lane-taigi">
                {sense.taigi.map((t) => (
                  <StructuredToken token={t} />
                ))}
              </dd>
            </>
          )}
        </>
      ))
    }
  </dl>
</div>